	
	{% include 'SopinetFlashMessagesBundle:Messages:notification.html.twig' %}
	{% if tutorial == 1 %}
	<!-- Enable Tutorial -->
	<script type="text/javascript">
		localStorage.setItem('tutorial','home');
	</script>
	{% endif %}

	<!-- First Steps -->	
	{% set children_description = "Children.index.description"|trans %}
	<input type="hidden" id="children_desc" value="{{ children_description }}">

	{% set groups_description = "Groups.index.description"|trans %}
	<input type="hidden" id="groups_desc" value="{{ groups_description }}">

	{% set route_description = "Route.index.description"|trans %}
	<input type="hidden" id="route_desc" value="{{ route_description }}">

	<input type="hidden" id="child_ref" value="{{ path('panel_child')}}">
	<input type="hidden" id="route_ref" value="{{ path('panel_route')}}">
	<input type="hidden" id="group_ref" value="{{ path('panel_group')}}">

	<script type="text/javascript">
	var running=0;
		 var prevent=function(e){
			 if(running==1){
			 e.preventDefault();
			 e.stopPropagation();
			 }
		 }
		 //styles on tutorial running 
		 var tutorialRunning=function(){
			 running=1;
			 localStorage.setItem('tutorial','none');
			 $('*').click(prevent);
			 $('body').on('mousewheel',prevent);
		 };
		 //styles on tutorial stoped 
		 var tutorialStoped=function(){
			     running=0;
    			 $('#wrapper').css('opacity','1');
             };
         //global options for tutotials
         var options={
                 		delay : 6000
                 		,backToTopWhenEnded: true
		    	    	,skipUndefinedTrip: true
		    	    	,tripTheme: 'white'
		    	    	,onTripStart: tutorialRunning
		    	    	,onTripEnd: tutorialStoped
		    	    	,onTripClose: tutorialStoped
			    	    ,showCloseBox: true
			    	    ,showNavigation : true
			    	    ,prevLabel: "<i class='fa fa-backward fa-2x' style='color:#428bca !important'></i>"
				    	,nextLabel: "<i class='fa fa-forward fa-2x' style='color:#428bca !important'></i>"
					    ,finishLabel: "<i class='fa fa-stop fa-2x' style='color:#428bca !important'></i>"
					    ,closeBoxLabel: "<i class='fa fa-sign-out' style='color:#428bca !important'>saltar</i>"

		    		};

 		 //switch between diferents tutorials
 		  
		 var tutorial=function(){switch(localStorage.getItem('tutorial')){
		 case 'home':
			 var loc=$(location).attr('href').toString();
			 //global options customize 
					 			 trip = new Trip([
		    	                     { 

		       	                     	 sel : $('.navbar-fixed-top')
		       	                         ,content : 'Bienvenido a Trazeo, a continuación te explicaré las funciones basicas'
		       	                         ,position: 's'
		       	                      	 ,callback: function(){$(location).attr('href',loc+"#childs")}
	       	                      	 	 ,expose: true
		       	                     },

		   	                         { 
		   	                             sel : $('.resumeGroups'),
		   	                             content : 'Aqui podras crear grupos, definir la visibilidad del grupo, chatear con otros tutores y asignar una ruta para el grupo',
		   	                             position: 'n',
		   	                          	 callback: function(){$(location).attr('href',loc+"#routes")}
		       	                  		 ,expose: true					       	                         
		   	                         },
		   	                         { 
		   	                             sel : $('.resumeRoutes'),
		   	                             content : 'Aqui podras crear nuevas rutas o consultar rutas ya existentes',
		   	                             position: 'n'
		   	                            ,expose: true

		   	                         },
		   	                         { 
		   	                             sel : $('.resumeChilds'),
		   	                             content : 'En el panel de niños, podras añadir niños a trazeo',
		   	                             position: 'n',
		   	                         	 callback: function(){$(location).attr('href',loc+"#groups")}	
		       	                  		 ,expose: true

		       	                     },
		       	                     { 
		   	                        	 sel : $('.navbar-fixed-top')
	        	                         ,content : 'Aqui termina nuestro paseo por la pagina principal de Trazeo'
	        	                         ,position: 's'
		        	                     ,canGoNext: false
		        	                     ,expose: true
				        	             //,callback: function(){localStorage.setItem('tutorial','child');setTimeout(tutorial(),300);}
	        	                     },
		       	                     { 
		   	                        	 sel : $('.navbar-fixed-top')
	        	                         ,content : '¿Cuál es el rol con el que vas a utilizar la aplicación?'
	        	                         ,position: 's'
		        	                     ,canGoNext: false
		        	                     ,expose: true
	        				    	     ,prevLabel: "<p style='color:#428bca !important'>Monitor</p>"
          						    	 ,nextLabel: "<p style='color:#428bca !important'>Padre</p>"
          								 ,finishLabel: "<p style='color:#428bca !important'>Padre</p>"	    
				        	             ,callback: function(){$(location).attr('href',loc+"child/new");}
	        	                     },
	        	                     
		  	            	   	],
		  	            	   	options);
					trip.start();
					break;

		 case 'child':
			  trip = new Trip([
		   	                         { 
		       	                    	 sel : $('#new_child'),
		   	                             content : 'Aqui podemos añadir niños a trazeo',
		   	                             position: 'n'
		   	                             ,expose: true
		   	                         },
		   	                         { 
		   	                             sel : $('#new_group'),
		   	                             content : 'Aqui podemos crear nuevos grupos',
		   	                             position: 'n'
		   	                             ,expose: true
		   	                         },
		   	                         { 
		   	                             sel : $('#new_route'),
		   	                             content : 'Aqui podemos crear una nueva ruta',
		   	                             position: 'n'
		   	                             ,expose: true
		   	                         },
			                         { 
		    	                         sel : $('.fa-home.fa-2x'),
		        	                     content : 'Esta es la pantalla de inicio',
		            	                 position: 'e'
		            	                 ,expose: true
		                	         },
		                    	     { 
		                        	     sel : $('.fa-user.fa-2x'),
		                            	 content : $('#children_desc').val(),
		                        	     position: 'e'
		                        	     ,expose: true
		                         	 },
		                         	{ 
		                            	sel : $('.fa-users.fa-2x'),
		                             	content : $('#groups_desc').val(),
		                             	position: 'e'
		                         	},
		                         	{ 
		                                sel : $('.fa-location-arrow.fa-2x'),
		                             	content : 'Listado de rutas creadas por los usuarios para definir los caminos al cole',
		                             	position: 'e'
		                         	},
		                         	{ 
		                            	sel : $('.fa-user.fa-2x'),
		                             	content : 'Echemos un vistazo a la pantalla de niños',
		                             	position: 'e',
		                             	callback: function(){ 
		                             		localStorage.setItem('tutorial','child');
		                            	 	var url = $('#child_ref').val();    
		                            	 	window.location.replace(url);
		                                 }
		                         	}
		  	            	   	],
		  	            	   	options);
					trip.start();
					break;
		 case 'groups':
	   		  trip = new Trip([
	   	                         { 
	   	                             sel : $('.fa-users.fa-2x'),
	   	                             content : 'Echemos un vistazo a la pantalla de grupos',
	   	                             position: 'e',
	   	                             callback: function(){ 
	   	                            		localStorage.setItem('tutorial','groups');
	   	                            	 	var url = $('#group_ref').val();    
	   	                            	 	//console.log(url);
	   	                            	 	window.location.replace(url);
	   	                                 }
	   	                         }

	   	                      	 ],
	   	                      	 options);
	   				trip.start();
	   				break;
		 case 'routes':
	  		  trip = new Trip([
	  	                         { 
	  	                             sel : $('.fa-location-arrow.fa-2x'),
	  	                             content : 'Echemos un vistazo a la pantalla de rutas',
	  	                             position: 'e',
	  	                             callback: function(){ 
	  	                            		localStorage.setItem('tutorial','routes');
	  	                            	 	var url = $('#route_ref').val();    
	  	                            	 	//console.log(url);
	  	                            	 	window.location.replace(url);
	  	                                 }
	  	                         }
	  	                      	],
	  	                      	options);
	  				trip.start();
	  				break;
		 case 'last':
	   		  trip = new Trip([
	      	                     { 
	        	                     	 sel : $('b'),
	        	                         content : 'Aqui termina nuestro paseo por Trazeo, disfruta de la aplicación',
	        	                         position: 'e'
	        	                     }
	                       		],
	                       		options);
	 			trip.start();
	 			break;	
		 }}

		var tutorialExtendido=function(){
			localStorage.setItem('tutorial','child');
			trip.settings.backToTopWhenEnded=false;
			trip.settings.onTripEnd=function(){};			
			tutorial();
		}

 		tutorial();

  		 
	</script>		