{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

{% block body_content %}
    <!-- START Bootstrap row -->
	<div class="row">

        <!-- START currentGroups -->
        <div class="col-lg-12 currentGroups alert alert-success">
        	<div class="col-md-1">
        		<i class="fa fa-5x fa-clock-o"></i>
        	</div>
        	<div class="col-md-11">
					<h3>Hay grupos en marcha</h3>
					<p>Los siguientes grupos están en marcha y tienes ninos apuntados en ellos:</p>
					<ul class="col-md-3">
						<li><i class="fa fa-group"></i> Grupo 1</li>
						<li><i class="fa fa-group"></i> Grupo 2</li>
					</ul>
					<ul class="col-md-3">
						<li><i class="fa fa-mail-forward"></i> Ir al grupo</li>
					<li><i class="fa fa-mail-forward"></i> Ir al grupo</li>
					</ul>
			</div>
        </div>
        <!-- END currentGropus -->
        
        <!-- START Buttons -->
        <div class="col-md-12">
        	<p class="col-md-2"><a class="btn btn-primary btn-outline" href="{{ path('panel_group') }}"><i class="fa fa-user"></i> Unirme a un grupo</a></p>
        	<p class="col-md-2"><a class="btn btn-primary btn-outline" href="{{ path('panel_route') }}"><i class="fa fa-location-arrow"></i> Buscar una ruta</a></p>
        </div>
        <!-- END Buttons -->

        <!-- START Resume -->
			<div class="col-md-12 resume">
				<h2 class="col-md-12  alert alert-warning">Mi Resumen</h2>
				
				<!-- START resumeChilds -->
				<div class="col-md-12 resumeChilds well">
<<<<<<< HEAD
					<div class="col-md-10">
						<h4 class="alert alert-success">Mis Niños <i class="btn btn-success btn-circle pull-right">{{ childs.count }}</i></h4>
=======
					<div class="col-md-9">
						<h4 class="alert alert-info">Mis Niños <i class="btn btn-info btn-circle btn-circle-margin-fix pull-right">{{ childs.count }}</i></h4>
>>>>>>> 86db3de69181b7117012e11c18f90776f3345272
						<div class="alert alert-warning">
							<table class="table">
								<thead>
									<tr>
										<th><i class="fa fa-user"></i></th>
										<th>Nombre</th>
										<th>Opciones</th>
									</tr>
								</thead>
							        <tbody>
							        {% for child in childs %}
							            <tr>
							                <td>&nbsp;</td>
							                <td>{{ child.nick }}</td>
							                <td>
												<i class="fa fa-pencil"></i> <a href="{{ path('panel_child_edit', {'id': child.id}) }}">Editar</a>
												&nbsp;<i class="fa fa-trash-o"></i> <a data-href="{{ path('panel_child_delete', {'id': child.id }) }}" data-toggle="confirmation">Eliminar</a>
							                </td>
							            </tr>
							        {% endfor %}
							        </tbody>
							</table>
						</div>
					</div>

<<<<<<< HEAD
					<div class="col-md-2">
						<h5 class="alert alert-success text-center">Crear niño</h5>
=======
					<div class="col-md-3">
						<h4 class="alert alert-info text-center">Crear niño</h4>

>>>>>>> 86db3de69181b7117012e11c18f90776f3345272
							<div class="row">
								<div class="col-lg-12 text-center">
								<a href="{{ path('panel_child_new') }}">
									<button type="button" class="btn btn-success btn-circle btn-md">
											<i class="fa fa-plus"></i>
									</button>
								</a>
								</div>
							</div>
							&nbsp;
						<h5 class="alert alert-success text-center">Buscar niño</h5>
							<div class="row">
								<div class="col-lg-12 text-center">
								<a href="{{ path('panel_child') }}">
									<button type="button" class="btn btn-success btn-circle btn-md">
											<i class="fa fa-search"></i>
									</button>
								</a>
								</div>
							</div>
					</div>
				</div>
				<!-- END resumeChilds -->
				
				<!-- START resumeGroups -->
				<div class="col-md-12 resumeGroups well">
					<div class="col-md-10">
<<<<<<< HEAD
						<h4 class="alert alert-success">Mis Grupos <i class="btn btn-success btn-circle pull-right">{{ groups.count }}</i></h4>
=======
						<h4 class="alert alert-info">Mis Grupos <i class="btn btn-info btn-circle btn-circle-margin-fix pull-right">{{ groups.count }}</i></h4>
>>>>>>> 04237be82d3b5d5c99e05f655852f1ef5265beeb
						<div class="alert alert-warning">
							<table class="table">
								<thead>
									<tr>
										<th><i class="fa fa-users"></i></th>
										<th>Nombre</th>
										<th>Opciones</th>
									</tr>
								</thead>
							        <tbody>
							        {% for group in groups %}
							            <tr>
							                <td>&nbsp;</td>
							                <td>{{ group.name }}</td>
							                <td>
												<i class="fa fa-pencil"></i> <a href="{{ path('panel_group') }}{{ group.id }}/edit">Editar</a>
												&nbsp;<i class="fa fa-trash-o"></i> <a data-href="{{ path('panel_group_delete', {'id': group.id }) }}" data-toggle="confirmation">Eliminar</a>
							                </td>
							            </tr>
							        {% endfor %}
							        </tbody>
							</table>
						</div>
					</div>

					<div class="col-md-2">
						<h5 class="alert alert-success text-center">Crear Grupo</h5>
							<div class="row">
								<div class="col-lg-12 text-center">
								<a href="{{ path('panel_group_new') }}">
									<button type="button" class="btn btn-success btn-circle btn-md">
											<i class="fa fa-plus"></i>									
									</button>
								</a>
								</div>
							</div>
							&nbsp;
						<h5 class="alert alert-success text-center">Buscar Grupo</h5>
							<div class="row">
								<div class="col-lg-12 text-center">
								<a href="{{ path('panel_group') }}">
									<button type="button" class="btn btn-success btn-circle btn-md">
											<i class="fa fa-search"></i>
									</button>
									</a>
								</div>
							</div>
					</div>
				</div>
				<!-- END resumeGroups -->	
				
				<!-- START resumeGroups -->
				<div class="col-md-12 resumeGroups well">
					<div class="col-md-10">
<<<<<<< HEAD
						<h4 class="alert alert-success">Mis Rutas <i class="btn btn-success btn-circle pull-right">{{ routes.count }}</i></h4>
=======
						<h4 class="alert alert-info">Mis Rutas <i class="btn btn-info btn-circle btn-circle-margin-fix pull-right">{{ routes.count }}</i></h4>
>>>>>>> 04237be82d3b5d5c99e05f655852f1ef5265beeb
						<div class="alert alert-warning">
							<table class="table">
								<thead>
									<tr>
										<th><i class="fa fa-location-arrow"></i></th>
										<th>Nombre</th>
										<th>Opciones</th>
									</tr>
								</thead>
							        <tbody>
							        {% for route in routes %}
							            <tr>
							                <td>&nbsp;</td>
							                <td>{{ route.name }}</td>
							                <td>
												<i class="fa fa-pencil"></i> <a href="{{ path('panel_route_edit', {'id': route.id }) }}">Editar</a>
												&nbsp;<i class="fa fa-trash-o"></i> <a data-href="{{ path('panel_route_delete', {'id': route.id }) }}" data-toggle="confirmation">Eliminar</a>
							                </td>
							            </tr>
							        {% endfor %}
							        </tbody>
							</table>
						</div>
					</div>

					<div class="col-md-2">
						<h5 class="alert alert-success text-center">Crear Ruta</h5>
							<div class="row">
								<div class="col-lg-12 text-center">
								<a href="{{ path('panel_route_new') }}">
									<button type="button" class="btn btn-success btn-circle btn-md">
											<i class="fa fa-plus"></i>									
									</button>
								</a>
								</div>
							</div>
							&nbsp;
						<h5 class="alert alert-success text-center">Buscar Ruta</h5>
							<div class="row">
								<div class="col-lg-12 text-center">
								<a href="{{ path('panel_route') }}">
									<button type="button" class="btn btn-success btn-circle btn-md">
											<i class="fa fa-search"></i>
									</button>
									</a>
								</div>
							</div>
					</div>
				</div>
				<!-- END resumeRoutes -->			

				
			</div>
			<!-- END Resume -->

    </div>
    <!-- END Bootstrap row -->
    
{% endblock %}