{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}
{% block body_content %}
    <!-- START Bootstrap row -->
	<div class="row">
        <!-- START rideGroups -->
		{% if groupsRide %}
        <div class="col-lg-12 currentGroups alert alert-success">
        	<div class="col-md-1">
        		<i class="fa fa-5x fa-clock-o"></i>
        	</div>
        	<div class="col-md-11">
				<h3>{{ 'Ride.yes.title'|trans }}</h3>
				<p>{{ 'Ride.yes.description'|trans }}</p>
				<br />
				{% for group in groupsRide %}
						<ul class="col-md-5">
							<li><i class="fa fa-users"></i>&nbsp; <a href="{{ path('panel_group_timeline',{'id': group.id}) }}">{{ group.Name }}</a></li>
						</ul>
						<ul class="col-md-5">
							<li><i class="fa fa-mail-forward"></i><a group="{{group.name}}" ride="{{group.ride.id}}" class="ride-action" href="{{ path('panel_ride_current', {'id': group.ride.id}) }}">&nbsp; {{ 'Ride.go'|trans }}</a></li>
						</ul>
				{% endfor %}
			</div>
        </div>
			{% else %}
        {% endif %}
        <!-- END rideGropus -->

        <!-- START Resume -->
			<div class="col-md-12 resume">				
			
			
				{% include 'TrazeoFrontBundle:PanelGroups:_customGroupsPanel.html.twig' with {
					'user': user,
					'groupsAdmin': groupsAdmin,
					'groupsMember': groupsMember,
					'restGroups': restGroups
				} %}
			
			
			
				
				<!-- START resumeRoutes -->
				<div class="col-md-12 resumeRoutes alert alert-warning" id="routes">
				{% if routes|length <= 0 %}
					<div>
						<i class="fa fa-location-arrow fa-5x pull-left alert-warning"></i>
						<h4 class="alert alert-warning">
						{{ 'Route.empty'|trans }}
						&nbsp;&nbsp;
						<a class="btn btn-warning btn-outline" href="{{ path('panel_route_new') }}"><i class="fa fa-hand-o-right"></i> {{ 'Route.new.title'|trans }}</a>
							&nbsp;
						<a class="btn btn-warning btn-outline" href="{{ path('panel_route') }}">
							<i class="fa fa-list-ul"></i>&nbsp; {{ 'Route.list'|trans }}
						</a>
						</h4>
					</div>
				{% elseif routes|length > 0 %}
					<div>
						<h1 class="alert"> <span class="alert alert-warning"><i class="fa fa-location-arrow"></i> {{ 'Route.mine'|trans }}</span> 
							<span class="pull-right">
								<a class="btn btn-xs btn-success" href="{{ path('panel_route_new') }}">
									<i class="fa fa-plus-circle"></i>&nbsp; {{ 'Route.new.title'|trans }}
								</a>
								<a class="btn btn-xs btn-success" href="{{ path('panel_route') }}">
									<i class="fa fa-list-ul"></i>&nbsp; {{ 'Route.list'|trans }}
								</a>
							</span>
						</h1>
						
						{% include 'TrazeoFrontBundle:PanelRoutes:_customRoutes.html.twig' with {'routes': routes} %}
						
					</div>
					{% endif %}
				</div>
				<!-- END resumeRoutes -->	
				<!-- START resumeChilds -->
				<div class="col-md-12 resumeChilds alert alert-warning" id="childs">
				{% if childs|length <= 0 %}
					<div>
						<i class="fa fa-user fa-5x pull-left alert-warning"></i>
						<h4 class="alert alert-warning">
						{{ 'Children.empty'|trans }}
						&nbsp;&nbsp;
						<a class="btn btn-warning btn-outline" href="{{ path('panel_child_new') }}" id="new_child"><i class="fa fa-hand-o-right"></i> {{ 'Children.register'|trans }}</a>
						</h4>
					</div>
				{% elseif childs|length > 0 %}
					<div>
						<h1 class="alert"> <span class="alert alert-warning"><i class="fa fa-user"></i> {{ 'Children.mine'|trans }}</span> 
							<span class="pull-right">
								<a class="btn btn-xs btn-success" href="{{ path('panel_child_new') }}">
									<i class="fa fa-plus-circle"></i>&nbsp; {{ 'Children.new.title'|trans }}
								</a>
								<a class="btn btn-xs btn-success" href="{{ path('panel_child') }}">
									<i class="fa fa-list-ul"></i>&nbsp; {{ 'Children.list'|trans }}
								</a>
							</span>
						</h1>
						<div class="alert alert-warning">
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th>{{ 'Children.data.name'|trans }}</th>
										<th>{{ 'Children.data.visibility'|trans }}</th>
										<th>{{ 'Children.data.age'|trans }}</th>
										<th>{{ 'Children.data.options'|trans }}</th>
									</tr>
								</thead>
							        <tbody>
							        {% for child in childs %}
							            <tr>
							            {% if  child.Gender == "boy" %}
							                <td><i class="fa fa-male"></i></td>
							            {% else %}  
							               <td><i class="fa fa-female"></i></td>
							             {% endif %}
							                <td><a href="{{ path('panel_child') }}/#collapse{{ child.id }}">{{ child.nick }}</a></td>
							                {% if  child.Visibility == 1 %}
							                <td><i class="fa fa-eye btn btn-xs btn-success"></i>&nbsp; {{ 'Children.visibility.public'|trans }}</td>
							                {% else %}
							                <td><i class="fa fa-eye-slash btn btn-xs btn-danger"></i>&nbsp; {{ 'Children.visibility.private'|trans }}</td>
							                {% endif %}
											<td><i class="fa fa-calendar-o"></i>&nbsp; {{ child.datebirth|getTimeAgo}}</td>
							                <td>
												<a class="btn btn-xs btn-default" href="{{ path('panel_child_edit', {'id': child.id}) }}"><i class="fa fa-pencil"></i>&nbsp; {{ 'Options.edit'|trans }}</a>
												<a class="btn btn-xs btn-default" style="cursor:pointer;" data-btnCancelLabel='{{ 'Confirmation.no'|trans }}' data-btnOkLabel='{{ 'Confirmation.yes'|trans }}' data-href="{{ path('panel_child_delete', {'id': child.id }) }}" data-toggle="confirmation" data-title='{{ 'Confirmation.question'|trans }}'><i class="fa fa-trash-o"></i>&nbsp; {{ 'Options.delete'|trans }}</a>
							                </td>
							            </tr>
							        {% endfor %}
							        </tbody>
							</table>
						</div>
					</div>
				
				{% endif %}

				</div>
				<!-- END resumeChilds -->	
			</div>
			<!-- END Resume -->
    </div>
    <!-- END Bootstrap row -->
{% endblock %}

{% block js %}
{{ parent() }} 
	{% include 'TrazeoFrontBundle:Panel:_tutorial.html.twig' %}
	{% include 'TrazeoFrontBundle:Panel:_home_analytics.html.twig' %}
	
{% endblock %}

