{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

{% block body_content %}
    <!-- START Bootstrap row -->
	<div class="row">

        <!-- START currentGroups -->
        <div class="col-lg-12 currentGroups alert alert-success">
        	<div class="col-md-1">
        		<i class="fa fa-5x fa-clock-o"></i>
        	</div>
        	<div class="col-md-11">
        		{% if groupsRide %}
					<h3>Hay paseos en marcha</h3>
					<p>Los siguientes grupos están en marcha y tienes ninos apuntados en ellos:</p>
					<br />
					{% for group in groupsRide %}
							<ul class="col-md-5">
								<li><i class="fa fa-users"></i>&nbsp; <a rel="tooltip-right" title="Panel del grupo" href="{{ path('panel_group_timeline',{'id': group.id}) }}">{{ group.Name }}</a></li>
							</ul>
							<ul class="col-md-5">
								<li><i class="fa fa-mail-forward"></i><a rel="tooltip-right" title="Mapa de la ruta" href="{{ path('panel_route') }}{{ group.Route.Id }}">&nbsp; Ir al paseo</a></li>
							</ul>
					    
					{% endfor %}
				{% else %}
					<h3>No hay paseos en marcha</h3>
					<p>Actualmente ninguno de los grupos en los que estás inscrito está realizando un paseo</p>
				{% endif %}
			</div>
        </div>
        <!-- END currentGropus -->

        <!-- START Resume -->
			<div class="col-md-12 resume">
				<h2 class="col-md-12  alert alert-warning"><i class="fa fa-cogs"></i>&nbsp; Panel de control</h2>

				<!-- START resumeChilds -->
				<div class="col-md-12 resumeChilds alert alert-warning">
				{% if childs|length <= 0 %}
					<div>
						<i class="fa fa-user fa-5x pull-left alert-warning"></i>
						<h4 class="alert alert-warning">
						Aún no has registrado a ninguno de tus niños
						&nbsp;&nbsp;
						<a class="btn btn-warning btn-outline" href="{{ path('panel_child_new') }}"><i class="fa fa-hand-o-right"></i> Registrar mis niños/as en Trazeo</a>
						</h4>
					</div>
				{% elseif childs|length > 0 %}
					<div>
						<h1 class="alert"> <span class="alert alert-warning"><i class="fa fa-user"></i> Mis Niños</span> 
							<span class="pull-right">
								<a class="btn btn-xs btn-success" href="{{ path('panel_child_new') }}">
									<i class="fa fa-plus-circle"></i>&nbsp; Registar Niño/a
								</a>
								<a class="btn btn-xs btn-success" href="{{ path('panel_child') }}">
									<i class="fa fa-list-ul"></i>&nbsp; Listado de niños/as
								</a>
							</span>
						</h1>
						<div class="alert alert-warning">
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th>Nombre</th>
										<th>Visibilidad</th>
										<th>Edad</th>
										<th>Opciones</th>
									</tr>
								</thead>
							        <tbody>
							        {% for child in childs %}
							            <tr>
							            {% if  child.Gender == "boy" %}
							                <td><i class="fa fa-male"></i></td>
							            {% else %}  
							               <td><i class="fa fa-female"></i></td>
							             {% endif %}
							                <td>{{ child.nick }}</td>
							                {% if  child.Visibility == 1 %}
							                <td><i rel="tooltip-top" title="Visible para todos" class="fa fa-eye btn btn-xs btn-success"></i>&nbsp; Público</td>
							                {% else %}
							                <td><i rel="tooltip-top" title="Sólo visible para tutores" class="fa fa-eye-slash btn btn-xs btn-warning"></i>&nbsp; Oculto</td>
							                {% endif %}
											<td><i class="fa fa-calendar-o"></i>&nbsp; {{ child.datebirth|getTimeAgo}}</td>
							                <td>
												<a class="btn btn-xs btn-default" href="{{ path('panel_child_edit', {'id': child.id}) }}"><i class="fa fa-pencil"></i>&nbsp; Editar</a>
												<a class="btn btn-xs btn-default" style="cursor:pointer;" data-href="{{ path('panel_child_delete', {'id': child.id }) }}" data-toggle="confirmation"><i class="fa fa-trash-o"></i>&nbsp; Eliminar</a>
							                </td>
							            </tr>
							        {% endfor %}
							        </tbody>
							</table>
						</div>
					</div>
				
				{% endif %}

				</div>
				<!-- END resumeChilds -->
				
				<!-- START resumeGroups -->
				<div class="col-md-12 resumeGroups alert alert-warning">
			{% if groups|length <= 0 %}
					<div>
						<i class="fa fa-users fa-5x pull-left alert-warning"></i>
						<h4 class="alert alert-warning">
						Crea un nuevo grupo de usuarios y asígnale una ruta de paseo
						&nbsp;&nbsp;
						<a class="btn btn-warning btn-outline" href="{{ path('panel_group_new') }}"><i class="fa fa-hand-o-right"></i> Crear un grupo</a>
						</h4>
					</div>
				{% elseif groups|length > 0 %}
					<div>
						<h1 class="alert"> <span class="alert alert-warning"><i class="fa fa-users"></i> Mis Grupos</span> 
							<span class="pull-right">
								<a class="btn btn-xs btn-success" href="{{ path('panel_group_new') }}">
									<i class="fa fa-plus-circle"></i>&nbsp; Añadir Grupo
								</a>
								<a class="btn btn-xs btn-success" href="{{ path('panel_group') }}">
									<i class="fa fa-list-ul"></i>&nbsp; Listado de grupos
								</a>
							</span>
						</h1>
						<div class="alert alert-warning">
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th>Nombre</th>
										<th>Visibilidad</th>
										<th>Panel</th>
										<th>Ruta</th>
										<th>Opciones</th>
									</tr>
								</thead>
							        <tbody>
							        {% for group in groups %}
							            <tr>
							                <td><i class="fa fa-users"></i></td>
							                <td>{{ group.name }}</td>
							                {% if  group.Visibility == 0 %}
							                <td><i rel="tooltip-top" title="Acceso libre" class="fa fa-lock btn btn-xs btn-success"></i>&nbsp; Público</td>
							                {% elseif group.Visibility == 1 %}
							                <td><i rel="tooltip-top" title="Acceso mediante solicitud" class="fa fa-lock btn btn-xs btn-danger"></i>&nbsp; Privado</td>
							                {% elseif group.Visibility == 2 %}
							                <td><i rel="tooltip-top" title="Acceso mediante invitación del administrador" class="fa fa-eye-slash btn btn-xs btn-warning"></i>&nbsp; Oculto</td>
							                {% endif %}
							                <td><a href="{{ path('panel_group_timeline',{'id': group.id}) }}"><i class="fa fa-comments-o"></i>&nbsp; Chat del grupo</a></td>
							                <td><a href="{{ path('panel_route')}}{{ group.Route.Id }}">{{ group.Route.Name }}</a></td>
							                <td>
												<a class="btn btn-xs btn-default" href="{{ path('panel_group') }}{{ group.id }}/edit"><i class="fa fa-pencil"></i>&nbsp;  Editar</a>
												<a class="btn btn-xs btn-default" style="cursor:pointer;" data-href="{{ path('panel_group_delete', {'id': group.id }) }}" data-toggle="confirmation"" ><i class="fa fa-trash-o"></i>&nbsp; Eliminar</a>
							                </td>
							            </tr>
							        {% endfor %}
							        </tbody>
							</table>
						</div>
					</div>
					{% endif %}
				</div>
				<!-- END resumeGroups -->	
				
				<!-- START resumeGroups -->
				<div class="col-md-12 resumeGroups alert alert-warning">
				{% if routes|length <= 0 %}
					<div>
						<i class="fa fa-location-arrow fa-5x pull-left alert-warning"></i>
						<h4 class="alert alert-warning">
						Traza una ruta de paseo segura en tu ciudad para ir al cole
						&nbsp;&nbsp;
						<a class="btn btn-warning btn-outline" href="{{ path('panel_route_new') }}"><i class="fa fa-hand-o-right"></i> Definir nueva ruta</a>
						</h4>
					</div>
				{% elseif routes|length > 0 %}
					<div>
						<h1 class="alert"> <span class="alert alert-warning"><i class="fa fa-location-arrow"></i> Mis Rutas</span> 
							<span class="pull-right">
								<a class="btn btn-xs btn-success" href="{{ path('panel_route_new') }}">
									<i class="fa fa-plus-circle"></i>&nbsp; Crear Ruta
								</a>
								<a class="btn btn-xs btn-success" href="{{ path('panel_route') }}">
									<i class="fa fa-list-ul"></i>&nbsp; Listado de rutas
								</a>
							</span>
						</h1>
						<div class="alert alert-warning">
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th>Nombre</th>
										<th>Mapa del paseo</th>
										<th>Opciones</th>
									</tr>
								</thead>
							        <tbody>
							        {% for route in routes %}
							            <tr>
							                <td><i class="fa fa-location-arrow"></i></td>
							                <td>{{ route.name }}</td>
							                <td><a href="{{ path('panel_route')}}{{ route.Id }}"><i class="fa fa-map-marker"></i>&nbsp; Ver</a></td>
							                <td>
												<a class="btn btn-xs btn-default" href="{{ path('panel_route_edit', {'id': route.id }) }}"><i class="fa fa-pencil"></i>&nbsp;  Editar</a>
												<a class="btn btn-xs btn-default" style="cursor:pointer;" data-href="{{ path('panel_route_delete', {'id': route.id }) }}" data-toggle="confirmation"><i class="fa fa-trash-o"></i>&nbsp; Eliminar</a>
							                </td>
							            </tr>
							        {% endfor %}
							        </tbody>
							</table>
						</div>
					</div>
					{% endif %}
				</div>
				<!-- END resumeRoutes -->			

				
			</div>
			<!-- END Resume -->

    </div>
    <!-- END Bootstrap row -->
{% endblock %}

{% block js %} {{ parent() }} 
	{% include 'SopinetFlashMessagesBundle:Messages:notification.html.twig' %} 
{% endblock %}