{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}
{% block body_content %}
    <!-- START rideGroups -->
	{% if groupsRide %}
	<div class="row">
        <div class="col-lg-12 currentGroups alert alert-success">
        	<div class="col-md-1">
        		<i class="fa fa-5x fa-clock-o"></i>
        	</div>
        	<div class="col-md-11">
				<h3>{{ 'Ride.yes.title'|trans }}</h3>
				<p>{{ 'Ride.yes.description'|trans }}</p>
				<br />
				{% for group in groupsRide %}
					<ul class="col-md-5">
						<li><i class="fa fa-users"></i>&nbsp; <a href="{{ path('panel_group_timeline',{'id': group.id}) }}">{{ group.Name }}</a></li>
					</ul>
					<ul class="col-md-5">
						<li><i class="fa fa-mail-forward"></i><a group="{{group.name}}" ride="{{group.ride.id}}" class="ride-action" href="{{ path('panel_ride_current', {'id': group.ride.id}) }}">&nbsp; {{ 'Ride.go'|trans }}</a></li>
					</ul>
				{% endfor %}
			</div>
        </div>
    </div>
	{% else %}
		<!-- No mostramos nada -->
    {% endif %}
    <!-- END rideGropus -->

    <!-- START Resume -->
	<div class="row">				
		{% include 'TrazeoFrontBundle:PanelGroups:_customGroupsPanel.html.twig' with {
			'groupsAdmin': groupsAdmin,
			'groupsMember': groupsMember,
			'restGroups': restGroups
		} %}
	</div>
	<hr/>
	<!-- END resumeGroups -->
	
	<!-- START resumeRoutes -->
	<div class="row">
		{% include 'TrazeoFrontBundle:PanelRoutes:_customRoutesPanel.html.twig' with {
			'routes': routes
		} %}
	</div>
	<hr/>
	<!-- END resumeRoutes -->
		
	<!-- START resumeChilds -->	
	<div class="row">
		{% include 'TrazeoFrontBundle:PanelChildren:_customChildrenPanel.html.twig' with {
			'childs': childs
		} %}
	</div>
	<hr/>
	<!-- END resumeChilds -->
{% endblock %}

{% block js %}
{{ parent() }} 
	{% include 'TrazeoFrontBundle:Panel:_tutorial.html.twig' %}
	{% include 'TrazeoFrontBundle:Panel:_home_analytics.html.twig' %}
	
{% endblock %}

