{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}
{% set ride_description = 'Ride.yes.description.singular'|trans %}
{% set ride_yes = 'Ride.yes.title.singular'|trans %}
{% set ride_description_plural = 'Ride.yes.description.plural'|trans %}
{% set ride_yes_plural = 'Ride.yes.title.plural'|trans %}
{% block body_content %}
    <!-- START rideGroups -->
	{% if groupsRide %}
	<div class="row">
        <div class="col-lg-12 currentGroups alert alert-success">
        	<div class="col-md-1">
        		<i class="fa fa-5x fa-clock-o"></i>
        	</div>
        	<div class="col-md-11">        	
				{% if groupsRide|length > 0 %}
					<h3>{{ ride_yes_plural }}</h3>
					<p>{{ ride_description_plural }}</p>
				{% else  %}
					<h3>{{ ride_yes }}</h3>
					<p>{{ ride_description }}</p>
				{% endif %}
		
				<br />
				{% for group in groupsRide %}
				<div class="row currentRide" id="{{group.id}}">
					<ul class="col-md-6">
						<li><i class="fa fa-2x fa-users"></i>&nbsp; <a href="{{ path('panel_group_timeline',{'id': group.id}) }}">{{ group.Name }}</a></li>
					</ul>
					<ul class="col-md-6">
						<li><i class="fa fa-2x fa-mail-forward"></i><a group="{{group.name}}" ride="{{group.ride.id}}" class="ride-action" href="{{ path('panel_ride_current', {'id': group.ride.id}) }}">&nbsp; {{ 'Ride.go'|trans }}</a></li>
					</ul>
				</div>
				{% endfor %}
			</div>
        </div>
    </div>
	{% else %}
		<!-- No mostramos nada -->
    {% endif %}
    <!-- END rideGropus -->
    <!-- START Resume -->
	<div class="row">				
		{% include 'TrazeoFrontBundle:PanelGroups:_customGroupsPanel.html.twig' with {
			'groupsAdmin': groupsAdmin,
			'groupsMember': groupsMember,
			'restGroups': restGroups
		} %}
	</div>
	<hr/>
	<!-- END resumeGroups -->
	 <!-- START User Points -->
 	<div class="row">
    {% include 'TrazeoFrontBundle:PanelPoints:_customPointsPanel.html.twig' with{
    		'user': user,
    		'childs': childs
	} %}
	</div>
	<hr/>
    <!-- END User Points -->
	<!-- START resumeRoutes -->
	<div class="row">
		{% include 'TrazeoFrontBundle:PanelRoutes:_customRoutesPanel.html.twig' with {
			'routes': routes
		} %}
	</div>
	<hr/>
	<!-- END resumeRoutes -->
		
	<!-- START resumeChilds -->	
	<div class="row">
		{% include 'TrazeoFrontBundle:PanelChildren:_customChildrenPanel.html.twig' with {
			'childs': childs
		} %}
	</div>
	<hr/>
	<!-- END resumeChilds -->
{% endblock %}

{% block js %}
{{ parent() }} 
	{% include 'TrazeoFrontBundle:Panel:_tutorial.html.twig' %}
	{% include 'TrazeoFrontBundle:Panel:_home_analytics.html.twig' %}
	{% include 'TrazeoFrontBundle:Panel:_ajax_rides.html.twig'
		 with { 'ride_yes': ride_yes,
		 		'ride_description_plural':ride_description_plural,
		 		'ride_yes_plural': ride_yes_plural,
		 		'ride_description': ride_description
		 }
	%}
{% endblock %}

