{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}
{% block body_content %}
    <!-- START Bootstrap row -->
	<div class="row">

	
        <!-- START currentGroups -->
        <div class="col-lg-12 currentGroups alert alert-success">
        	<div class="col-md-1">
        		<i class="fa fa-5x fa-clock-o"></i>
        	</div>
        	<div class="col-md-11">
        		{% if groupsRide %}
					<h3>{{ 'Ride.yes.title'|trans }}</h3>
					<p>{{ 'Ride.yes.description'|trans }}</p>
					<br />
					{% for group in groupsRide %}
							<ul class="col-md-5">
								<li><i class="fa fa-users"></i>&nbsp; <a href="{{ path('panel_group_timeline',{'id': group.id}) }}">{{ group.Name }}</a></li>
							</ul>
							<ul class="col-md-5">
								<li><i class="fa fa-mail-forward"></i><a href="{{ path('panel_ride_current', {'id': group.ride.id}) }}">&nbsp; {{ 'Ride.go'|trans }}</a></li>
							</ul>
					    
					{% endfor %}
				{% else %}
					<h3>{{ 'Ride.no.title'|trans }}</h3>
					<p>{{ 'Ride.no.description'|trans }}</p>
				{% endif %}
			</div>
        </div>
        <!-- END currentGropus -->

        <!-- START Resume -->
			<div class="col-md-12 resume">
				<h2 class="col-md-12  alert alert-warning"><i class="fa fa-cogs"></i>&nbsp; {{ 'Panel.title'|trans }}</h2>

				<!-- START resumeChilds -->
				<div class="col-md-12 resumeChilds alert alert-warning" id="childs">
				{% if childs|length <= 0 %}
					<div>
						<i class="fa fa-user fa-5x pull-left alert-warning"></i>
						<h4 class="alert alert-warning">
						{{ 'Children.empty'|trans }}
						&nbsp;&nbsp;
						<a class="btn btn-warning btn-outline" href="{{ path('panel_child_new') }}"><i class="fa fa-hand-o-right"></i> {{ 'Children.register'|trans }}</a>
						</h4>
					</div>
				{% elseif childs|length > 0 %}
					<div>
						<h1 class="alert"> <span class="alert alert-warning"><i class="fa fa-user"></i> {{ 'Children.mine'|trans }}</span> 
							<span class="pull-right">
								<a class="btn btn-xs btn-success" href="{{ path('panel_child_new') }}">
									<i class="fa fa-plus-circle"></i>&nbsp; {{ 'Children.new'|trans }}
								</a>
								<a class="btn btn-xs btn-success" href="{{ path('panel_child') }}">
									<i class="fa fa-list-ul"></i>&nbsp; {{ 'Children.list'|trans }}
								</a>
							</span>
						</h1>
						<div class="alert alert-warning">
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th>{{ 'Children.data.name'|trans }}</th>
										<th>{{ 'Children.data.visibility'|trans }}</th>
										<th>{{ 'Children.data.age'|trans }}</th>
										<th>{{ 'Children.data.options'|trans }}</th>
									</tr>
								</thead>
							        <tbody>
							        {% for child in childs %}
							            <tr>
							            {% if  child.Gender == "boy" %}
							                <td><i class="fa fa-male"></i></td>
							            {% else %}  
							               <td><i class="fa fa-female"></i></td>
							             {% endif %}
							                <td>{{ child.nick }}</td>
							                {% if  child.Visibility == 1 %}
							                <td><i class="fa fa-eye btn btn-xs btn-success"></i>&nbsp; {{ 'Groups.visibility.public'|trans }}</td>
							                {% else %}
							                <td><i class="fa fa-eye-slash btn btn-xs btn-warning"></i>&nbsp; {{ 'Groups.visibility.hidde'|trans }}</td>
							                {% endif %}
											<td><i class="fa fa-calendar-o"></i>&nbsp; {{ child.datebirth|getTimeAgo}}</td>
							                <td>
												<a class="btn btn-xs btn-default" href="{{ path('panel_child_edit', {'id': child.id}) }}"><i class="fa fa-pencil"></i>&nbsp; {{ 'Options.edit'|trans }}</a>
												<a class="btn btn-xs btn-default" style="cursor:pointer;" data-btnCancelLabel='{{ 'Confirmation.no'|trans }}' data-btnOkLabel='{{ 'Confirmation.yes'|trans }}' data-href="{{ path('panel_child_delete', {'id': child.id }) }}" data-toggle="confirmation" data-title='{{ 'Confirmation.question'|trans }}'><i class="fa fa-trash-o"></i>&nbsp; {{ 'Options.delete'|trans }}</a>
							                </td>
							            </tr>
							        {% endfor %}
							        </tbody>
							</table>
						</div>
					</div>
				
				{% endif %}

				</div>
				<!-- END resumeChilds -->
				
				<!-- START resumeGroups -->
				<div class="col-md-12 resumeGroups alert alert-warning" id="groups">
			{% if groups|length <= 0 %}
					<div>
						<i class="fa fa-users fa-5x pull-left alert-warning"></i>
						<h4 class="alert alert-warning">
						{{ 'Groups.empty'|trans }}
						&nbsp;&nbsp;
						<a class="btn btn-warning btn-outline" href="{{ path('panel_group_new') }}"><i class="fa fa-hand-o-right"></i> {{ 'Groups.new.title'|trans }}</a>
							&nbsp;
						<a class="btn btn-warning btn-outline" href="{{ path('panel_group') }}">
							<i class="fa fa-list-ul"></i>&nbsp; {{ 'Groups.list'|trans }}
						</a>
						</h4>
					</div>
				{% elseif groups|length > 0 %}
					<div>
						<h1 class="alert"> <span class="alert alert-warning"><i class="fa fa-users"></i> {{ 'Groups.mine'|trans }}</span> 
							<span class="pull-right">
								<a class="btn btn-xs btn-success" href="{{ path('panel_group_new') }}">
									<i class="fa fa-plus-circle"></i>&nbsp; {{ 'Groups.new.title'|trans }}
								</a>
								<a class="btn btn-xs btn-success" href="{{ path('panel_group') }}">
									<i class="fa fa-list-ul"></i>&nbsp; {{ 'Groups.list'|trans }}
								</a>
							</span>
						</h1>
						<div class="alert alert-warning">
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th>{{ 'Groups.data.name'|trans }}</th>
										<th>{{ 'Groups.data.visibility'|trans }}</th>
										<th>{{ 'Groups.data.activity'|trans }}</th>
										<th>{{ 'Groups.data.route'|trans }}</th>
										<th>{{ 'Groups.data.options'|trans }}</th>
									</tr>
								</thead>
							        <tbody>
							        {% for group in groups %}
							            <tr>
							                <td><i class="fa fa-users"></i></td>
							                <td><a href="{{ path('panel_group') }}{{ group.id }}"</a>{{ group.Name }} </td>
							                {% if  group.Visibility == 0 %}
							                <td><i rel="tooltip-top" title="Acceso libre" class="fa fa-unlock btn btn-xs btn-success"
							                groupVisibility="0" changeVisibility="{{ path('panel_group_changeVisibility', { 'id': group.id, 'visibility': "replace" }) }}";
											id="visibility-{{ group.id }}" data-toggle="confirmationChange"></i>&nbsp; {{ 'Groups.visibility.public'|trans }}</td>
							                {% elseif group.Visibility == 1 %}
							                <td><i rel="tooltip-top" title="Acceso mediante solicitud" class="fa fa-lock btn btn-xs btn-danger"
							                groupVisibility="1" changeVisibility="{{ path('panel_group_changeVisibility', { 'id': group.id, 'visibility': "replace" }) }}";
											id="visibility-{{ group.id }}" data-toggle="confirmationChange"></i>&nbsp; {{ 'Groups.visibility.private'|trans }}</td>
							                {% elseif group.Visibility == 2 %}
							                <td><i rel="tooltip-top" title="Acceso mediante invitación del administrador" class="fa fa-eye-slash btn btn-xs btn-warning"
							                groupVisibility="2" changeVisibility="{{ path('panel_group_changeVisibility', { 'id': group.id, 'visibility': "replace" }) }}";
											id="visibility-{{ group.id }}" data-toggle="confirmationChange"></i>&nbsp; {{ 'Groups.visibility.hidden'|trans }}</td>
							                {% endif %}
							                <td><a href="{{ path('panel_group_timeline',{'id': group.id}) }}"><i class="fa fa-comments-o"></i>&nbsp; {{ 'Groups.data.chat'|trans }}</a></td>
							                <td><a href="{{ path('panel_route')}}{{ group.Route.Id }}">{{ group.Route.Name }}</a></td>
							                <td>
												<a class="btn btn-xs btn-default" href="{{ path('panel_group') }}{{ group.id }}/edit"><i class="fa fa-pencil"></i>&nbsp;  {{ 'Options.edit'|trans }}</a>
												<a class="btn btn-xs btn-default" style="cursor:pointer;" data-href="{{ path('panel_group_delete', {'id': group.id }) }}" data-toggle="confirmation"" data-title='{{ 'Confirmation.question'|trans }}' data-btnCancelLabel='{{ 'Confirmation.no'|trans }}' data-btnOkLabel='{{ 'Confirmation.yes'|trans }}'><i class="fa fa-trash-o"></i>&nbsp; {{ 'Options.delete'|trans }}</a>
							                </td>
							            </tr>
							        {% endfor %}
							        </tbody>
							</table>
						</div>
					</div>
					{% endif %}
				</div>
				<!-- END resumeGroups -->	
				
				<!-- START resumeGroups -->
				<div class="col-md-12 resumeGroups resumeRoutes alert alert-warning" id="routes">
				{% if routes|length <= 0 %}
					<div>
						<i class="fa fa-location-arrow fa-5x pull-left alert-warning"></i>
						<h4 class="alert alert-warning">
						{{ 'Route.empty'|trans }}
						&nbsp;&nbsp;
						<a class="btn btn-warning btn-outline" href="{{ path('panel_route_new') }}"><i class="fa fa-hand-o-right"></i> {{ 'Route.new.title'|trans }}</a>
							&nbsp;
						<a class="btn btn-warning btn-outline" href="{{ path('panel_route') }}">
							<i class="fa fa-list-ul"></i>&nbsp; {{ 'Route.list'|trans }}
						</a>
						</h4>
					</div>
				{% elseif routes|length > 0 %}
					<div>
						<h1 class="alert"> <span class="alert alert-warning"><i class="fa fa-location-arrow"></i> {{ 'Route.mine'|trans }}</span> 
							<span class="pull-right">
								<a class="btn btn-xs btn-success" href="{{ path('panel_route_new') }}">
									<i class="fa fa-plus-circle"></i>&nbsp; {{ 'Route.new.title'|trans }}
								</a>
								<a class="btn btn-xs btn-success" href="{{ path('panel_route') }}">
									<i class="fa fa-list-ul"></i>&nbsp; {{ 'Route.list'|trans }}
								</a>
							</span>
						</h1>
						<div class="alert alert-warning">
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th>{{ 'Route.data.name'|trans }}</th>
										<th>{{ 'Route.data.map'|trans }}</th>
										<th>{{ 'Route.data.options'|trans }}</th>
									</tr>
								</thead>
							        <tbody>
							        {% for route in routes %}
							            <tr>
							                <td><i class="fa fa-location-arrow"></i></td>
							                <td>{{ route.name }}</td>
							                <td><a href="{{ path('panel_route')}}{{ route.Id }}"><i class="fa fa-map-marker"></i>&nbsp; Ver</a></td>
							                <td>
												<a class="btn btn-xs btn-default" href="{{ path('panel_route_edit', {'id': route.id }) }}"><i class="fa fa-pencil"></i>&nbsp;  {{ 'Options.edit'|trans }}</a>
												<a class="btn btn-xs btn-default" style="cursor:pointer;" data-href="{{ path('panel_route_delete', {'id': route.id }) }}" data-toggle="confirmation" data-btnCancelLabel='{{ 'Confirmation.no'|trans }}' data-btnOkLabel='{{ 'Confirmation.yes'|trans }}' data-title='{{ 'Confirmation.question'|trans }}'><i class="fa fa-trash-o"></i>&nbsp; {{ 'Options.delete'|trans }}</a>
							                </td>
							            </tr>
							        {% endfor %}
							        </tbody>
							</table>
						</div>
					</div>
					{% endif %}
				</div>
				<!-- END resumeRoutes -->				
			</div>
			<!-- END Resume -->
    </div>
    <!-- END Bootstrap row -->
{% endblock %}

{% block js %}
	{{ parent() }} 
	{% include 'SopinetFlashMessagesBundle:Messages:notification.html.twig' %} 
	{% if tutorial == 1 %}
	<!-- Enable Tutorial -->
	<script type="text/javascript">
		localStorage.setItem('tutorial','home');
	</script>
	{% endif %}
	
	<!-- First Steps -->	
	{% set children_description = "Children.index.description"|trans %}
	<input type="hidden" id="children_desc" value="{{ children_description }}">
	
	{% set groups_description = "Groups.index.description"|trans %}
	<input type="hidden" id="groups_desc" value="{{ groups_description }}">
	
	{% set route_description = "Route.index.description"|trans %}
	<input type="hidden" id="route_desc" value="{{ route_description }}">
	
	<input type="hidden" id="child_ref" value="{{ path('panel_child')}}">
	<input type="hidden" id="route_ref" value="{{ path('panel_route')}}">
	<input type="hidden" id="group_ref" value="{{ path('panel_group')}}">
	
	<script type="text/javascript">
		 switch(localStorage.getItem('tutorial')){
		 case 'home':
			 var loc=$(location).attr('href').toString();
			 localStorage.setItem('tutorial','none');
			 $('*').click(function(e){e.preventDefault();});
			 $('body').on({'mousewheel': function(e) {
				     e.preventDefault();
				     e.stopPropagation();
				     }
				 });
			 $('#wrapper').css('opacity','0.25');			 
			 			var trip = new Trip([
		    	                     { 
		       	                     	 sel : $('b'),
		       	                         content : 'Bienvenido a Trazeo, a continuación te explicaré las funciones basicas',
		       	                         position: 'e',
		       	                      	 callback: function(){$(location).attr('href',loc+"#childs")}
		       	                     },
		   	                         { 
		   	                             sel : $('.resumeChilds'),
		   	                             content : 'En el panel de niños, podras añadir niños a trazeo',
		   	                             position: 'n',
		   	                         	 callback: function(){$(location).attr('href',loc+"#groups")}	
			       	                     		
		       	                     },
		   	                         { 
		   	                             sel : $('.resumeGroups'),
		   	                             content : 'Aqui podras crear grupos, definir la visibilidad del grupo, chatear con otros tutores y asignar una ruta para el grupo',
		   	                             position: 'n',
		   	                          	 callback: function(){$(location).attr('href',loc+"#routes")}					       	                         
		   	                         },
		   	                         { 
		   	                             sel : $('.resumeRoutes'),
		   	                             content : 'Aqui podras crear nuevas rutas o consultar rutas ya existentes',
		   	                             position: 'n'
		   	                          	 
		   	                         },
		      	                    { 
	        	                    	 sel : $('b'),
	        	                         content : 'Aqui termina nuestro paseo por Trazeo, disfruta de la aplicación',
	        	                         position: 'e',
	        	                         callback: function(){
	        	                			 $('*').off();
	        	                			 $('#wrapper').css('opacity','1');
	        	                			 localStorage.setItem('tutorial','none');
	        	                         }
	        	                        
	        	                     }
		  	            	   	],//options 
		 	               		{
		    	    		 		delay : 6000,
		    	    		 		//skipUndefinedTrip: false
		    	    		 		tripTheme: 'white'
		    	    		 		,backToTopWhenEnded:true
		    					}
		 				);
					trip.start();
					break;

		 case 'child':
			 localStorage.setItem('tutorial','none');
			 var trip = new Trip([
		    	                     { 
		       	                     	 sel : $('b'),
		       	                         content : 'Bienvenido a Trazeo, a continuación te explicaré las funciones basicas',
		       	                         position: 'e'
		       	                     },
		   	                         { 
		       	                    	 sel : $('#new_child'),
		   	                             content : 'Aqui podemos añadir niños a trazeo',
		   	                             position: 'n'
		   	                         },
		   	                         { 
		   	                             sel : $('#new_group'),
		   	                             content : 'Aqui podemos crear nuevos grupos',
		   	                             position: 'n'
		   	                         },
		   	                         { 
		   	                             sel : $('#new_route'),
		   	                             content : 'Aqui podemos crear una nueva ruta',
		   	                             position: 'n'
		   	                         },
			                         { 
		    	                         sel : $('.fa-home.fa-2x'),
		        	                     content : 'Esta es la pantalla de inicio',
		            	                 position: 'e'
		                	         },
		                    	     { 
		                        	     sel : $('.fa-user.fa-2x'),
		                            	 content : $('#children_desc').val(),
		                        	     position: 'e'
		                         	 },
		                         	{ 
		                            	sel : $('.fa-users.fa-2x'),
		                             	content : $('#groups_desc').val(),
		                             	position: 'e'
		                         	},
		                         	{ 
		                                sel : $('.fa-location-arrow.fa-2x'),
		                             	content : 'Listado de rutas creadas por los usuarios para definir los caminos al cole',
		                             	position: 'e'
		                         	},
		                         	{ 
		                            	sel : $('.fa-user.fa-2x'),
		                             	content : 'Echemos un vistazo a la pantalla de niños',
		                             	position: 'e',
		                             	callback: function(){ 
		                             		localStorage.setItem('tutorial','child');
		                            	 	var url = $('#child_ref').val();    
		                            	 	window.location.replace(url);
		                                 }
		                         	}
		  	            	   	],//options 
		 	               		{
		    	    		 		delay : 2500,
		    	    		 		skipUndefinedTrip: true
		    	    		 		//tripTheme: 'white'
		    					}
		 				);
					trip.start();
					break;
		 case 'groups':
			 localStorage.setItem('tutorial','none');
	   		 var trip = new Trip([
	   	                         { 
	   	                             sel : $('.fa-users.fa-2x'),
	   	                             content : 'Echemos un vistazo a la pantalla de grupos',
	   	                             position: 'e',
	   	                             callback: function(){ 
	   	                            		localStorage.setItem('tutorial','groups');
	   	                            	 	var url = $('#group_ref').val();    
	   	                            	 	//console.log(url);
	   	                            	 	window.location.replace(url);
	   	                                 }
	   	                         }
	   	                      ], {
	   	        					 delay : 2500,
	   	        					 skipUndefinedTrip: true
	   	    				});
	   				trip.start();
	   				break;
		 case 'routes':
			 localStorage.setItem('tutorial','none');
	  		 var trip = new Trip([
	  	                         { 
	  	                             sel : $('.fa-location-arrow.fa-2x'),
	  	                             content : 'Echemos un vistazo a la pantalla de rutas',
	  	                             position: 'e',
	  	                             callback: function(){ 
	  	                            		localStorage.setItem('tutorial','routes');
	  	                            	 	var url = $('#route_ref').val();    
	  	                            	 	//console.log(url);
	  	                            	 	window.location.replace(url);
	  	                                 }
	  	                         }
	  	                      ], {
	  	        					 delay : 2500,
	  	        					 skipUndefinedTrip: true
	  	    				});
	  				trip.start();
	  				break;
		 case 'last':
			 localStorage.setItem('tutorial','none');
	   		 var trip = new Trip([
	      	                     { 
	        	                     	 sel : $('b'),
	        	                         content : 'Aqui termina nuestro paseo por Trazeo, disfruta de la aplicación',
	        	                         position: 'e'
	        	                     }
	                       ], {
	         					 delay : 2500,
	         					 skipUndefinedTrip: true
	     				});
	 			trip.start();
	 			break;	
		 }

	</script>		
{% endblock %}