{% set activeMenu = "route" %}
{% set pageheader_title = "Ride.current.title"|trans %}
{% set pageheader_description = "Ride.current.description"|trans %}

{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

	{% block css %}
		{{ parent() }}
	   	{% stylesheets
	    	'@SopinetOpenMapBundle/Resources/public/css/leaflet.css'
	    	'@SopinetOpenMapBundle/Resources/public/css/plugins/leafletRouting/app.css'
	    	'@SopinetTemplateSbadmin2Bundle/Resources/public/css/plugins/openmap/openmap.css'
	    	'@SopinetOpenMapBundle/Resources/public/css/plugins/Control.Geocoder/Control.Geocoder.css'
	    	output='css/*.css' filter='cssrewrite' %}
	    	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
		{% endstylesheets %}
 	{% endblock %}
{% block body_content %}

<div class="alert-warning">
	<table class="table">
		<tbody>
			<tr>
				<td><i class="fa fa-flag-o"></i></td>
				<td>Empieza en </td>
				<td id="start"></td>
			</tr>
			<tr>
				<td><i class="fa fa-flag-checkered"></i></td>
				<td>Termina en </td>
				<td id="finish"></td>
			</tr>
			<tr>
				<td><i class="fa fa-road"></i></td>
				<td>Distancia </td>
				<td id="distance"></td>
			</tr>
			<tr>
				<td><i class="fa fa-user"></i></td>
				<td>Niños</td>
				<td> apuntados en esta ruta</td>
			</tr>
			{% if route %}	
			<tr>
				<td><i class="fa fa-key"></i></td>
				<td>Autor</td>
				<td>{{ route.admin }}</td>
			</tr>
			{% endif %}
		</tbody>
	</table>
</div>

		<h3 class="alert alert-success"><i class="fa fa-map-marker"></i>&nbsp; Mapa del paseo</h3>
		<div id="mapa" class="col-md-12"></div>
		{% if sponsors|length() > 0 %}
			<div class="col-md-12">
				<h3 class="alert alert-success"><i class="fa fa-shield"></i>&nbsp; {{ 'Sponsors.current'|trans }}</h3>
				<br />
				{%  for sponsor in sponsors %}
				<div class="col-md-3">
					<p class="alert-warning">{{ sponsor.Nick }}</p>
					<img class="img-responsive" src='{{ sponsor.Image }}'/>
				</div>
				{% endfor %}
			</div>
		{% else %}
		<div class="col-md-12">
				<h3 class="alert alert-success"><i class="fa fa-shield"></i>&nbsp; Patrocina este paseo</h3>
				<div class="alert alert-warning">
					<i class="fa fa-envelope"></i>&nbsp; Escríbenos un email a &nbsp;<a class="btn btn-warning btn-xs btn-outline" href="mailto:info@trazeo.es">info@trazeo.es</a>
				</div>
		</div>
		 {% endif %}
		<p>&nbsp;</p>

		
				
        <script type="text/javascript">
        var lastId=0;
        var lastRoute="{{ path('panel_ride_lasts', {'id': ride.id,'lastid': 0}) }}";
    	</script>
{% endblock %}
		
	
{% block js %}	
	{{ parent() }}
	{% javascripts 
		'@SopinetOpenMapBundle/Resources/public/js/leaflet.js'
		'@SopinetOpenMapBundle/Resources/public/js/leaflet-src.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/utils/LineUtil.Snapping.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/utils/Marker.Snapping.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/utils/Polyline.Snapping.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/L.Routing.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/L.Routing.Storage.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/L.Routing.Draw.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/L.Routing.Edit.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/Control.Geocoder/Control.Geocoder.js'
	%}
	
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
		{% if route %}
			{% include 'SopinetOpenMapBundle:Map:configuration.html.twig' with {'routePoints': route.points,'editable': "false", 'realTime': "true", 'rideEvents': ''} %}
		{% else %}
			{% include 'SopinetOpenMapBundle:Map:configuration.html.twig' with {'editable': "false", 'realTime': "true", 'rideEvents': ''} %}
		{% endif %}
{% endblock %}