{% extends 'TrazeoFrontBundle:Public:base.html.twig' %}
{% block body %}
<div id="page" class="row">
	{% include 'SopinetTemplateLandingBundle:Base:navbar.html.twig' %} 
{% block css %}
	{{ parent() }}
	<style>
		.cofinanciadores {
		
		}
		.cof_image_small {
			width: 100px;
		}
		
		.cof_image_big {
			width: 200px;
		}
		
		.cof_text {
			color: #000;
		}
	</style>
{% endblock %}

{% block body_content %}
<section class="featured">
	<div class="container"> 
		<div class="row cofinanciadores" id="cofinanciadores_10">
			<div class="cof_text">Nacho Álvarez Ruiz</div>
			<div class="cof_text">Juan M. Molina</div>
			<div class="cof_text">Luis M. Fernández</div>
			<div class="cof_text">Manuel Gómez de la Haba</div>
			<div class="cof_text">Antonio Aguilera Gavilán</div>
			<div class="cof_text">Clara Guijarro Jiménez</div>
			<div class="cof_text">Familia Ginés Miranda</div>
			<div class="cof_text">José A. Fernández</div>
			<div class="cof_text">Roberto García</div>
			<div class="cof_text">Ale Urquízar</div>
			<div class="cof_text">CODECTION</div>
			<div class="cof_text">Gerardo Prados</div>
			<div class="cof_text">Juan Bolaños</div>
			<div class="cof_text">city360</div>
			<div class="cof_text">Miguel Antúnez López</div>
			<div class="cof_text">AMPA del CEIP Sta. Águeda (Benicàssim)</div>
			<div class="cof_text">FREAKS PUBLICIDAD</div>
			<div class="cof_text">Paco Rosales</div>
			<div class="cof_text">Pablo Gas García</div>
			<div class="cof_text">Jorge y Gema</div>
			<div class="cof_text">BOB HASTINGS</div>
			<div class="cof_text">Asociación OMAUlab</div>
			<div class="cof_text">Sergio Gómez</div>
			<div class="cof_text">Manuel Pedraza Pérez</div>
			<div class="cof_text">CORTINAS LEVANTE</div>
			<div class="cof_text">Pilar Mayorgas</div>
			<div class="cof_text">SusPasitos</div>
			<div class="cof_text">Acera Peatonal</div>
			<div class="cof_text">Pensión el Portillo</div>
			<div class="cof_text">QuaIP</div>
			<div class="cof_text">DK Diseño Kreativo</div>
			<div class="cof_text">EQUO CÓRDOBA</div>
			<div class="cof_text">ECOPUBLIBIKE SL</div>
			<div class="cof_text">Zumaya Ambiente Creativo</div>
			<div class="cof_text">Mesana. Centro de Psicologia. Formación Gestalt</div>
			<div class="cof_text">Ana Fernández</div>
			<div class="cof_text">Pilar Martín del Burgo</div>
			<div class="cof_text">Diego y Pedro Caldentey</div>
			<div class="cof_text">La casa de Tomasa</div>
			<div class="cof_text">Myriam Goluboff</div>
			<div class="cof_text">Centro Comercial Abierto - Centro Córdoba</div>
			<div class="cof_text">DCABO CONSULTORES</div>
			<div class="cof_text">Fundación Cajasur</div>
			<div class="cof_text">Helen Doron</div>
			<div class="cof_text">Sopinet</div>
			<div class="cof_text">Cristobal Aragón</div>
			<div class="cof_text">Elena Lázaro</div>
			<div class="cof_text">Inma Puche</div>
			<div class="cof_text">Esther Ruiz</div>
			<div class="cof_text">José J. Losada</div>
			<div class="cof_text">Mar Puche</div>
			<div class="cof_text">Marga Zurita</div>
			<div class="cof_text">Francisca Raya</div>
			<div class="cof_text">Pedro Peinado</div>
			<div class="cof_text">Pepe Puche</div>
			<div class="cof_text">Pilar Navarro</div>
			<div class="cof_text">Aristoteles Moreno</div>
			<div class="cof_text">Carmen Sánchez</div>
			<div class="cof_text">Gracia Martín</div>
			<div class="cof_text">Inma Santiago</div>
			<div class="cof_text">Manolo Carmona</div>
			<div class="cof_text">María Budiño y Fina Gil</div>
			<div class="cof_text">Paco Polo</div>
			<div class="cof_text">Fuentes Guerra</div>
			<div class="cof_text">Luis Miguel López</div>
			<div class="cof_text">Mariquilla</div>
			<div class="cof_text">La Bodeguita del 6</div>
			<div class="cof_text">Pablo García Casado</div>
			<div class="cof_text">Joan Font</div>
			<div class="cof_text">Antonio Zurita</div>
			<div class="cof_text">Marina Rodriguez Delgado</div>
			<div class="cof_text">David Lozano</div>
			<div class="cof_text">Javier Cantero</div>
			<div class="cof_text">Carmen Obrero</div>
			<div class="cof_text">Carlos Paños</div>
			<div class="cof_text">Pedro Caro</div>
			<div class="cof_text">Rosa Lara</div>
			<img src="http://www.sopinet.com/media/sopinetoliva1.png" class="cof_image_small"/>
			<img src="{{ asset('cofinanciadores/small/robecgg.jpg') }}" class="cof_image_small"/>
			<img src="{{ asset('cofinanciadores/small/aleurquizar.JPG') }}" class="cof_image_small"/>
			<img src="{{ asset('cofinanciadores/small/AristotelesMoreno.jpg') }}" class="cof_image_small"/>
			<img src="{{ asset('cofinanciadores/small/CarmenSanchez.jpg') }}" class="cof_image_small"/>
			<img src="{{ asset('cofinanciadores/small/GraciaMartin.jpg') }}" class="cof_image_small"/>
			<img src="{{ asset('cofinanciadores/small/InmaSantiago.jpg') }}" class="cof_image_small"/>
			<img src="{{ asset('cofinanciadores/small/ManoloCarmona.jpg') }}" class="cof_image_small"/>
			<img src="#" class="cof_image_small"/>
			<img src="{{ asset('cofinanciadores/small/PacoPolo.jpg') }}" class="cof_image_small"/>
			<img src="{{ asset('cofinanciadores/small/fuentesguerra.JPG') }}" class="cof_image_small"/>
			<img src="{{ asset('cofinanciadores/small/PabloGarciaCasado.jpg') }}" class="cof_image_small"/>
			<img src="{{ asset('cofinanciadores/small/DavidLozano.tif') }}" class="cof_image_small"/>
			<img src="{{ asset('cofinanciadores/small/JavierCantero.jpg') }}http://static.trazeo.es/small/JavierCantero.jpg" class="cof_image_small"/>
			<img src="{{ asset('cofinanciadores/big/DiegoyPedro.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/Pablo.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/carazo.png') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/fa1pepeg.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/freaks_publiciudad.pdf') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/jorge.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/juanbolanos.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/malabaddon.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/manuel.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/micheltoumi.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/ojodecat.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/omaulab.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/paco.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/sergiogomez.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/BlasMolina.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/CristobalAragon.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/ElenaLazaro.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/EstherRuiz.png') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/InmaPuche.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/JJLosada.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/MachuSantofimia.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/MarPuche.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/MargaZurita.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/PacaRaya.jpg.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/PedroPeinado.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/PepePuche.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/Lumilo.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/PilarNavarro.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/joanfont.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/AntonioZurita.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/MarinaRodriguezDelgado.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/CarmenObrero.jpg') }}" class="cof_image_big"/>
			<img src="#" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/RosaLara.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/big/PedroCaro.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/banner/100/MyriamGoluboff.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/banner/100/acerapeatonal.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/banner/100/casatomasa.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/banner/100/ecopublibike.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/banner/100/elportillo.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/banner/100/equocordoba.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/banner/100/quaip.png') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/banner/100/suspasitos.png') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/banner/100/Mariquilla.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/banner/100/labodeguitadel6.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/banner/100/zumayaambientecreativo.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/originales/banner/250/CentroCordoba.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/banner/250/DCABO.png') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/originales/banner/250/HelenDoron0.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/banner/250/Sopinet1.jpg') }}" class="cof_image_big"/>
			<img src="{{ asset('cofinanciadores/banner/250/FUNDACIONCAJASUR.jpg') }}" class="cof_image_big"/>
			<img src="http://www.sopinet.com/media/sopinetoliva1.png" class="cof_image_big"/>
		</div>
	</div>
</section>
{% endblock %}

	{% include 'SopinetTemplateLandingBundle:Base:footer.html.twig' %}
</div> <!-- END #page -->
{% endblock %} 

{% block js %}
	{{ parent() }}
	<script>
	$(document).ready(function()
		    {
		        $("#cofinanciadores_10").cloud();
		    }
		);
	</script>
{% endblock %}
