{% extends 'TrazeoFrontBundle:Public:base.html.twig' %} 

	{% block body_content %}

	<div class="col-md-12">
		<div class="align-center">
			<div class="row">
				<div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1">
					<h2 class="slogan">{{ 'homePage.index.title1'|trans|raw }}</h2>
					<div class="videowrapper">
						<iframe src="//www.youtube.com/embed/fWptLnpRGig" frameborder="0"
							allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-md-5 col-sm-5">
				
					<h2 class="slogan">{{ 'homePage.index.title2'|trans|raw }}</h2>
					<div class="cform col-md-12" id="contact-form">
							<div class="form-group input-group col-md-10 col-md-offset-1">
								<p class="col-md-offset-1 col-md-10">{{ 'homePage.index.subtitle1'|trans|raw }}</p>
								<a href="{{ path('fos_user_security_login') }}" class="btn btn-lg btn-success log" style="font-size: 30px" name="log">{{ 'homePage.index.button1'|trans|raw }}</a>
							</div>	
					</div>
				</div>
			</div>
		</div>
	</div>

	<p>&nbsp;</p><p>&nbsp;</p>
	<h2 class="slogan well">{{ 'homePage.index.title3'|trans|raw }}</h2>
	<div class="col-md-12 carousel-container">
			<img style="margin-top:50px;" class=" col-md-3 col-sm-3 col-xs-4 img-responsive"
			src="{{ asset('cofinanciadores/banner/250/FUNDACIONCAJASUR.jpg') }}" alt="FUNDACION CAJASUR">
	
			<div id="myCarousel" class="carousel slide col-md-9 col-sm-9 col-xs-8">
			<div class="carousel-inner col-md-6 col-sm-6 col-xs-12">
				{% set i = 0 %} {% for banner in banners %}
				<div class="col-md-12 item{% if i == 0 %} active{% endif %}">
					{% set i = i + 1 %} <img
						class="col-md-offset-1 col-md-6 col-sm-6 col-xs-6 img-responsive"
						src="{{ banner.url }}" alt="{{ banner.title }}">

					<div class="col-md-4 col-sm-4 col-xs-12 caption">
						<h1>{{ banner.title }}</h1>
						<p>{{ banner.desc }}</p>
					</div>
				</div>
				{% endfor %}
			</div>
			<!-- Controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<i class="fa fa-chevron-left fa-3x"></i>
			</a> <a class="right carousel-control" href="#myCarousel"
				data-slide="next"> <i class="fa fa-chevron-right fa-3x"></i>
			</a>
		</div>
		<!-- /.carousel -->
	</div><!-- end .carousel-container-->
	{% endblock %}

	{% block js %} {{ parent() }} 
		{% include 'SopinetFlashMessagesBundle:Messages:notification.html.twig' %} 
	{% endblock %}

