    <table>
        <thead>
            <tr>
                <th width="20%">{{ "Trans.table.id"|trans }}</th>
                <th width="40%">{{ "Trans.table.translation"|trans }}</th>
                <th width="40%">{{ "Trans.table.info"|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for id, message in messages %}
            <tr>
                <td>
                    <a class="jms-translation-anchor" id="{{ id }}" />
                    <p><abbr title="{{ id }}">{{ id|truncate(20) }}</abbr></p>
                </td>
                <td>
                    <textarea data-id="{{ id }}" class="span6"{% if isWriteable is sameas(false) %} readonly="readonly"{% endif %}>{{ message.localeString }}</textarea></td>
                <td>
                    {% if message.meaning is not empty %}
                        <h6>{{ "Trans.meaning"|trans }}</h6>
                        <p>{{ message.meaning }}</p>
                    {% endif %}
                
                    {% if alternativeMessages[id] is defined %}
                        <h6>{{ "Trans.alternative"|trans }}</h6>
                        {% for locale, altMessage in alternativeMessages[id] %}
                        <p>
                            <strong>{{ locale }}:</strong> <pre>{{ altMessage.localeString }}</pre>
                        </p>
                        {% endfor %}
                    {% endif %}
                    
                    {% if message.sources|length > 0 %}
                        <h6>{{ "Trans.sources"|trans }}</h6>
                        <ul>
                        {% for source in message.sources %}
                            <li>{{ source }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}

                    {% if message.desc is not empty 
                            and message.localeString != message.desc
                            and id != message.desc
                            and (alternativeMessages[id][sourceLanguage] is not defined
                                 or alternativeMessages[id][sourceLanguage].localeString != message.desc) %}
                        <h6>{{ "Trans.description"|trans }}</h6>
                        <p>{{ message.desc }}</p>
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">{{ "Trans.notfound"|trans }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
