{% set title = page.title %}

{% extends "TrazeoMyPageBundle:Template/SimpleClean:base.html.twig" %}
    {% block menu %}
        {% for menu in page.menus %}
            <li>
                <a href="#{{ menu.link }}">{{ menu.title }}</a>
            </li>
        {% endfor %}
    {% endblock %}

    {% block content %}
        {% set i = 0 %}
        {% for menu in page.menus %}
            {% if i == 0 %}
                <header id="{{ menu.link }}" class="{{ menu.getClassCSS() }}">
            {% else %}
                <section id="{{ menu.link }}" class="{{ menu.getClassCSS() }}" style="background-color: #{{ menu.colorback }}; color: #{{ menu.colorfront }}">
            {% endif %}

            {% for module in menu.modules %}
                <div class="{{ module.class.getClassCSS()|raw }}" style="{{ module.class.getStyle(module) }}">
                    {{ module.class.renderFront(container, module)|raw }}
                </div>
            {% endfor %}

            {% if i == 0 %}
                </header>
            {% else %}
                </section>
            {% endif %}

            {% set i = i + 1 %}
        {% endfor %}
    {% endblock %}