{% extends 'TrazeoMyPageBundle:Front:baseLogin.html.twig' %}

{% block content %}
    <div class="card wizard-card ct-wizard-green">
        <div class="wizard-header" style="text-align: center; margin: 10px">
            <h3>{{ 'group_register.thanks'|trans }}<br/>
                <small>{{ 'group_register.discharged'|trans }} {{ group.name }}.</small>
            </h3>
            <hr/>
            <a href="https://play.google.com/store/apps/details?id=com.sopinet.trazeo.app" class="btn btn-primary btn-large">{{ 'group_register.download'|trans }}</a>
            o <a class="btn btn-large" href="http://beta.trazeo.es">{{ 'group_register.finish'|trans }}</a>
            <h4>{{ 'group_register.tomorrow'|trans }} {{ group.name }}.</h4>
            <p>{{ 'group_register.recommend'|trans }} {{ app.user.userextend.mobile }} {{ 'group_register.recommend2'|trans }}</p>
            <hr/>
            <!--<a href="https://play.google.com/store/apps/details?id=com.sopinet.trazeo.app" class="btn btn-primary btn-large">Descarga la Aplicación</a>-->
        </div>
    </div>
{% endblock %}