<div class="row alert alert-warning">
	<!-- Nombre de la Ruta -->
	<div class="col-md-4">
		<i class="fa fa-location-arrow"></i>
		{{ route.name }}
	</div>
	
	<!-- Ir a Ruta -->
	<div class="col-md-6">
		<a href="{{ path('panel_route')}}{{ route.Id }}">
			<button class="btn btn-xs btn-success">
				<i class="fa fa-map-marker"></i>&nbsp; {{ "Route.map.edit"|trans }}
			</button>
		</a>
	</div>
	
	<!-- Administración -->
	<div class="col-md-2">
		{% if app.user.id == route.admin.user.id %}
			<a class="btn btn-xs btn-default" href="{{ path('panel_route_edit', {'id': route.id }) }}"><i class="fa fa-pencil"></i>&nbsp;  {{ 'Options.edit'|trans }}</a>
			<a class="btn btn-xs btn-default" style="cursor:pointer;" data-href="{{ path('panel_route_delete', {'id': route.id }) }}" data-toggle="confirmation" data-btnCancelLabel='{{ 'Confirmation.no'|trans }}' data-btnOkLabel='{{ 'Confirmation.yes'|trans }}' data-title='{{ 'Confirmation.question'|trans }}'><i class="fa fa-trash-o"></i>&nbsp; {{ 'Options.delete'|trans }}</a>
		{% else %}
			<!-- Mejor no mostramos este mensaje -->
			{# <i class="fa fa-ban"></i>&nbsp; {{ 'Admin.no'|trans }} #}
		{% endif %}		
	</div>
</div>

{#
<td><i class="fa fa-location-arrow"></i></td>
<td>{{ route.name }}</td>
<td><a href="{{ path('panel_route')}}{{ route.Id }}"><button class="btn btn-xs btn-success"><i class="fa fa-map-marker"></i>&nbsp; {{ "Route.map.edit"|trans }}</button></a></td>
{% if app.user.id == route.admin.user.id %}
	<td>
		<a class="btn btn-xs btn-default" href="{{ path('panel_route_edit', {'id': route.id }) }}"><i class="fa fa-pencil"></i>&nbsp;  {{ 'Options.edit'|trans }}</a>
		<a class="btn btn-xs btn-default" style="cursor:pointer;" data-href="{{ path('panel_route_delete', {'id': route.id }) }}" data-toggle="confirmation" data-btnCancelLabel='{{ 'Confirmation.no'|trans }}' data-btnOkLabel='{{ 'Confirmation.yes'|trans }}' data-title='{{ 'Confirmation.question'|trans }}'><i class="fa fa-trash-o"></i>&nbsp; {{ 'Options.delete'|trans }}</a>
	</td>
{% else %}
	<td class="btn-xs"><i class="fa fa-ban"></i>&nbsp; {{ 'Admin.no'|trans }}</td>
{% endif %}							
</tr>
#}