{% set activeMenu = "route" %}
{% set pageheader_title = "Route.index.title"|trans %}
{% set pageheader_description = "Route.index.description"|trans %}
{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

{% block body_content %}

        <div class="col-lg-12 alert alert-success">
        	<div class="col-md-1">
        		<i class="fa fa-5x fa-location-arrow"></i>
        	</div>
        	<div class="col-md-11">
				<h4>Estas rutas se encuentran en tu ciudad y podrían interesarte.</h4>
		
					<div class="input-group custom-search-form col-md-4">						
						<input type="search" class="form-control" placeholder='{{ "Trans.search.routes"|trans }}'/>
						<span class="input-group-btn">
						<button class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
						</span>	
					</div>
			</div>
		</div>
		
		
	{% for route in routes %}
		<div class="panel-group" id="accordion">
			<div class="panel panel-warning">
				<div class="panel-heading">
		        	<h4 class="panel-title">
		            	<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ route.id }}">{{ route.name }}<div class="pull-right"><i class="btn btn-warning btn-circle"> {{ route.groups|length }}</i> {{ "Menu.groups"|trans }}</div></a>
					</h4>
				</div>
				<div id="collapse{{ route.id }}" class="panel-collapse collapse {% if loop.index == 1 %}in{% endif %}">
					<div class="panel-body">
						<ul>
							<li>
								<i class="fa fa-key"></i>
								<b>Administrador de la ruta:</b> {{ route.admin.nick }} 
							</li>
							<li>
								<i class="fa fa-location-arrow"></i><a href="{{ path('panel_route_show', { 'id': route.id }) }}""> Mapa de la ruta</a>
							</li>
							<li>
								<i class="fa fa-users"></i>
								<b>Grupos con esta ruta:</b>
								<ul>
								{% for routesGroups in route.groups %}
									<li>
										<i class="fa fa-angle-right"></i> {{ routesGroups.name }}
									</li>
								{% endfor %}
								</ul>
							</li>
							<li>
								<i class="fa fa-globe"></i>	
								<b>País:</b> {% if route.country != null %}{{ route.country.name }}{% endif %}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}
		
