{% set activeMenu = "route" %}
{% set pageheader_title = "Route.index.title"|trans %}
{% set pageheader_description = "Route.index.description"|trans %}
{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

{% block body_content %}
		<div class="row">
			<div class="col-lg-12 text-center">
				<button type="button" class="btn btn-success btn-circle btn-xl">
					<i class="fa fa-plus"></i>
				</button>
			</div>
		</div>
		
        <div class="col-lg-12 alert alert-info">
        	<div class="col-md-1">
        		<i class="fa fa-5x fa-location-arrow"></i>
        	</div>
        	<div class="col-md-11">
				<h4>Estas rutas se encuentran en tu ciudad y podrían interesarte.</h4>
		
					<div class="input-group custom-search-form col-md-4">						
						<input type="search" class="form-control" placeholder='{{ "Trans.search.routes"|trans }}'/>
						<span class="input-group-btn">
						<button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
						</span>	
					</div>
			</div>
		</div>
		
		
	{% for route in routes%}
		<div class="panel-group" id="accordion">
			<div class="panel panel-warning">
				<div class="panel-heading">
		        	<h4 class="panel-title">
		            	<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ route.id }}">{{ route.name }}<div class="pull-right"><i class="btn btn-warning btn-circle"> {{ route.groups|length }}</i> {{ "Grupo"|trans }}</div></a>
					</h4>
				</div>
				<div id="collapse{{ route.id }}" class="panel-collapse collapse">
					<div class="panel-body">
						<ul>
							<li>
								<b>Administrador de la ruta:</b> {{ route.admin.nick }} 
							</li>
							<li>
								<b>Grupos con esta ruta:</b>
								<ul>
								{% for routesGroups in route.groups %}
									<li>
										{{ routesGroups.name }}
									</li>
								{% endfor %}
								</ul>
							</li>
							<li>
								<b>País:</b> {{ route.country.name }} 
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}
		
