{% set activeMenu = "route" %}
{% set pageheader_title = "Route.index.title"|trans %}
{% set pageheader_description = "Route.index.description"|trans %}
{% set tutorial = "routes" %}
{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

{% block body_content %}

        <div class="col-lg-12 alert alert-success">
        	<div class="col-md-1">
        		<i class="fa fa-5x fa-location-arrow"></i>
        	</div>
        	<div class="col-md-11">
				<h4>Estas rutas se encuentran en tu ciudad y podrían interesarte.</h4>
				<form action="{{ path('panel_route') }}">
					<div class="input-group custom-search-form col-md-4">						
						<input type="search" class="form-control" placeholder='{{ "Trans.search.routes"|trans }}'/>
						<span class="input-group-btn">
						<button class="btn btn-success" type="submit"><i class="fa fa-search"></i></button>
						</span>	
					</div>
				</form>
			</div>
		</div>
		
		
	{% for route in routes %}
		<div class="panel-group" id="accordion1">
			<div class="panel panel-warning">
				<div class="panel-heading">
		        	<h4 class="panel-title" style="cursor:pointer;" data-toggle="collapse" data-parent="#accordion1" href="#collapse{{ route.id }}">
						{% if app.user.id == route.Admin.id %}
							<i class="fa fa-user" rel="tooltip-top" title="Eres administrador de este grupo"></i>
						{% endif %}
		            	<a data-toggle="collapse" data-parent="#accordion1" href="#collapse{{ route.id }}">{{ route.name }}</a>
					</h4>
					<div class="pull-right" style="margin-top:-20px;">
						{% if app.user.id == route.Admin.id %}
							<a href="{{ path('panel_route') }}{{ route.id }}/edit" type="button" 
							class="btn btn-default btn-xs edit-route" rel="tooltip-top" title="Editar información">
								<i class="fa fa-pencil"></i> Editar
							</a>
						{% endif %}
					<span class="label label-success route-goups-count">{{ "Menu.groups"|trans }} {{ route.groups|length }}</span>
					</div>
				</div>
				<div id="collapse{{ route.id }}" class="panel-collapse collapse {% if loop.index == 1 %}in{% endif %}">
					<div class="panel-body">
						<table class="table">
								<tbody>
									<tr>
										<td><i class="fa fa-key"></i></td>
										<td>Administrador de la ruta:</td>
										<td>
											{{ route.admin.nick }}
										</td>
									</tr>
									<tr>
										<td><i class="fa fa-location-arrow"></i></td>
										<td>Recorrido</td>
										<td>
											<a class="route-show" href="{{ path('panel_route_show', { 'id': route.id }) }}"">Ver el mapa de la ruta</a>
											<a href="{{ path('panel_route_show', { 'id': route.id }) }}"><i class="fa fa-map-marker"></i>&nbsp; Ver mapa de la ruta</a>
										</td>
									</tr>
									<tr>
										<td><i class="fa fa-users"></i></td>
										<td>Grupos con esta ruta:</td>
										<td>
											{% for routeGroup in route.Groups %}
											<a href="{{ path('panel_group') }}{{ routeGroup.Id }}">
												<span class="label label-warning">{{ routeGroup.name }}</span>
											</a>
											{% endfor %} 
										</td>
									</tr>
									<tr>
										<td><i class="fa fa-globe"></i></td>
										<td>Localización</td>
										<td>
											{% if route.country != null %}{{ route.country.name }}{% endif %}
										</td>
									</tr>
								</tbody>
							</table>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}
		
{% block js %} {{ parent() }} 

	{% if tutorial is not defined or tutorial == 'none' %}
	<!-- Non Tutorial -->
	<script type="text/javascript">
		console.log("non-tutorial");
	</script>
	{%  elseif tutorial == 'routes' %}
	<input type="hidden" id="path_home" value="{{ path('panel_dashboard') }}">
	{% set tutorial = "last" %}
	<script type="text/javascript">
   		var trip = new Trip([
   	                         { 
   	                             sel : $('.panel.panel-warning'),
   	                             content : 'Aqui aparecera la información de las rutas',
   	                             position: 'n'
   	                         },
   	                         { 
   	                             sel : $(".edit-route"),
   	                             content : 'Aqui podra editar la información de una ruta',
   	                             position: 'n'
   	                         },
   	                         { 
   	                             sel : $(".route-goups-count"),
   	                             content : 'Aqui aparecera el numero de grupos vinculados a una ruta',
   	                             position: 'n'
   	                         },
   	                         { 
   	                             sel : $(".route-show"),
   	                             content : 'Aqui muestra la ruta',
   	                             position: 'e',
   	                             callback: function(){
                              	 	var url = $('#path_home').attr('value');    
                             	 	window.location.replace(url);
    	   	                     }
   	                         }
   	                         
                      ], {
        					 delay : 2500,
        					 skipUndefinedTrip: true
    				});
		trip.start();
	</script>	
	{% endif %}
{% endblock %}
