{% set activeMenu = "route" %}
{% set pageheader_title = "Route.show.title"|trans({'%name%': route.name}) %}
{% set pageheader_description = "Route.show.description"|trans %}




{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

	{% block css %}
		{{ parent() }}
	   	{% stylesheets
	    	'@SopinetOpenMapBundle/Resources/public/css/leaflet.css'
	    	'@SopinetOpenMapBundle/Resources/public/css/plugins/leafletRouting/app.css'
	    	'@SopinetOpenMapBundle/Resources/public/css/plugins/Control.Geocoder/Control.Geocoder.css'
	    	'@SopinetTemplateSbadmin2Bundle/Resources/public/css/plugins/openmap/openmap.css'
	    	output='css/*.css' filter='cssrewrite' %}
	    	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
		{% endstylesheets %}
 	{% endblock %}
{% block body_content %}

<div class="alert-warning">
	<table class="table">
		<tbody>
			<tr>
				<td><i class="fa fa-flag-o"></i></td>
				<td>{{"Route.show.start"|trans}}</td>
				<td id="start"></td>
			</tr>
			<tr>
				<td><i class="fa fa-flag-checkered"></i></td>
				<td>{{"Route.show.end"|trans}}</td>
				<td id="finish"></td>
			</tr>
			<tr>
				<td><i class="fa fa-road"></i></td>
				<td>{{"Route.show.distance"|trans}}</td>
				<td id="distance"></td>
			</tr>
			<tr>
				<td><i class="fa fa-user"></i></td>
				<td>{{"Route.show.childs"|trans}}</td>
				<td>{{ cont }} {{"Route.show.signed"|trans}}</td>
			</tr>	
			<tr>
				<td><i class="fa fa-key"></i></td>
				<td>{{"Route.show.creator"|trans}}</td>
				<td>{{ route.admin }}</td>
			</tr>
		</tbody>
	</table>
</div>

		<h3 class="alert alert-success"><i class="fa fa-map-marker"></i>&nbsp; {{"Route.show.map"|trans}}</h3>

		<form method="post" action={{ path('panel_save_map') }} id="form">
			<div id="mapa" class="col-md-12"></div>
			<input type="hidden" name="id" value="{{ route.id }}" />			
			<input type="hidden" id="inputPoints" name="inputPoints" value="" />
			<input type="hidden" id="distanceInput" name="distanceInput" value="" />
			<p>&nbsp;</p>
			<button class="btn btn-default" id="comenzar" type="button">&nbsp; {{"Route.show.buttons.start"|trans}}</button>
			<button class="btn btn-default" id="deshacer" type="button"><i class="fa fa-undo"></i>&nbsp; {{"Route.show.buttons.undo"|trans}}</button>
			<button class="btn btn-success" type="submit" id="enviar" disabled="disabled"><i class="fa fa-save"></i>&nbsp; {{"Route.show.buttons.save"|trans}}</button>
		</form>
	<br />
		<div class="row">
			<h3 class="alert alert-success"><i class="fa fa-users"></i>&nbsp; {{"Route.show.groups"|trans}}
			</span>
				<a href="{{ path('panel_group_new') }}" class="label label-success pull-right">
					<i class="fa fa-plus-circle"></i>&nbsp; {{"Route.show.create"|trans}}
				</a>
			</h3>
			{% if route.groups | length > 0 %}	
			        <table class="table alert-warning col-md-12">
			        	<tbody>
			        	{% for group in route.groups %}
							<tr>
								<td>#</td>
								<td> {{ group.name }}</td>
							</tr>
						{% endfor %}
			        	</tbody>
			        </table>
			{% else %}
				<p class="alert alert-warning col-md-6">
				<i class="fa fa-warning"></i>&nbsp;		
				{{"Route.show.unasigned"|trans}}</p>	
			{% endif %}
		</div>
		<br />
{% endblock %}

	
{% block js %}	
	{{ parent() }}
	{% javascripts 
		'@SopinetOpenMapBundle/Resources/public/js/leaflet.js'
		'@SopinetOpenMapBundle/Resources/public/js/leaflet-src.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/utils/LineUtil.Snapping.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/utils/Marker.Snapping.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/utils/Polyline.Snapping.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/L.Routing.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/L.Routing.Storage.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/L.Routing.Draw.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/L.Routing.Edit.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/Control.Geocoder/Control.Geocoder.js'
	%}
	{% if route.admin.id==user.id %}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% if tutorialmap == 1 %}
	<!-- Enable Tutorial -->
	<script type="text/javascript">
		localStorage.setItem('tutorial','map');
	</script>
	{% endif %}
	<script>
	var running=0;
	var prevent=function(e){
		 if(running==1){
		 e.preventDefault();
		 e.stopPropagation();
		 }
	 }
	//styles on tutorial running 
	var tutorialRunning=function(){
		 running=1;
		 localStorage.setItem('tutorial','none');
		 $('*').click(prevent);
		 $('body').on('mousewheel',prevent);
	 };
	 //styles on tutorial stoped 
	var tutorialStoped=function(){
		     running=0;
			 localStorage.setItem('tutorial','none');
         };

         //global options for tutotials
    var options={
               		skipUndefinedTrip: false
	    	    	,tripTheme: 'white'
	    	   
	    	    	,delay: -1
	    	    	,onTripStart: tutorialRunning
	    	    	,onTripEnd: tutorialStoped
	    	    	,onTripClose: tutorialStoped
		    	    ,showCloseBox: true
		    	    ,expose: true
		    	    ,showNavigation : false
		    	    ,prevLabel: "<i class='fa fa-backward fa-2x' style='color:#428bca !important'></i>"
			    	,nextLabel: "<i class='fa fa-forward fa-2x' style='color:#428bca !important'></i>"
				    ,finishLabel: "<i class='fa fa-stop fa-2x' style='color:#428bca !important'></i>"
				    ,closeBoxLabel: "<i class='fa fa-sign-out' style='color:#428bca !important'>saltar</i>"
						
	    		};
    var next=function(){if(running==1)this.next()};
    
 	if(localStorage.getItem('tutorial')=='map'){
 		trip = new Trip([
	   	                     { 
		    	               	 sel : $('b')
	    	                     ,content : 'Bienvenido al sistema de creación de rutas'
	        	                 ,position: 'e'
	  	        	             ,showNavigation: true
	                	         ,callback: function(){$('#comenzar').one("click",next.bind(trip))} 
	   	                     },
	                         { 
	                            sel : $('#comenzar')
	   	                        ,content : 'Primero pulsa comenzar para empezar a definir la ruta'
	   	                        ,position: 'e'
	   	                        ,canGoNext: false
		   	                    
		       	               	,callback: function(){
				       	          $('#mapa').one("click",next.bind(trip));
				       	         }
		   	                         		   	                         
	       	                 },
	   	                     { 
	   	                         sel : $('#mapa')
	   	                         ,content : 'Luego haz click en el mapa, para cada punto que quieras añadir a la ruta'
	   	                         ,position: 's'
	   	                         
	   	                         ,canGoNext: false
			   	                 ,callback: function(){
				       	         setTimeout(function(){$('.leaflet-marker-icon').one("click",next.bind(trip))},300)}
	   	                     },
	   	                     { 
	   	                         sel : $('#mapa')
	   	                         ,content : 'Haz click en los marcadores que indican los puntos para editar sus opciones'
	   	                         ,position: 's'
		   	                      	 
		   	                     ,canGoNext: false
			   	                 ,callback: function(){
				       	             $('.pop-up-menu >button').one("click",next.bind(trip))
				   	             }
	   	                     },
	   	                     { 
	   	                         sel : $('#mapa')
	   	                         ,content : 'Puedes editar las opciones de los puntos'
	   	                         ,position: 's'
		   	                     
		   	                  ,canGoNext: false
		   	                     ,callback: function(){$('#comenzar').one("click",next.bind(trip))}
	   	                      },
	   	                         { 
        	                    	 sel : $('#comenzar')
        	                         ,content : 'Haz click en terminar cuando ya tengas la ruta definida'
        	                         ,position: 'e'
        	                        	 ,canGoNext: false
            	                     
	       	                    }
        	                     ,
        	                     { 
        	                    	 sel : $('#enviar')
        	                         ,content : 'Finalmente, si quieres guardar los cambios, haz click en este boton'
        	                         ,position: 'e'
    			   	                 ,showNavigation: true
        	                     }
        	                     
	  	            	   	],
	  	            	   	options);
				trip.start();
	 	}
     </script>
    {% endif %}
	{% endjavascripts %}
		{% if route.admin.id==user.id %}
			{% include 'SopinetOpenMapBundle:Map:configuration.html.twig' with {'routePoints': route.points,'editable': "true", 'realTime': "false", 'rideEvents': ''} %}
		{% else %}
			{% include 'SopinetOpenMapBundle:Map:configuration.html.twig' with {'routePoints': route.points,'editable': "false", 'realTime': "false", 'rideEvents': ''} %}
		{% endif %}
	{% endblock %}
