{% set activeMenu = "route" %}
{% set pageheader_title = "Route.show.title"|trans({'%name%': route.name}) %}
{% set pageheader_description = "Route.show.description"|trans %}
{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

	{% block css %}
		{{ parent() }}
	   	{% stylesheets
	    	'@SopinetOpenMapBundle/Resources/public/css/leaflet.css'
	    	'@SopinetOpenMapBundle/Resources/public/css/plugins/leafletRouting/app.css'
	    	'@SopinetOpenMapBundle/Resources/public/css/plugins/Control.Geocoder/Control.Geocoder.css'
	    	'@SopinetTemplateSbadmin2Bundle/Resources/public/css/plugins/openmap/openmap.css'
	    	output='css/*.css' filter='cssrewrite' %}
	    	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
		{% endstylesheets %}
 	{% endblock %}
{% block body_content %}

		<div class="row">
			<ul>			
				<li id="finish">Empieza en:</li>
				
				<li id="start">Termina en:</li>
				
				<li >Descripción:</li>
				
				<li id="distance">Distancia:</li>
			
				<li>Niños: {{ cont }} apuntados en esta ruta</li>
				
				<li>Autor: {{ route.admin }}</li>
			</ul>
		</div>

		<h1>MAPA</h1>
		{% for point in route.points %}
			<input type="hidden" name="pickup{{ loop.index }}" value="false">
			<input type="hidden" name="lat{{ loop.index }}" value="{{ point.location.latitude }}">
			<input type="hidden" name="lng{{ loop.index }}" value="{{ point.location.longitude }}">
			<input type="hidden" name="description{{ loop.index }}" value="{{ point.location.description }}">
		{% endfor %}
		<form method="post" action={{ path('panel_save_map') }}>
			<div id="mapa" class="col-md-12"></div>
			<input type="hidden" name="id" value="{{ route.id }}" />
			<button id="comenzar" type="button">Comenzar</button>
			<button type="submit" id="enviar">Enviar</button>
		</form>
	
		<div class="row">
			<div class="col-md-6">
				<h3>Grupos de esta ruta</h3>
			</div>
			<div class="col-md-6">
				<a href="{{ path('panel_group_new') }}">
					<button type="button" class="btn btn-warning btn-circle">
						<i class="fa fa-plus"></i>
					</button>
					Crear grupo
				</a>
			</div>
		</div>
		<p>Los usuarios han creado {{ route.groups|length }} grupos en esta ruta</p>
            
        {% for group in route.groups %}
        	{{ group.name }}
        {% endfor %}
{% endblock %}

	
{% block js %}	
	{{ parent() }}
	{% javascripts 
		'@SopinetOpenMapBundle/Resources/public/js/leaflet.js'
		'@SopinetOpenMapBundle/Resources/public/js/leaflet-src.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/utils/LineUtil.Snapping.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/utils/Marker.Snapping.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/utils/Polyline.Snapping.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/L.Routing.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/L.Routing.Storage.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/L.Routing.Draw.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/L.Routing.Edit.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/Control.Geocoder/Control.Geocoder.js'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	{% include 'SopinetOpenMapBundle:Map:configuration.html.twig' with {'routePoints': route.points, 'editable': "true", 'realTime': "false"} %}
{% endblock %}
