{% set activeMenu = "route" %}
{% set pageheader_title = "Route.show.title"|trans({'%name%': route.name}) %}
{% set pageheader_description = "Route.show.description"|trans %}
{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

	{% block css %}
		{{ parent() }}
	   	{% stylesheets
	    	'@SopinetOpenMapBundle/Resources/public/css/leaflet.css'
	    	'@SopinetOpenMapBundle/Resources/public/css/plugins/leafletRouting/app.css'
	    	'@SopinetOpenMapBundle/Resources/public/css/plugins/Control.Geocoder/Control.Geocoder.css'
	    	'@SopinetTemplateSbadmin2Bundle/Resources/public/css/plugins/openmap/openmap.css'
	    	output='css/*.css' filter='cssrewrite' %}
	    	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
		{% endstylesheets %}
 	{% endblock %}
{% block body_content %}

<div class="alert-warning">
	<table class="table">
		<tbody>
			<tr>
				<td><i class="fa fa-flag-o"></i></td>
				<td>Empieza en </td>
				<td id="start"></td>
			</tr>
			<tr>
				<td><i class="fa fa-flag-checkered"></i></td>
				<td>Termina en </td>
				<td id="finish"></td>
			</tr>
			<tr>
				<td><i class="fa fa-road"></i></td>
				<td>Distancia </td>
				<td id="distance"></td>
			</tr>
			<tr>
				<td><i class="fa fa-user"></i></td>
				<td>Niños</td>
				<td>{{ cont }} apuntados en esta ruta</td>
			</tr>	
			<tr>
				<td><i class="fa fa-key"></i></td>
				<td>Autor</td>
				<td>{{ route.admin }}</td>
			</tr>
		</tbody>
	</table>
</div>

		<h3 class="alert alert-success"><i class="fa fa-map-marker"></i>&nbsp; Mapa del paseo</h3>
		{% for point in route.points %}
			<input type="hidden" name="pickup{{ loop.index }}" value="false">
			<input type="hidden" name="lat{{ loop.index }}" value="{{ point.location.latitude }}">
			<input type="hidden" name="lng{{ loop.index }}" value="{{ point.location.longitude }}">
			<input type="hidden" name="description{{ loop.index }}" value="{{ point.description }}">
		{% endfor %}
		<form method="post" action={{ path('panel_save_map') }} id="form">
			<div id="mapa" class="col-md-12"></div>
			<input type="hidden" name="id" value="{{ route.id }}" />			
			<input type="hidden" id="inputPoints" name="inputPoints" value="" />
			<input type="hidden" id="distanceInput" name="distanceInput" value="" />
			<p>&nbsp;</p>
			<button class="btn btn-default" id="comenzar" type="button">&nbsp; Comenzar</button>
			<button class="btn btn-success" type="submit" id="enviar"><i class="fa fa-save"></i>&nbsp; Guardar</button>
		</form>
	<br />
		<div class="row">
			<h3 class="alert alert-success"><i class="fa fa-users"></i>&nbsp; Grupos con esta ruta
			</span>
				<a href="{{ path('panel_group_new') }}" class="label label-success pull-right">
					<i class="fa fa-plus-circle"></i>&nbsp; Crear nuevo Grupo
				</a>
			</h3>
			{% if route.groups | length > 0 %}	
			        <table class="table alert-warning col-md-12">
			        	<tbody>
			        	{% for group in route.groups %}
							<tr>
								<td>#</td>
								<td> {{ group.name }}</td>
							</tr>
						{% endfor %}
			        	</tbody>
			        </table>
			{% else %}
				<p class="alert alert-warning col-md-6">
				<i class="fa fa-warning"></i>&nbsp;		
				No ningún grupo con esta ruta asignada</p>	
			{% endif %}
		</div>
		<br />
{% endblock %}

	
{% block js %}	
	{{ parent() }}
	{% javascripts 
		'@SopinetOpenMapBundle/Resources/public/js/leaflet.js'
		'@SopinetOpenMapBundle/Resources/public/js/leaflet-src.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/utils/LineUtil.Snapping.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/utils/Marker.Snapping.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/utils/Polyline.Snapping.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/L.Routing.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/L.Routing.Storage.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/L.Routing.Draw.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/leafletRouting/L.Routing.Edit.js'
		'@SopinetOpenMapBundle/Resources/public/js/plugins/Control.Geocoder/Control.Geocoder.js'
	%}
	
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	{% include 'SopinetOpenMapBundle:Map:configuration.html.twig' with {'routePoints': route.points, 'editable': "true", 'realTime': "false", 'rideEvents': ""} %}
{% endblock %}
