{% include 'SopinetTemplateSbadmin2Bundle:Emails:header.html.twig' %}
<table>
    <tr>
        <td>
            {{ 'group_join.hello'|trans }}
        </td>
    </tr>
    <tr>
        <td>
            <dl>
                <dt>{{ 'group_join.user'|trans }} {{ user.user.username }} {{ 'group_join.join'|trans }} {{ group.name }} {{ 'group_join.can'|trans }}:</dt>
                <dd>- Visualizar el recorrido y/o recibir notificaciones de que los niños han llegado sin incidencias cuando el grupo este en marcha.</dd>
            </dl>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                {{ 'group_join.email'|trans }} {{ user.user.username }}, {{ 'group_join.next'|trans }} <a href="{{  "mailto:"~user.user.email}}"  target="_top">{{ user.user.email }}</a>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>{{ 'group_join.help'|trans }} <a href="mailto:hola@trazeo.es"> hola@trazeo.es</a> {{ 'group_join.help2'|trans }} <a href="http://trazeo.es/contacto/"><b>{{ 'group_join.contact'|trans }}</b></a>. {{ 'group_join.help3'|trans }} <a href="http://www.trazeo.es/">www.trazeo.es</a> {{ 'group_join.help4'|trans }}.
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>{{ 'group_join.see_you'|trans }}
                </br>{{ 'group_join.see_you2'|trans }}
                </br><a href="http://www.trazeo.es/">trazeo.es</a></p>
        </td>
    </tr>
</table>
{% include 'SopinetTemplateSbadmin2Bundle:Emails:footer.html.twig' %}
