{% include 'SopinetTemplateSbadmin2Bundle:Emails:header.html.twig' %}
<table>
    <tr>
        <td>
            Hola!
        </td>
    </tr>
    <tr>
        <td>
            <dl>
                <dt>El usuario {{ user.user.username }} se ha unido al grupo {{ group.name }} y ahora podra:</dt>
                <dd>- Visualizar el recorrido y/o recibir notificaciones de que los niños han llegado sin incidencias cuando el grupo este en marcha.</dd>
            </dl>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                El email de contacto de {{ user.user.username }}, para el seguimiento y correcta gestión del alta, es eñ siguientes <a href="{{  "mailto:"~user.user.email}}"  target="_top">{{ user.user.email }}</a>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Si necesitas ayuda, contáctanos. Muchas de las dudas que puedes tener al principio te las podemos resolver directamente, y estamos deseando ayudarte, de verdad ;). Escríbenos un mail a <a href="mailto:hola@trazeo.es"> hola@trazeo.es</a>o déjanos tu teléfono para que te llamemos a través del formulario de <a href="http://trazeo.es/contacto/"><b>Contacto</b></a>. También puedes acceder a los manuales de uso de la app y la web desde <a href="http://www.trazeo.es/">www.trazeo.es</a> o dejarnos un mensaje en la web.
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Nos vemos en el camino!
                </br>El equipo de Trazeo Caminos Escolares
                </br><a href="http://www.trazeo.es/">trazeo.es</a></p>
        </td>
    </tr>
</table>
{% include 'SopinetTemplateSbadmin2Bundle:Emails:footer.html.twig' %}
