<!-- Se podría mirar una forma más elegante de aplicar estos mínimos estilos -->
<style>
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

.nav-tabs { margin-bottom: -1px; }
</style>
<div class="row-fluid">
	<!--PAGE CONTENT BEGINS HERE-->
	<form class="form-horizontal" action="{{ path('panel_user_live_save') }}" method="POST"/>
		<div class="tabbable">
			<ul class="nav nav-tabs" id="live_tab">
				<li class="active">
					<a data-toggle="tab" href="#live_tab">
						{{ ("preference.live")|trans }}
					</a>
				</li>
			</ul>
			
			<div class="tab-content">
				<div id="live_tab" class="fade tab-pane in active">
					<div class="row-fluid">
						<span class="span7"></span>
						<span class="span5">
								<div class="control-group">
									<div class="controls">
										{% for setting in live_settings %}
										<label>
											<input
											 {% for user_value in (app.user|getUserLiveValueFilter()) %}
											 	{% if user_value== setting.type %}checked="checked" {% endif %}
											 {% endfor %}
											name="setting_{{ setting.type }}" type="checkbox" class="ace" value="{{ setting.type }}"/>
												<span class="lbl">{{ ("preference."~setting.type)|trans }}</span>
										</label>
										{% endfor %}
										</div>
									</div>
						</span>
					</div>
			</div>
	
		<br />
		<div class="row-fluid">
			<button class="btn btn-success" type="submit">
				<i class="fa fa-save"></i>&nbsp;
				{{ "Btn.success"|trans }}
			</button>
		</div>
	
	</form>
{% for user_value in (app.user|getUserLiveValueFilter()) %} {{user_value}} {% endfor %} 
</div>