{% set activeMenu = "children" %}
{% set pageheader_title = "Children.index.title"|trans %}
{% set pageheader_description = "Children.index.description"|trans %}
{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}


		{% block body_content %}               
	        {% for allChildInvite in allChildsInvite %}
				{% if user.Id == allChildInvite.Userextend.Id  %}
				<div>
	        		<td>Tienes una invitación para ser tutor del niño <b>{{ allChildInvite.Child }}</b>
						&nbsp;<a href="{{ path('panel_child_invite_accept', { 'id': allChildInvite.Userextend.Id, 'child':allChildInvite.Child.Id, 'sender':allChildInvite.Sender.Id }) }}" type="button" class="label label-success">
							<i class="fa fa-check"></i> Aceptar
						</a>&nbsp;
						<a href="{{ path('panel_child_invite_deny', { 'id': allChildInvite.Userextend.Id ,'child': allChildInvite.Child.Id, 'sender':allChildInvite.Sender.Id }) }}" type="button" class="label label-danger">
							<i class="fa fa-times"></i> Cancelar
						</a>
	        		 </td>
	        	</div>
	        	<br />
	        	{% endif %}
	        {% endfor %}
		<div class="panel-group" id="accordion1">
		{% for child in childs %}
			<div class="panel panel-warning">
				<div class="panel-heading">
		        	<h4 class="panel-title" style="cursor:pointer;" data-toggle="collapse" data-parent="#accordion1" href="#collapse{{ child.id }}">
		            	<a data-toggle="collapse" data-parent="#accordion1" href="#collapse{{ child.id }}">{{ child.nick }}</a>
					</h4>
	            	<div class="pull-right" style="margin-top:-20px;">
	            	
							<a href="{{ path('panel_child') }}{{ child.id }}/edit" type="button" 
							class="btn btn-default btn-xs edit" rel="tooltip-top" title="Editar información">
								<i class="fa fa-pencil"></i> Editar
							</a>
							<a href="{{ path('panel_child_disjoin', { 'id': child.id }) }}" type="button" 
							class="btn btn-default btn-xs disjoin" rel="tooltip-top" title="Dejar de ser tutor del niño">
								<i class="fa fa-sign-out"></i> Desvincularme
							</a>
			        	<span class="label label-success tutores">{{ "Tutores"|trans }} {{ child.userextendchilds|length }}</span>
	            	 </div>
				</div>
				<div id="collapse{{ child.id }}" class="panel-collapse collapse {% if loop.index == 1 %}in{% endif %}">
					<div class="panel-body">
					
							<table class="table">
								<tbody>
									<tr>
										<td><i class="fa fa-key"></i></td>
										<td>Tutores</td>
										<td>
											{% for childUser in child.userextendchilds %}
												<span class="text-success">{{ childUser.nick }}</span>
											{% endfor %} 
										</td>
									</tr>
									<tr>
										<td><i class="fa fa-users"></i></td>
										<td>Grupos en los que está inscrito</td>
										<td>
											{% for childGroup in child.groups %}
												<span class="label">
													<a href="{{ path('panel_group_timeline',{'id': childGroup.id}) }}">{{ childGroup.name }}</a>
												</span>
											{% endfor %} 
										</td>
									</tr>
									<tr>
										<td><i class="fa fa-star"></i></td>
										<td>Género</td>
										{% if child.gender == 'boy' %}
										<td>{{ 'Children.gender.boy'|trans }}</td>
										{% else %}
										<td>{{ 'Children.gender.girl'|trans }}</td>
										{% endif %}
									</tr>
									<tr>
										<td><i class="fa fa-calendar-o"></i></td>
										<td>Fecha de nacimiento</td>
										<td>
											{{ child.datebirth |date("d M, Y") |trans }} 
										</td>
									</tr>
									<tr>
										<td><i class="fa fa-eye"></i></td>
										<td>Visibilidad</td>
										<td>
											{% if child.visibility == 0 %}
												Privado
											{% elseif child.visibility == 1 %}
												Público
											{% endif %} 
										</td>
									</tr>
								</tbody>
							</table>							
					<div class="col-md-6 pull-right">	
						<p class="text-muted">
						<i class="fa fa-envelope"></i>&nbsp;
							Envía una invitación a otros usuarios para que sean uno de los tutores de este niño
						</p>
						<form class="input-group custom-search-form" action="{{ path('panel_child_invite') }}" method="POST">
							<input required type="email" name="userEmail" class="form-control" placeholder='{{ "Email"|trans }}'/>
							<input type="hidden" name="child" value="{{ child.id }}"/>
							<span class="input-group-btn">
							<button class="btn btn-warning" type="submit"><i class="fa fa-check"></i></button>
							</span>				
						</form>
					</div>
						<div class="col-md-6 pull-left">
							<h4 class="alert alert-warning">Código identificador</h4>
							<p class="col-md-9 pull-left">El siguiente código es único y está asignado a tu niño/a <span class="alert-warning"><b>{{ child.nick }}</b></span>. 
							Descárgalo haciendo click en él e imprímelo para que el monitor pueda registarlo en los paseos en marcha.</p>
							<a download="Código_Identificador_{{ child.nick }}" href={{ qrcode_url(child.id, 'jpg', 110) }}>
							<img style="margin-top:-20px;" class="pull-right" src="{{ qrcode_url(child.id, 'jpg', 110) }}" />
							</a>
							
						</div>
					</div> 
				</div>
			</div>
		
		{% endfor %}
		</div>
{% endblock%}

{% block js %}
	{{ parent() }} 
	<input type="hidden" id="path_home" value="{{ path('panel_dashboard') }}">
	<script type="text/javascript">
	if(localStorage.getItem('tutorial')=='child'){
		localStorage.setItem('tutorial','none');
   		var trip = new Trip([
   	                         { 
   	                             sel : $('.panel.panel-warning'),
   	                             content : 'Aqui aparecera la información de los niños de los que eres tutor',
   	                             position: 'n'
   	                         },
   	                         { 
   	                             sel : $(".edit"),
   	                             content : 'Aqui podra editar la información de un niño',
   	                             position: 'n'
   	                         },
   	                         { 
   	                             sel : $(".disjoin"),
   	                             content : 'Aqui podra desvincularse como tutor de un niño',
   	                             position: 'n'
   	                         },
   	                         { 
   	                             sel : $(".tutores"),
   	                             content : 'Aqui muestra el numero de tutores de un niño',
   	                             position: 'w',
   	                             callback: function(){
   	                            	localStorage.setItem('tutorial','groups');
                               	 	var url = $('#path_home').attr('value');    
                              	 	window.location.replace(url);
     	   	                     }
   	   	                         
   	                         },
   	                         
                      ], {
        					 delay : 2500,
        					 skipUndefinedTrip: true
    				});
		trip.start();
	}
	</script>	
{% endblock %}