{% extends 'TrazeoMyPageBundle:Admin:custom_project_layout.html.twig' %}

{% block content %}
    <p>Puede mover los elementos, clicando y soltando para reordenarlos.</p>
    <p>Acceda a "Editar" los módulos, y podrá modificarlos.</p>

    <a class="btn btn-success pull-left" href="#">Add menu</a>
    <i id="iconSaving" data-toggle="tooltip" title="Changes saved automatically!" class="fa fa-save pull-right"></i>

    <hr style="clear:both"></hr>

    <div id="menus">
        {% for menu in page.menus %}
            <div class="menu" data-id="menu-{{ menu.id }}" id="menu-{{ menu.id }}">
                <a class="btn btn-warning pull-right" href="{{ path('moduleComposer_deleteMenu', {'menu':menu.id}) }}">
                    Remove menu
                </a>
                <div class="dropdown pull-right">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-expanded="true">
                        Add module
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        {% for moduleType in moduleTypes %}
                            <li><a href="{{ path('moduleComposer_addModule', {'moduleType':moduleType, 'menu':menu.id}) }}">{{ moduleType }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="title_menu">
                    <span class="menu_colorback" style="background-color: #{{ menu.colorback }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    {{ menu }}
                </div>
                <div class="modules" data-id="modules-{{ menu.id }}" id="modules-{{ menu.id }}">
                        <div class="module empty" data-id="module-0_{{ menu.id }}" id="module-0_{{ menu.id }}"> - </div>
                    {% for module in menu.modules %}
                        <div class="module" data-id="module-{{ module.id }}" id="module-{{ module.id }}">{{ module }}
                            <i class="js-edit">
                                <a class="btn btn-info" href="{{ path('moduleComposer_editModule', {'module': module.id}) }}">
                                    Edit
                                </a>
                                <a class="btn btn-warning" href="{{ path('moduleComposer_deleteModule', {'module': module.id}) }}">
                                    Delete
                                </a>
                        </i></div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <style>
        .menu {
            padding: 10px;
            margin: 10px;
            border: 1px solid #0e0e0e;
            background-color: #FEFEFE;
        }
        .title_menu {
            cursor: move;
            font-size: 120%;
        }
        .menu_colorback {
            width: 30px;
            height: 30px;
            border: 1px dashed #030303;
        }
        .module {
            cursor: move;
            position: relative;
        }

        .module i {
            -webkit-transition: opacity .2s;
            transition: opacity .2s;
            opacity: 0;
            font-style: normal;
        }

        .module:hover i {
            opacity: 1;
        }


    </style>
    {{ parent() }}
    {% javascripts
    '@TrazeoMyPageBundle/Resources/public/js/jquery.binding.js'
    '@TrazeoMyPageBundle/Resources/public/js/Sortable.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        var order;

        function initSaving() {
            $("#iconSaving").addClass("fa-spin");
            $("#iconSaving").css("color", "#FF0000");
        }

        function stopSaving(data) {
            $("#iconSaving").removeClass("fa-spin");
            $("#iconSaving").css("color", "#000000");
            // alert(data);
        }

        function replaceAll(find, replace, str) {
            return str.replace(new RegExp(find, 'g'), replace);
        }

        function saveModules(parentID, orderPost) {
            if (orderPost == null) {
                alert(parentID);
            } else if (typeof orderPost == 'string') {
                orderPost = orderPost.replace(/\|/g, ',');
            } else if (typeof orderPost == 'object') {
                orderPost = orderPost.toString();
            }

            var postURL = "{{base_url}}admin/moduleComposer/saveOrderModules/" + parentID + "/" + orderPost;
            initSaving();
            $.post( postURL, function( data ) {
                stopSaving(data);
            });
        }

        function saveMenus(order) {
            if (typeof order == 'string') {
                order = order.replace(/\|/g, ',');
            }

            var postURL = "{{base_url}}admin/moduleComposer/saveOrderMenus/" + order;
            initSaving();
            $.post( postURL, function( data ) {
                stopSaving(data);
            });
        }

        $(function() {
            // http://labs.abeautifulsite.net/jquery-minicolors/
            // .menu_colorback
            // TODO: Implementar el cambio de color

            var menus = $("#menus").sortable({
                animation: 150,
                draggable: '.menu',
                filter: '.menu_colorback',
                handle: '.title_menu',
                dataIdAttr: 'data-id',
                store: {
                    /**
                     * Get the order of elements. Called once during initialization.
                     * @param   {Sortable}  sortable
                     * @returns {Array}
                     */
                    get: function (sortable) {
                        order = localStorage.getItem(sortable.options.group);
                        return order ? order.split(',') : [];
                    },

                    /**
                     * Save the order of elements. Called onEnd (when the item is dropped).
                     * @param {Sortable}  sortable
                     */
                    set: function (sortable) {
                        order = sortable.toArray();
                        console.log("Menu saving...");
                        console.log(order);
                        saveMenus(order);
                        // DESACTIVADO: localStorage.setItem(sortable.options.group, order.join('|'));
                    }
                }
            });
            console.log(menus);
            console.log(menus.toArray());

            $(".modules").sortable({
                animation: 150,
                draggable: '.module',
                filter: ".empty, .menu_colorback",
                dataIdAttr: 'data-id',
                group: "localStorage-modules",
                store: {
                    /**
                     * Get the order of elements. Called once during initialization.
                     * @param   {Sortable}  sortable
                     * @returns {Array}
                     */
                    get: function (sortable) {
                        order = localStorage.getItem(sortable.options.group);
                        return order ? order.split(',') : [];
                    },

                    /**
                     * Save the order of elements. Called onEnd (when the item is dropped).
                     * @param {Sortable}  sortable
                     */
                    set: function (sortable) {
                        order = sortable.toArray();
                        var parentID = $("#" + order[0]).parent().attr('id');
                        saveModules(parentID, order);
                        // DESACTIVADO: localStorage.setItem(sortable.options.group, order.join('|'));
                    }
                },
                onAdd: function (/**Event*/evt) {
                    var moduleID = $(evt.item).attr("data-id");
                    console.log("Add module to new Menu: "+moduleID);
                    //alert(moduleID);
                    // En moduleID tendré el ID del módulo, ahora tengo que buscar el Menú al que ha ido
                    var parentID = $("#"+moduleID).parent().attr('id');
                    var children = [];
                    $("#"+parentID).children().each(function(el) {
                        children.push($(this).attr('id'));
                    });
                    console.log("Children: "+children);
                    saveModules(parentID, children);
                }
            });
        });
    </script>

    {#
    <script src="//cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.4/interact.min.js"></script>
    <script>
        $(function() {
            var listMenus = document.querySelector('#list-menus');
            interact('li', {
                context: listMenus
            }).draggable({
                // enable inertial throwing
                inertia: true
            });
            alert(listMenus);
        });
    </script>
    #}
{% endblock %}