{% extends 'TrazeoMyPageBundle:Admin:custom_project_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="//code.highcharts.com/4.0.1/highcharts.js"></script>
    <script src="//code.highcharts.com/4.0.1/modules/exporting.js"></script>
    <script src="{{ asset('js/export-csv.js') }}"></script>


    <script type="text/javascript">
        {% if chartEdad is not null %}
            {{ chart(chartEdad) }}
        {% endif %}
        {% if chartSexo is not null %}
            {{ chart(chartSexo) }}
        {% endif %}
        {% if chartColegio is not null %}
            {{ chart(chartColegio) }}
        {% endif %}
        {% if chartGrupo is not null %}
            {{ chart(chartGrupo) }}
        {% endif %}
        {% if chartUsersColegio is not null %}
        {{ chart(chartUsersColegio) }}
        {% endif %}
        {% if chartUsersGrupo is not null %}
        {{ chart(chartUsersGrupo) }}
        {% endif %}
    </script>
{% endblock %}

{% block content %}
    <form method="POST" action="{{ path('stats_bar') }}">
        {% form_theme form_filters 'TrazeoMyPageBundle:Form:bootstrap.12_label.html.twig' %}
        {{ form_widget(form_filters) }}
        <div class="row">
            <div class="col-md-6">
                <input type="reset" class="btn btn-lg btn-primary btn-block" value="Limpiar filtros"/>
            </div>
            <div class="col-md-6">
                <button class="btn btn-lg btn-success btn-block" type="submit">Generar gr치fica</button>
            </div>
        </div>
    </form>

    <!-- Load jQuery from Google's CDN if needed -->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>-->


    {% if chartEdad is not null %}
        <h2>Gr치ficos de Registro de Ni침os/as</h2>
        <div id="edad" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    {% endif %}
    {% if chartSexo is not null %}
        <div id="sexo" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    {% endif %}
    {% if chartColegio is not null %}
        <div id="colegio" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    {% endif %}
    {% if chartGrupo is not null %}
        <div id="grupo" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    {% endif %}

    <hr/>

    {% if chartUsersColegio is not null %}
        <h2>Gr치ficos de Registro de Familias</h2>
        <div id="users_colegio" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    {% endif %}
    {% if chartUsersGrupo is not null %}
        <div id="users_grupo" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    {% endif %}
{% endblock %}