{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %} {% block
body_content %}

<form class="form-horizontal" id="profile-edit" method="post" action="{{ path('panel_profile_save') }}">

	<ul class="nav nav-tabs nav-bottom">
		<li class="active"><a href="#location" data-toggle="tab">Location</a></li>
		<li><a href="#profile" data-toggle="tab">Profile</a></li>
		<li><a href="#avatar" data-toggle="tab">Avatar</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="container">
		<div class="tab-content">
			<div class="tab-pane fade in active" id="location">
				{{ form_widget(form_userextend) }}
			</div>
			<div class="tab-pane fade" id="profile">
				{{ form_widget(form_profile) }}
			</div>
			<div class="tab-pane fade" id="avatar">posible avatar</div>
			{{ form_errors(form_profile) }}
			{{ form_errors(form_userextend) }}
		</div>
	</div>
	<button type="submit" class="btn btn-outline btn-success">Btn.success</button>
</form>
<br />
	<button class="btn btn-danger btn-outline" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o"></i> Eliminar cuenta</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Eliminar cuenta</h4>
      </div>
      <div class="modal-body">
		Pronto podrás eliminar tu cuenta de usuario tú mismo.<br /><br /> Si por cualquier motivo deseas borrar tu perfil ahora,
		 ponte en contacto con nosotros a través del email <a href="mailto:info@trazeo.es">info@trazeo.es</a> y procesaremos tu petición.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-mail-reply-all"></i> volver</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}
