{% set activeMenu = "home" %}
{% set pageheader_title = "Userextend.index.title"|trans %}
{% set pageheader_description = "Userextend.index.description"|trans %}
{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %} {% block
body_content %}
<span style="cursor:pointer;" class="label label-warning pull-right" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o"></i> {{ 'DeleteAccount.title'|trans }}</span>
<form class="form-horizontal" id="profile-edit" method="post" action="{{ path('panel_profile_save') }}">
	<ul class="nav nav-tabs nav-bottom">
		<li class="active"><a href="#location" data-toggle="tab">{{ 'Userextend.profile.location'|trans }}</a></li>
		<li><a href="#profile" data-toggle="tab">{{ 'Userextend.profile.profile'|trans }}</a></li>
		<li><a href="#avatar" data-toggle="tab">{{ 'Userextend.profile.avatar'|trans }}</a></li>
	</ul>
	<!-- Tab panes -->
	<div class="container">
		<div class="tab-content">
			<div class="tab-pane fade in active" id="location">
				{{ form_widget(form_userextend) }}
				<div class="form-group">
					<div id="prefetch">
  						Ingrese su Localidad: <input name="city" class="typeahead form-control" type="text" placeholder="Localidad" value="{% if app.user.userextend.city.nameUtf8 is defined %}{{ app.user.userextend.city.nameUtf8 }}{% endif %}">
  					</div>
  				</div>
			</div>
			<div class="tab-pane fade" id="profile">
				{{ form_widget(form_profile) }}
			</div>
			<div class="tab-pane fade" id="avatar">
				<i class="alert alert-warning fa fa-user fa-4x"></i>
			</div>
			{{ form_errors(form_profile) }}
			{{ form_errors(form_userextend) }}
		</div>
	</div>
	<br />
	<button type="submit" class="btn btn-outline btn-success"><i class="fa fa-save"></i>&nbsp; {{ "Btn.success" |trans }}</button>
</form>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{ 'DeleteAccount.title'|trans }}</h4>
      </div>
      <div class="modal-body">
			{{ 'DeleteAccount.description'|trans }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-mail-reply-all"></i> {{ 'Btn.back'|trans }}</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block js %}
	{{ parent() }}
	<script>
		var countries = new Bloodhound({
		  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('nameUtf8'),
		  queryTokenizer: Bloodhound.tokenizers.whitespace,
		  limit: 10,
		  remote: '{{ base_url }}api/geo/city/list?q=%QUERY',
		});
		 
		// kicks off the loading/processing of `local` and `prefetch`
		countries.initialize();
		 
		// passing in `null` for the `options` arguments will result in the default
		// options being used
		$('#prefetch .typeahead').typeahead(null, {
		  name: 'cities',
		  displayKey: 'nameUtf8',
		  // `ttAdapter` wraps the suggestion engine in an adapter that
		  // is compatible with the typeahead jQuery plugin
		  source: countries.ttAdapter()
		});
	</script>
{% endblock %}
