<!-- START Modal definition -->
<div id="civiModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="civiModal" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
    	<div class="modal-content">

        	<div class="modal-header">
          	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">{{"Points.modal.close"|trans |raw}}</span></button>
	          <h4 class="modal-title" id="civiModal">{{"Points.modal.civi.howto"|trans |raw}}</h4>
   			</div>
 			<div class="modal-body row">
				<p>{{"Points.modal.civi.header"|trans|raw}}</p>
				<p><b>{{"Points.modal.civi.question.first"|trans |raw}} </b>{{"Points.modal.civi.explain.first"|trans |raw}}</p>
				<p>{{"Points.modal.civi.question.second"|trans |raw}}</p>
				<span class="col-md-4 col-md-offset-4"><a href="https://www.civiclub.org"><img src="/trazeo-web/web/images/logo_civis.png"></a></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{{"Points.modal.close"|trans |raw}}</button>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
<!-- END Modal definition -->