<!-- START Modal definition -->
<div id="exchageModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
    	<div class="modal-content">

        	<div class="modal-header">
          	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">{{"Points.modal.close"|trans |raw}}</span></button>
	          <h4 class="modal-title" id="myModalLabel">{{"Points.modal.howto"|trans |raw}}</h4>
   			</div>
 			<div class="modal-body">
				<p>{{"Points.modal.header"|trans}}</p>
				<p><b>{{"Points.modal.question.first"|trans |raw}} </b>{{"Points.modal.explain.first"|trans |raw}}</p>
				<p><b>{{"Points.modal.question.second"|trans |raw}} </b>{{"Points.modal.explain.second"|trans |raw}}</p>
				<p>{{"Points.modal.explain.third"|trans |raw}} <a href='mailto:{{"Points.modal.mail"|trans}}'>{{"Points.modal.mail"|trans |raw}}</a></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{{"Points.modal.close"|trans |raw}}</button>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
<!-- END Modal definition -->