<div class="row alert alert-warning">
	<!-- Child name -->
	<div class="col-md-5">
    	{% if  childRide.child.Gender == "boy" %}
        	<i class="fa fa-male"></i>
        {% else %}  
            <i class="fa fa-female"></i>
        {% endif %}
        
        {#<a href="{{ path('panel_child') }}/#collapse{{ child.id }}">#}
        	{{ childTotal.child.nick }}
        {#</a>#}	
	</div>
	
	<!-- Child meters -->
	<div class="col-md-5">
		<h4>&nbsp; {{ childTotal.meters}}</h4>
	</div>
	
	<!-- Child points -->
	<div class="col-md-2">
		<h4>&nbsp; {{ childTotal.points}}</h4>
	</div>
</div>