{% set file_path = asset(ofert.url) %}

<span class="col-md-4 col-xs-12 col-sm-6 col-lg-4 img-responsive row-offset-min"
      {% if ofert.citys is not null %}data-city="{{ ofert.citys.nameUtf8 }}"
      {% if city is not null and city.id != ofert.citys.id %}style=" display: none;"{% endif %}{% endif %} %}>
		<div class="catalogItem"
             style="background-image: url({{ file_path }}),-webkit-linear-gradient(top, #ffffff, #ffffff 60%, #cedcab 40%, #cedcab);
                     background-image: url({{ file_path }}),-moz-linear-gradient(top, #ffffff, #ffffff 60%, #cedcab 40%, #cedcab);
                     background-image: url({{ file_path }}),-ms-linear-gradient(top, #ffffff, #ffffff 60%,  #cedcab 40%, #cedcab);
                     background-image: url({{ file_path }}),-o-linear-gradient(top, #ffffff, #ffffff 60%, #cedcab 40%, #cedcab);
                     background-image: url({{ file_path }}),linear-gradient(top, #ffffff, #ffffff 60%, #cedcab 40%, #cedcab);">
			<div class="flex-around-parent">
				<div class="circle text-center">
					<span class="catalog-item-points2">{{ ofert.points }}</span>
					</br>
					<span><p class="catalog-item-points ">{{ 'CatalogItem.points'|trans }}</p></span>
				</div>
			</div>
			<div class="catalog-item-title col-md-10 ">
				<p>{{ ofert.title }}</p>
			</div>
			<div class="catalog-item-description col-md-10 hidden-xs hidden-sm">
				<p>{{ ofert.description }}</p>
			</div>
		</div>
		<div class="flex-around-parent">
		{% if ofert.points!=0 %}
            <a class="btn btn-success flex-around-son"
               href="{{ path('panel_point_exchange', { 'id': ofert.id}) }}" data-offert='tiitle.ofert'>
			<i class="fa fa-plus-circle"></i>&nbsp; {{ "Exchange.button.exchange"|trans }}
		</a>
        {% endif %}
            {% if ofert.link is not null %}
                <a {% if ofert.points==0 %}class="btn btn-success flex-around-son"
                   {% else %}class="btn btn-success flex-around-son"{% endif %} style="margin-top:5px"
                   href="{{ ofert.link }}"
                   data-offert="{{ ofert.title }}">
			<i class="fa fa-plus-circle"></i>&nbsp; {{ "Exchange.button.moreinfo"|trans }}
		</a>
            {% endif %}
			</div>
	</span>