{%set file_path=("/trazeo-web/web/uploads/gallery/"~file)%}
	<span class="col-md-4 col-xs-12 col-sm-4 col-lg-4 img-responsive">
		<div class="catalogItem" style="background-image: url({{asset(file_path)}}),-webkit-linear-gradient(top, #ffffff, #ffffff 60%, #cedcab 40%, #cedcab); 
    background-image: url({{asset(file_path)}}),-moz-linear-gradient(top, #ffffff, #ffffff 60%, #cedcab 40%, #cedcab);  
    background-image: url({{asset(file_path)}}),-ms-linear-gradient(top, #ffffff, #ffffff 60%,  #cedcab 40%, #cedcab);  
    background-image: url({{asset(file_path)}}),-o-linear-gradient(top, #ffffff, #ffffff 60%, #cedcab 40%, #cedcab);  
    background-image: url({{asset(file_path)}}),linear-gradient(top, #ffffff, #ffffff 60%, #cedcab 40%, #cedcab);">
			<div class="circle col-md-3  col-xs-3  col-sm-3  col-lg-3 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
				<span><b class="catalog-item-points catalog-item-points2">{{ofert.points}}</b></span>
			</br>
				<span><p class="catalog-item-points">puntos</p></span>
			</div>
			<div class="catalog-item-title col-md-10 ">
				{{ofert.title}}
			</div>
			<div class="catalog-item-description col-md-10 hidden-xs">
				{{ofert.description}}
			</div>
		</div>
		<a class="btn btn-success col-md-offset-3" margin-top="10px" href="{{ofert.link}}" data-offert="{{ofert.title}}">
			<i class="fa fa-plus-circle"></i>&nbsp; {{ "Exchange.button.moreinfo"|trans}}
		</a>	
	</span>