{% set activeMenu = "historical" %}
{% set pageheader_title = "Points.title"|trans %}
{% set pageheader_description = "Points.description"|trans %}
{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

{% block body_content %}
<!-- START pointsResume -->
		<div class="howto" data-toggle="modal" data-target="#howToModal">
			<button type="button" class="btn btn-warning">
				 <i class="fa fa-info"></i>&nbsp; {{ 'Points.exchange'|trans }}	
			</button>
		</div>	
	</br>
        <div class="col-lg-12 alert alert-success">
        	<div class="col-md-4">
        		<i class="fa fa-5x fa-trophy"></i>
        	</div>

			<div class="col-md-4">
				{% if (points-user.spendedPoints)>1%}
				<h4>{{ points-user.spendedPoints }} {{"Points.name_plural"|trans}} {{ "Points.index.remains"|trans }}</h4>
				{% else %}
				<h4>{{ points-user.spendedPoints }} {{"Points.name"|trans}} {{ "Points.index.remains"|trans }}</h4>
				{% endif %}
				{% if (points)>1%}				
				<h4>{{ points }} {{"Points.name_plural"|trans}} {{ "Points.index.total"|trans }} </h4>
				{% else %}
				<h4>{{ points }} {{"Points.name"|trans}} {{ "Points.index.total"|trans }} </h4>
				{% endif %}
			</div>
			<div class="col-md-4"><br/>
				<a class="btn-xs btn-warning historical" href="{{ path('panel_point_historical') }}">
					<i class="fa fa-bar-chart-o "></i>&nbsp;{{ 'Points.historical.button'|trans }}
				</a>&nbsp;		
			</div>
		</div>
		<a class="pull-left" href="{{ path('panel_point_exchange') }}">
			<button type="button" class="btn btn-success exchange">
				 <i class="fa fa-plus-circle"></i>&nbsp; {{ 'Points.button.exchange'|trans }}	
			</button>
		</a>	
		{% include 'TrazeoFrontBundle:PanelPoint:_howto_modal.html.twig' %}
	<!-- END pointsResume -->
{% endblock %}{# END body_content #}
{% block js %}
	{{parent()}}
	{% include 'TrazeoFrontBundle:PanelPoint:_index_analytics.html.twig' %}
{% endblock %}