<!-- START resumeGroups -->
 				<div class="resumeGroups alert alert-warning" id="groups">
 					<div>
 						<div class="alert alert-warning">
 							<table class="table">
 								<thead>
 									<tr>
 										<th>#</th>
 										<th>{{ 'Groups.data.name'|trans }}</th>
 										<th>{{ 'Groups.data.activity'|trans }}</th>
 										<th>{{ 'Groups.data.member'|trans }}</th>
 										<th>{{ 'Groups.data.visibility'|trans }}</th>
 										<th>{{ 'Groups.data.route'|trans }}</th>
 										<th>{{ 'Groups.data.options'|trans }}</th>
 									</tr>
 								</thead>
 							        <tbody>
 							        {% for groupMember in groupsMember %}
 							            <tr>
 							                <td><i class="fa fa-users"></i></td>
 							                <td>
 							                	{% if groupMember.Admin.Id == user.Id %}
 							                		<i rel="tooltip-top" title='{{ 'Admin'|trans }}' class="fa fa-key"></i>&nbsp;
 							                	{% endif %}
 							                 {{ groupMember.Name }}</td>
 											<td><a href="{{ path('panel_group_timeline',{'id': groupMember.id}) }}"><i class="fa fa-comments-o"></i>&nbsp; {{ 'Groups.data.chat'|trans }}</a></td>
 											<td>
 												<a href="{{ path('panel_group_disjoin', { 'id': groupMember.id }) }}" type="button" 
 												class="btn btn-default btn-xs group-disjoin">
 													<i class="fa fa-sign-out"></i> {{ 'DisJoin'|trans }}
 												</a>
 											</td>
 											{% if groupMember.Admin.Id == user.Id %}
 								                {% if  groupMember.Visibility == 0 %}
 								                <td><i rel="tooltip-top" title='{{ 'ChangeVisibility'|trans }}' class="fa fa-unlock btn btn-xs btn-success"
 								                groupVisibility="0" changeVisibility="{{ path('panel_group_changeVisibility', { 'id': groupMember.id, 'visibility': "replace" }) }}";
 												id="visibility-{{ groupMember.id }}" data-toggle="confirmationChange"></i>&nbsp; {{ 'Groups.visibility.public'|trans }}</td>
 								                {% elseif groupMember.Visibility == 1 %}
 								                <td><i rel="tooltip-top" title='{{ 'ChangeVisibility'|trans }}' class="fa fa-lock btn btn-xs btn-danger"
 								                groupVisibility="1" changeVisibility="{{ path('panel_group_changeVisibility', { 'id': groupMember.id, 'visibility': "replace" }) }}";
 												id="visibility-{{ groupMember.id }}" data-toggle="confirmationChange"></i>&nbsp; {{ 'Groups.visibility.private'|trans }}</td>
 								                {% elseif groupMember.Visibility == 2 %}
 								                <td><i rel="tooltip-top" title='{{ 'ChangeVisibility'|trans }}' class="fa fa-eye-slash btn btn-xs btn-warning"
 								                groupVisibility="2" changeVisibility="{{ path('panel_group_changeVisibility', { 'id': groupMember.id, 'visibility': "replace" }) }}";
 												id="visibility-{{ groupMember.id }}" data-toggle="confirmationChange"></i>&nbsp; {{ 'Groups.visibility.hidden'|trans }}</td>
 								                {% endif %}
 								             {% else %}   
 								             {% if  groupMember.Visibility == 0 %}
 								                <td><i class="fa fa-unlock btn btn-xs btn-success"></i>&nbsp; {{ 'Groups.visibility.public'|trans }}</td>
 								                {% elseif groupMember.Visibility == 1 %}
 								                <td><i class="fa fa-unlock btn btn-xs btn-danger"></i>&nbsp; {{ 'Groups.visibility.private'|trans }}</td>
 								                {% elseif groupMember.Visibility == 2 %}
 								                <td><i class="fa fa-unlock btn btn-xs btn-warning"></i>&nbsp; {{ 'Groups.visibility.hidden'|trans }}</td>
 								              {% endif %}
 							                {% endif %}
 							               
 							                {% if groupMember.route %}
 							                <td><a href="{{ path('panel_route')}}{{ groupMember.Route.Id }}">{{ groupMember.Route.Name }}</a></td>
 							                {% else %}
 							                <td>{{ 'Groups.noRoute'|trans }}</td>
 							                {% endif %}
 											{% if groupMember.Admin.Id == user.Id %}
 							                <td>
 												<a class="btn btn-xs btn-default" href="{{ path('panel_group') }}{{ groupMember.id }}/edit"><i class="fa fa-pencil"></i>&nbsp;  {{ 'Options.edit'|trans }}</a>
 												<a class="btn btn-xs btn-default" style="cursor:pointer;" data-href="{{ path('panel_group_delete', {'id': groupMember.id }) }}" data-toggle="confirmation"" data-title='{{ 'Confirmation.question'|trans }}' data-btnCancelLabel='{{ 'Confirmation.no'|trans }}' data-btnOkLabel='{{ 'Confirmation.yes'|trans }}'><i class="fa fa-trash-o"></i>&nbsp; {{ 'Options.delete'|trans }}</a>
 							                </td>
 							                {% else %}
 							                <td class="btn-xs"><i class="fa fa-ban"></i>&nbsp; {{ 'Admin.no'|trans }}</td>
 							                {% endif %}
 							            </tr>
 							        {% endfor %}
 							        
 							        {% for restGroup in restGroups %}
 							        	{% if restGroup.Visibility  != 2 %}
 							            <tr>
 							                <td><i class="fa fa-users"></i></td>
 							                <td>
 							                {% if restGroup.Admin.Id == user.Id %}
 							                	<i rel="tooltip-top" title='{{ 'Admin.yes'|trans }}' class="fa fa-key"></i>&nbsp;
 							                {% endif %}
 							                 {{ restGroup.Name }}</td>
 											<td><i rel="tooltip-top" title='{{ 'Groups.noMember'|trans }}' class="fa fa-warning"></i>&nbsp; {{ 'NoAccess'|trans }}</a></td>
 											<td>
 												<a href="{{ path('panel_group_join', { 'id': restGroup.id }) }}" type="button" 
 												class="btn btn-default btn-xs group-join">
 													<i class="fa fa-sign-in"></i> {{ 'Join'|trans }}
 												</a> 
 											</td>
 											{% if restGroup.Admin.Id == user.Id %}
 								                {% if  restGroup.Visibility == 0 %}
 								                <td><i rel="tooltip-top" title='{{ 'ChangeVisibility'|trans }}' class="fa fa-unlock btn btn-xs btn-success"
 								                groupVisibility="0" changeVisibility="{{ path('panel_group_changeVisibility', { 'id': restGroup.id, 'visibility': "replace" }) }}";
 												id="visibility-{{ restGroup.id }}" data-toggle="confirmationChange"></i>&nbsp; {{ 'Groups.visibility.public'|trans }}</td>
 								                {% elseif restGroup.Visibility == 1 %}
 								                <td><i rel="tooltip-top" title='{{ 'ChangeVisibility'|trans }}' class="fa fa-lock btn btn-xs btn-danger"
 								                groupVisibility="1" changeVisibility="{{ path('panel_group_changeVisibility', { 'id': restGroup.id, 'visibility': "replace" }) }}";
 												id="visibility-{{ restGroup.id }}" data-toggle="confirmationChange"></i>&nbsp; {{ 'Groups.visibility.private'|trans }}</td>
 								                {% elseif restGroup.Visibility == 2 %}
 								                <td><i rel="tooltip-top" title='{{ 'ChangeVisibility'|trans }}' class="fa fa-eye-slash btn btn-xs btn-warning"
 								                groupVisibility="2" changeVisibility="{{ path('panel_group_changeVisibility', { 'id': restGroup.id, 'visibility': "replace" }) }}";
 												id="visibility-{{ restGroup.id }}" data-toggle="confirmationChange"></i>&nbsp; {{ 'Groups.visibility.hidden'|trans }}</td>
 								                {% endif %}
 								             {% else %}   
 								             {% if  restGroup.Visibility == 0 %}
 								                <td><i class="fa fa-unlock btn btn-xs btn-success"></i>&nbsp; {{ 'Groups.visibility.public'|trans }}</td>
 								                {% elseif restGroup.Visibility == 1 %}
 								                <td><i class="fa fa-unlock btn btn-xs btn-danger"></i>&nbsp; {{ 'Groups.visibility.private'|trans }}</td>
 								                {% elseif restGroup.Visibility == 2 %}
 								                <td><i class="fa fa-unlock btn btn-xs btn-warning"></i>&nbsp; {{ 'Groups.visibility.hidden'|trans }}</td>
 								              {% endif %}
 							                {% endif %}
 							               
 							                {% if restGroup.route %}
 							                <td><a href="{{ path('panel_route')}}{{ restGroup.Route.Id }}">{{ restGroup.Route.Name }}</a></td>
 							                {% else %}
 							                <td>{{ 'Groups.noRoute'|trans }}</td>
 							                {% endif %}
 											{% if restGroup.Admin.Id == user.Id %}
 							                <td>
 												<a class="btn btn-xs btn-default" href="{{ path('panel_group') }}{{ restGroup.id }}/edit"><i class="fa fa-pencil"></i>&nbsp;  {{ 'Options.edit'|trans }}</a>
 												<a class="btn btn-xs btn-default" style="cursor:pointer;" data-href="{{ path('panel_group_delete', {'id': restGroup.id }) }}" data-toggle="confirmation"" data-title='{{ 'Confirmation.question'|trans }}' data-btnCancelLabel='{{ 'Confirmation.no'|trans }}' data-btnOkLabel='{{ 'Confirmation.yes'|trans }}'><i class="fa fa-trash-o"></i>&nbsp; {{ 'Options.delete'|trans }}</a>
 							                </td>
 							                {% else %}
 							                <td class="btn-xs"><i class="fa fa-ban"></i>&nbsp; {{ 'Admin.no'|trans }}</td>
 							                {% endif %}
 							            </tr>
 							            {% endif %}
 							        {% endfor %}
 							        </tbody>
 							</table>
 						</div>
 					</div>
 				</div>