            <div class="modal fade" id="newRouteModal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content panel-warning">
                        <div class="modal-header panel-heading">
                         <h3 style="color: black" class="modal-title" id="myModalLabel">{{"Groups.newRouteModal.title"|trans}}</h3>
                        </div>
                        <div class="modal-body">
                            <h4>{{"Groups.newRouteModal.body1"|trans}}</h4>
                            <h5>{{"Groups.newRouteModal.body2"|trans}}</h5>
                            <h5>{{"Groups.newRouteModal.body3"|trans}}</h5>
                        </div>
                        <div class="modal-footer">
                            <button id="now" type="button" class="btn btn-success" data-dismiss="modal">{{"Groups.newRouteModal.now"|trans}}
                            </button>
                            <button id="later" type="button" class="btn btn-default" data-dismiss="modal">{{"Groups.newRouteModal.later"|trans}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>