<div class="row alert alert-warning">
	<!-- Nombre de Grupo -->
	<div class="col-md-4">
		<i class="fa fa-users"></i>
		{% if groupMember.Admin.Id == app.user.userextend.Id %}
        	<i rel="tooltip-top" title='{{ 'Admin.yes'|trans }}' class="fa fa-key"></i>&nbsp;
        {% endif %}
        {{ groupMember.Name }}
	</div>

	<!-- Opciones de Usuario -->
	<div class="col-md-6">
		
		<!-- Visibilidad -->
		{% if groupMember.Admin.Id == app.user.userextend.Id %}
        	{% if  groupMember.Visibility == 0 %}
                <td><i rel="tooltip-top" title='{{ 'Groups.visibility.public'|trans }} - {{ 'ChangeVisibility'|trans }}' class="fa fa-unlock btn btn-xs btn-success"
                groupVisibility="0" changeVisibility="{{ path('panel_group_changeVisibility', { 'id': groupMember.id, 'visibility': "replace" }) }}";
				id="visibility-{{ groupMember.id }}" data-toggle="confirmationChange"></i></td>
            {% elseif groupMember.Visibility == 1 %}
                <td><i rel="tooltip-top" title='{{ 'Groups.visibility.private'|trans }} - {{ 'ChangeVisibility'|trans }}' class="fa fa-lock btn btn-xs btn-danger"
                groupVisibility="1" changeVisibility="{{ path('panel_group_changeVisibility', { 'id': groupMember.id, 'visibility': "replace" }) }}";
				id="visibility-{{ groupMember.id }}" data-toggle="confirmationChange"></i></td>
            {% elseif groupMember.Visibility == 2 %}
                <td><i rel="tooltip-top" title='{{ 'Groups.visibility.hidden'|trans }} - {{ 'ChangeVisibility'|trans }}' class="fa fa-eye-slash btn btn-xs btn-warning"
                groupVisibility="2" changeVisibility="{{ path('panel_group_changeVisibility', { 'id': groupMember.id, 'visibility': "replace" }) }}";
				id="visibility-{{ groupMember.id }}" data-toggle="confirmationChange"></i></td>
            {% endif %}
        {% else %}   
        	{% if  groupMember.Visibility == 0 %}
                <td><i class="fa fa-unlock btn btn-xs btn-success" title="{{ 'Groups.visibility.public'|trans }}"></i></td>
        	{% elseif groupMember.Visibility == 1 %}
                <td><i class="fa fa-unlock btn btn-xs btn-danger" title="{{ 'Groups.visibility.private'|trans }}"></i></td>
         	{% elseif groupMember.Visibility == 2 %}
                <td><i class="fa fa-unlock btn btn-xs btn-warning" title="{{ 'Groups.visibility.hidden'|trans }}"></i></td>
            {% endif %}
        {% endif %}			
		
		{% if (groupMember.Admin.Id != app.user.userextend.Id and nois is defined) %}
		
			<!-- No Miembro -->
			{# <i rel="tooltip-top" title='{{ 'Groups.noMember'|trans }}' class="fa fa-warning"></i>&nbsp; {{ 'NoAccess'|trans }} #}		
			<a href="{{ path('panel_group_join', { 'id': groupMember.id }) }}" type="button" 
	 		class="btn btn-default btn-xs group-join" group.name="{{ groupMember.Name }}">
	 			<i class="fa fa-sign-in"></i> {{ 'Join'|trans }}
	 		</a>
 		
 		{% else %}
			<!-- Miembro -->
			<a href="{{ path('panel_group_timeline',{'id': groupMember.id}) }}"><button class="btn btn-xs btn-success"><i class="fa fa-comments-o"></i>&nbsp; {{ 'Groups.data.chat'|trans }}</button></a>
			<a href="{{ path('panel_group_disjoin', { 'id': groupMember.id }) }}" type="button" 
			class="btn btn-default btn-xs group-disjoin">
				<i class="fa fa-sign-out"></i> {{ 'DisJoin'|trans }}
			</a> 		
 		{% endif %}
 		 			
		<!-- Ruta del Grupo -->
        {% if groupMember.route %}
        	<a href="{{ path('panel_route')}}{{ groupMember.Route.Id }}">{{ groupMember.Route.Name }}</a>
        {% else %}
         	<span class="hidden-xs">{{ 'Groups.noRoute'|trans }}</span>
        {% endif %}
	</div>
	
	<!-- Opciones de Administración -->
	<div class="col-md-2">
		{% if groupMember.Admin.Id == app.user.userextend.Id %}
			<a class="btn btn-xs btn-default" href="{{ path('panel_group') }}{{ groupMember.id }}/edit"><i class="fa fa-pencil"></i><span class="hidden-xs">&nbsp;  {{ 'Options.edit'|trans }}</span></a>
			<a class="btn btn-xs btn-default" style="cursor:pointer;" data-href="{{ path('panel_group_delete', {'id': groupMember.id }) }}" data-toggle="confirmation"" data-title='{{ 'Confirmation.question'|trans }}' data-btnCancelLabel='{{ 'Confirmation.no'|trans }}' data-btnOkLabel='{{ 'Confirmation.yes'|trans }}'><i class="fa fa-trash-o"></i>&nbsp; {{ 'Options.delete'|trans }}</a>
        {% else %}
        	<!-- NO MOSTRAMOS NADA SI NO ES ADMIN -->
            {# <i class="fa fa-ban"></i>&nbsp; {{ 'Admin.no'|trans }} #}
        {% endif %}
    </div>		
	
	<!-- Visibilidad -->
	{#
	
	VAMOS A QUITAR LA PARTE DE VISIBILIDAD, NO CREO QUE SEA MUY USADA
	
{% if groupMember.Admin.Id == user.Id %}
                {% if  groupMember.Visibility == 0 %}
                <td><i rel="tooltip-top" title='{{ 'ChangeVisibility'|trans }}' class="fa fa-unlock btn btn-xs btn-success"
                groupVisibility="0" changeVisibility="{{ path('panel_group_changeVisibility', { 'id': groupMember.id, 'visibility': "replace" }) }}";
	id="visibility-{{ groupMember.id }}" data-toggle="confirmationChange"></i>&nbsp; {{ 'Groups.visibility.public'|trans }}</td>
                {% elseif groupMember.Visibility == 1 %}
                <td><i rel="tooltip-top" title='{{ 'ChangeVisibility'|trans }}' class="fa fa-lock btn btn-xs btn-danger"
                groupVisibility="1" changeVisibility="{{ path('panel_group_changeVisibility', { 'id': groupMember.id, 'visibility': "replace" }) }}";
	id="visibility-{{ groupMember.id }}" data-toggle="confirmationChange"></i>&nbsp; {{ 'Groups.visibility.private'|trans }}</td>
                {% elseif groupMember.Visibility == 2 %}
                <td><i rel="tooltip-top" title='{{ 'ChangeVisibility'|trans }}' class="fa fa-eye-slash btn btn-xs btn-warning"
                groupVisibility="2" changeVisibility="{{ path('panel_group_changeVisibility', { 'id': groupMember.id, 'visibility': "replace" }) }}";
	id="visibility-{{ groupMember.id }}" data-toggle="confirmationChange"></i>&nbsp; {{ 'Groups.visibility.hidden'|trans }}</td>
                {% endif %}
             {% else %}   
             {% if  groupMember.Visibility == 0 %}
                <td><i class="fa fa-unlock btn btn-xs btn-success"></i>&nbsp; {{ 'Groups.visibility.public'|trans }}</td>
                {% elseif groupMember.Visibility == 1 %}
                <td><i class="fa fa-unlock btn btn-xs btn-danger"></i>&nbsp; {{ 'Groups.visibility.private'|trans }}</td>
                {% elseif groupMember.Visibility == 2 %}
                <td><i class="fa fa-unlock btn btn-xs btn-warning"></i>&nbsp; {{ 'Groups.visibility.hidden'|trans }}</td>
              {% endif %}
                {% endif %}	
	#}	
</div>