{% set activeMenu = "groups" %}
{% set pageheader_title = "Groups.edit.title"|trans %}
{% set pageheader_description = "Groups.edit.description"|trans %}
{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

	{% block body_content %}
      <div class="row">
                <div class="col-lg-12">
                  <h4 class="alert alert-success"><i class="fa fa-users"></i>&nbsp; {{ "Groups.new.new"|trans }} {% include 'SopinetTemplateSbadmin2Bundle:Elements/Basics:helper.html.twig' with{id:'group',help_text: "Help.button.editGroup"|trans}%}</h4>
                </div>

                <div class="col-lg-12 alert alert-warning">
                    <div class="form-group">
                        <div id="prefetch">
                            {{"Group.new.locality"|trans}}: <input name="city" class="typeahead form-control" type="text" placeholder="Localidad" value="{% if group.city.nameUtf8 is defined %}{{ group.city.nameUtf8 }}{% endif %}">
                        </div>
                    </div>
                    {{ form(edit_form) }}
                </div>
	{% endblock %}
{% block js %}
  {{ parent() }} 
  <script> 
  var countries = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('nameUtf8'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    limit: 10,
    remote: '{{ path('get_geo_cities') }}'+'?q=%QUERY'
  });
         
  // kicks off the loading/processing of `local` and `prefetch`
  countries.initialize();
         
  // passing in `null` for the `options` arguments will result in the default
  // options being used
  $('#prefetch .typeahead').typeahead(null, {
  name: 'cities',
  displayKey: 'nameUtf8',
  // `ttAdapter` wraps the suggestion engine in an adapter that
  // is compatible with the typeahead jQuery plugin
  source: countries.ttAdapter()
  });
$("#trazeo_basebundle_group").parent().submit(function(e){
      e.preventDefault(); //STOP default action
      $("#trazeo_basebundle_group").parent().off();
      $(".typeahead.form-control.tt-input").detach().appendTo('#trazeo_basebundle_group');
      setTimeout(function(){$("#trazeo_basebundle_group").parent().submit()},100);
    });

  </script>

{% endblock %}