{% set activeMenu = "groups" %}
{% set pageheader_title = "Groups.index.title"|trans %}
{% set pageheader_description = "Groups.index.description"|trans %}
{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

       
{% block body_content %}

        <div class="col-lg-12 alert alert-success">
        	<div class="col-md-1">
        		<i class="fa fa-5x fa-users"></i>
        	</div>
        	<div class="col-md-10">
				<h4>{{ 'Groups.index.subtitle'|trans }}</h4>
					<a class="pull-left" href="{{ path('panel_group_new') }}">
						<button type="button" class="btn btn-success" id="new_group">
							 <i class="fa fa-plus-circle"></i>&nbsp; {{ 'Groups.new.title'|trans }}									
						</button>
					</a>	
			</div>
		
        </div><!-- END col-lg-12 alert alert-info -->
        <p>&nbsp;</p>

        {% for userAdmin in userAdmin %}
	        {% for allGroupsAccess in allGroupsAccess %}
				{% if userAdmin.Id == allGroupsAccess.Group.Id  %}
				<div>
	        		<td><b>{{ allGroupsAccess.Userextend }}</b> {{ 'Groups.access.request'|trans }} <b>{{ allGroupsAccess.Group }}</b>
						&nbsp;<a href="{{ path('panel_group_let_join', { 'id': allGroupsAccess.Userextend.Id, 'group':allGroupsAccess.Group.Id }) }}" type="button" class="label label-success">
							<i class="fa fa-check"></i> {{ 'Groups.access.accept'|trans }}
						</a>&nbsp;
						<a href="{{ path('panel_group_deny_join', { 'id': allGroupsAccess.Userextend.Id , 'group':allGroupsAccess.Group.Id }) }}" type="button" class="label label-danger">
							<i class="fa fa-times"></i> {{ 'Groups.access.deny'|trans }}
						</a>
	        		 </td>
				</div>
				<br />
	        	{% endif %}
	        {% endfor %}
        {% endfor %}
	        {% for allGroupInvite in allGroupsInvite %}
				{% if user.Id == allGroupInvite.Userextend.Id  %}
				<div class="alert alert-default">
	        		<p>{{ 'Groups.invite.request'|trans }} <b>{{ allGroupInvite.Group }}</b>
						&nbsp;<a href="{{ path('panel_group_invite_accept', { 'id': allGroupInvite.Userextend.Id, 'group':allGroupInvite.Group.Id }) }}" type="button" class="label label-success">
							<i class="fa fa-check"></i> {{ 'Groups.invite.accept'|trans }}
						</a>&nbsp;
						<a href="{{ path('panel_group_invite_deny', { 'id': allGroupInvite.Userextend.Id ,'group': allGroupInvite.Group.Id }) }}" type="button" class="label label-danger">
							<i class="fa fa-times"></i> {{ 'Groups.invite.deny'|trans }}
						</a>
	        		 </p>
	        	</div>
	        	{% endif %}
	        {% endfor %}


				{% include 'TrazeoFrontBundle:PanelGroups:_customGroups.html.twig' with {
					'user': user,
					'groupsAdmin': groupsAdmin,
					'groupsMember': groupsMember,
					'restGroups': restGroups
				} %}
	        
	        
{% endblock %}{# END body_content #}

{% block js %} {{ parent() }} 
	{% include 'TrazeoFrontBundle:PanelGroups:_index_analytics.html.twig' %}
	{% include 'TrazeoFrontBundle:PanelGroups:_tutorial.html.twig' %}
{% endblock %}