{% set activeMenu = "groups" %}
{% set pageheader_title = "Groups.index.title"|trans %}
{% set pageheader_description = "Groups.index.description"|trans %}
{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

       
{% block body_content %}

        <div class="col-lg-12 alert alert-success">
        	<div class="col-md-1">
        		<i class="fa fa-5x fa-users"></i>
        	</div>
        	<div class="col-md-10">
				<h4>Listado de grupos creados en Trazeo</h4>
				<form action="{{ path('panel_group') }}">
					<a class="pull-left" href="{{ path('panel_group_new') }}">
						<button type="button" class="btn btn-success" id="new_group">
							 <i class="fa fa-plus-circle"></i>&nbsp; {{ 'Groups.new.title'|trans }}									
						</button>
					</a>	
				</form>	
			</div>
		
        </div><!-- END col-lg-12 alert alert-info -->
        <p>&nbsp;</p>

        {% for userAdmin in userAdmin %}
	        {% for allGroupsAccess in allGroupsAccess %}
				{% if userAdmin.Id == allGroupsAccess.Group.Id  %}
				<div>
	        		<td><b>{{ allGroupsAccess.Userextend }}</b> pide acceso para unirse al grupo <b>{{ allGroupsAccess.Group }}</b> del que eres administrador
						&nbsp;<a href="{{ path('panel_group_let_join', { 'id': allGroupsAccess.Userextend.Id, 'group':allGroupsAccess.Group.Id }) }}" type="button" class="label label-success">
							<i class="fa fa-check"></i> Aceptar
						</a>&nbsp;
						<a href="{{ path('panel_group_deny_join', { 'id': allGroupsAccess.Userextend.Id , 'group':allGroupsAccess.Group.Id }) }}" type="button" class="label label-danger">
							<i class="fa fa-times"></i> Denegar
						</a>
	        		 </td>
				</div>
				<br />
	        	{% endif %}
	        {% endfor %}
        {% endfor %}
	        {% for allGroupInvite in allGroupsInvite %}
				{% if user.Id == allGroupInvite.Userextend.Id  %}
				<div class="alert alert-default">
	        		<p>Tienes una invitación para unirte al grupo oculto <b>{{ allGroupInvite.Group }}</b>
						&nbsp;<a href="{{ path('panel_group_invite_accept', { 'id': allGroupInvite.Userextend.Id, 'group':allGroupInvite.Group.Id }) }}" type="button" class="label label-success">
							<i class="fa fa-check"></i> Aceptar
						</a>&nbsp;
						<a href="{{ path('panel_group_invite_deny', { 'id': allGroupInvite.Userextend.Id ,'group': allGroupInvite.Group.Id }) }}" type="button" class="label label-danger">
							<i class="fa fa-times"></i> Cancelar
						</a>
	        		 </p>
	        	</div>
	        	{% endif %}
	        {% endfor %}


				{% include 'TrazeoFrontBundle:PanelGroups:_customGroups.html.twig' with {
					'user': user,
					'groupsAdmin': groupsAdmin,
					'groupsMember': groupsMember,
					'restGroups': restGroups
				} %}
	        
	        
{% endblock %}{# END body_content #}

{% block js %} {{ parent() }} 
	<input type="hidden" id="path_home" value="{{ path('panel_dashboard') }}">

	<script type="text/javascript">
	if(localStorage.getItem('tutorial')=='groups'){
		localStorage.setItem('tutorial','none');
   		var trip = new Trip([
   	                         { 
   	                             sel : $('.panel.panel-warning'),
   	                             content : 'Aqui aparecera la información de las rutas',
   	                             position: 'n'
   	                         },
   	                         { 
   	                             sel : $(".join-admin"),
   	                             content : '???',
   	                             position: 'n'
   	                         },
   	                         { 
   	                             sel : $(".group-timeline"),
   	                             content : 'Aqui podra chatear con el resto de tutores del grupo',
   	                             position: 'n'
   	                         },
   	                         { 
   	                             sel : $(".group-disjoin"),
   	                             content : 'Aqui podra salir de un grupo',
   	                             position: 'n'
   	                         },
   	                         { 
   	                             sel : $(".group-join"),
   	                             content : 'Aqui podra unirse a un grupo',
   	                             position: 'n'
   	                         },
   	                         { 
   	                             sel : $(".group-request-join"),
   	                             content : 'Aqui podra solicitar acesso a un grupo privado',
   	                             position: 'n'
   	                         },
   	                         { 
   	                             sel : $(".group-edit"),
   	                             content : 'Aqui podra editar la información de un grupo',
   	                             position: 'n'
   	                         },  
   	                         { 
   	                             sel : $(".group-visibility"),
   	                             content : 'Aqui podra cambiar la visibilidad del grupo si es administrador del mismo',
   	                             position: 'w',
   	                             callback: function(){
   	                            	localStorage.setItem('tutorial','routes');
                             	 	var url = $('#path_home').attr('value');    
                            	 	window.location.replace(url);
   	   	                         }
   	                         }
   	                         
                      ], {
        					 delay : 2500,
        					 skipUndefinedTrip: true
    				});
		trip.start();
	}
	</script>	
{% endblock %}