{% set activeMenu = "groups" %}
{% set pageheader_title = "Groups.index.title"|trans %}
{% set pageheader_description = "Groups.index.description"|trans %}
{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

       
{% block body_content %}

        <div class="col-lg-12 alert alert-success">
        	<div class="col-md-1">
        		<i class="fa fa-5x fa-users"></i>
        	</div>
        	<div class="col-md-10">
				<h4>Listado de grupos creados en Trazeo</h4>
				<form action="{{ path('panel_group') }}">
					<a class="pull-right" href="{{ path('panel_group_new') }}">
						<button type="button" class="btn btn-success" id="new_group">
							 <i class="fa fa-users"></i>&nbsp; {{ 'Groups.new.title'|trans }}									
						</button>
					</a>	
					<div class="input-group custom-search-form col-md-4">
						<input type="search" class="form-control" placeholder='{{ "Trans.search.group"|trans }}'/>
						<span class="input-group-btn">
						<button class="btn btn-success" type="submit"><i class="fa fa-search"></i></button>
						</span>	
					</div>
				</form>	
			</div>
		
        </div><!-- END col-lg-12 alert alert-info -->
        <p>&nbsp;</p>

        {% for userAdmin in userAdmin %}
	        {% for allGroupsAccess in allGroupsAccess %}
				{% if userAdmin.Id == allGroupsAccess.Group.Id  %}
				<div>
	        		<td><b>{{ allGroupsAccess.Userextend }}</b> pide acceso para unirse al grupo <b>{{ allGroupsAccess.Group }}</b> del que eres administrador
						&nbsp;<a href="{{ path('panel_group_let_join', { 'id': allGroupsAccess.Userextend.Id, 'group':allGroupsAccess.Group.Id }) }}" type="button" class="label label-success">
							<i class="fa fa-check"></i> Aceptar
						</a>&nbsp;
						<a href="{{ path('panel_group_deny_join', { 'id': allGroupsAccess.Userextend.Id , 'group':allGroupsAccess.Group.Id }) }}" type="button" class="label label-danger">
							<i class="fa fa-times"></i> Denegar
						</a>
	        		 </td>
				</div>
				<br />
	        	{% endif %}
	        {% endfor %}
        {% endfor %}
	        {% for allGroupInvite in allGroupsInvite %}
				{% if user.Id == allGroupInvite.Userextend.Id  %}
				<div class="alert alert-default">
	        		<p>Tienes una invitación para unirte al grupo oculto <b>{{ allGroupInvite.Group }}</b>
						&nbsp;<a href="{{ path('panel_group_invite_accept', { 'id': allGroupInvite.Userextend.Id, 'group':allGroupInvite.Group.Id }) }}" type="button" class="label label-success">
							<i class="fa fa-check"></i> Aceptar
						</a>&nbsp;
						<a href="{{ path('panel_group_invite_deny', { 'id': allGroupInvite.Userextend.Id ,'group': allGroupInvite.Group.Id }) }}" type="button" class="label label-danger">
							<i class="fa fa-times"></i> Cancelar
						</a>
	        		 </p>
	        	</div>
	        	{% endif %}
	        {% endfor %}
   		
	<div class="panel-group" id="accordion1">
          <div class="alert alert-success">
          	<i class="fa fa-2x fa-check"></i>&nbsp;
        	<p class="label label-success">Formas parte de los siguientes grupos
        	<span class="btn btn-default btn-circle">{{ userGroups|length }}</span>
        	</p>
        </div>      
		{% for userGroup in userGroups %}
				<div class="panel panel-warning">
					<div class="panel-heading">
			        	<h4 class="panel-title" style="cursor:pointer;" data-toggle="collapse" data-parent="#accordion1" href="#collapse{{ userGroup.id }}">
							{% if userGroup.Admin.Id == user.Id %}
								<i class="fa fa-user" rel="tooltip-top" title="Eres administrador de este grupo"></i>
							{% endif %}	
			            	<a data-toggle="collapse" data-parent="#accordion1" href="#collapse{{ userGroup.id }}">
			            	{{ userGroup.name }}
			            	</a>
						</h4>
		            	<div class="pull-right" style="margin-top:-20px;">
							<a href="{{ path('panel_group_timeline',{'id': userGroup.id}) }}" type="button" 
							class="btn btn-default btn-xs group-timeline" rel="tooltip-top" title="Timeline de grupo">
								<i class="fa fa-comments-o"></i> Chat del grupo
							</a>
							<a href="{{ path('panel_group_disjoin', { 'id': userGroup.id }) }}" type="button" 
							class="btn btn-default btn-xs group-disjoin">
								<i class="fa fa-sign-out"></i> {{ 'DisJoin'|trans }}
							</a>
							{% if userGroup.Admin.Id == user.Id %}
									<a href="{{ path('panel_group') }}{{ userGroup.id }}/edit" type="button" 
									class="btn btn-default btn-xs group-edit">
										<i class="fa fa-pencil"></i> {{ 'Options.edit'|trans }}
									</a> 
							{% endif %}
			            	 	{% if userGroup.Visibility == 0 %}
									<span type="button" groupVisibility="0" changeVisibility="{{ path('panel_group_changeVisibility', { 'id': userGroup.id, 'visibility': "replace" }) }}";
									id="member-{{ userGroup.id }}"
									class="btn btn-success btn-xs group-visibility" rel="tooltip-top" title="Grupo público">
										<i class="fa fa-unlock"></i> {{ 'Groups.visibility.public'|trans }}
									</span>
								{% endif %}
			            	 	{% if userGroup.Visibility == 1 %}
									<span href="#" type="button" groupVisibility="1" changeVisibility="{{ path('panel_group_changeVisibility', { 'id': userGroup.id, 'visibility': "replace" }) }}";
									id="member-{{ userGroup.id }}" 
									class="btn btn-danger btn-xs group-visibility" rel="tooltip-top" title="Grupo privado">
										<i class="fa fa-lock"></i> {{ 'Groups.visibility.private'|trans }}
									</span>
								{% endif %}
		            	 	{% if userGroup.Visibility == 2 %}
								<span href="#" type="button" groupVisibility="2" changeVisibility="{{ path('panel_group_changeVisibility', { 'id': userGroup.id, 'visibility': "replace" }) }}";
								id="member-{{ userGroup.id }}"
								class="btn btn-warning btn-xs group-visibility" rel="tooltip-top" title="Grupo oculto">
									<i class="fa fa-eye-slash"></i> {{ 'Groups.visibility.hidden'|trans }}
								</span>									
		            	 	{% endif %}
		            	 	{% if userGroup.Admin.Id == user.Id %}
		            	 		<script type="text/javascript">
									document.getElementById("member-{{ userGroup.id }}").setAttribute("data-toggle","confirmationChange");
								</script> 	
							{% endif %}
		            	 </div>
					</div>
					<div id="collapse{{ userGroup.id }}" class="panel-collapse collapse {% if loop.index == 1 %}in{% endif %}">
						<div class="panel-body">
							<table class="table">
								<tbody>
									<tr>
										<td><i class="fa fa-key"></i></td>
										<td>Administrador del grupo</td>
										<td>{{ userGroup.admin.Nick }}</td>
									</tr>
									<tr>
										<td><i class="fa fa-location-arrow"></i></td>
										<td>Ruta asignada</td>
										<td>
										{% if userGroup.route %}
											<a href="{{ path('panel_route') }}{{ userGroup.route.id }}">{{ userGroup.route.name }}</a>
										{% else %}
											{{ 'Groups.noRoute'|trans }}
										{% endif %}
										</td>
									</tr>
									<tr>
										<td><i class="fa fa-user"></i></td>
										<td>Nº de niños en este grupo</td>
										<td><i class="btn btn-circle btn-warning"> {{ userGroup.Childs|length }}</i</td>
									</tr>
									<tr>
										<td><i class="fa fa-users"></i></td>
										<td>Miembros del grupo</td>
										<td>
										{% for userGroupsUser in userGroup.userextendgroups %}
											<span class="label label-warning">{{ userGroupsUser.Nick }}</span>
										{% endfor %}
										</td>
									</tr>
								</tbody>
							</table>
						{% if userGroup.Visibility == 2 and  userGroup.Admin.Id == user.Id %}
						<p class="text-muted">
						<i class="fa fa-envelope"></i>&nbsp;
							Envía una invitación a otros usuarios para que puedan unirse a este grupo oculto
						</p>
						<form class="col-md-3 input-group custom-search-form" action="{{ path('panel_group_invite') }}" method="POST">
							<input required type="email" name="userEmail" class="form-control" placeholder='{{ "Email"|trans }}'/>
							<input type="hidden" name="group" value="{{ userGroup.id }}"/>
							<span class="input-group-btn">
							<button class="btn btn-warning" type="submit"><i class="fa fa-check"></i></button>
							</span>				
						</form>
							
						{% endif %}
						</div>
					</div>
				</div>

		{% endfor %}
		</div>
	<div class="panel-group" id="accordion2">
          <div class="alert alert-success">
          	<i class="fa fa-2x fa-warning"></i>
          	&nbsp;
        	<p class="label label-success">Otros grupos que hay en tu ciudad
        	<span class="btn btn-default btn-circle ">{{ groups|length }}</span>
        	</p>
        </div>    
        {# Grupos en los que el usuario logueado no está inscrito, aunque sea admin de dicho grupo #}
		{% for group in groups %}

		{% if group.Visibility != 2 or group.Admin.Id == user.Id	 %}
			<div class="panel panel-warning">
				<div class="panel-heading">
		        	<h4 class="panel-title" style="cursor:pointer;" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{ group.id }}">
						{% if group.Admin.Id == user.Id %}
								<i class="fa fa-user" rel="tooltip-top" title="Eres administrador de este grupo"></i>
						{% endif %}
		            	<a data-toggle="collapse" data-parent="accordion2" href="#collapse{{ group.id }}">{{ group.name }}</a>
					</h4>
	            	<div class="pull-right" style="margin-top:-20px;">
		            	{% if group.Visibility == 1 and group.Admin.Id != user.Id %}
								<a href="{{ path('panel_group_requestJoin', { 'id': group.id }) }}" type="button" 
								class="btn btn-default btn-xs" rel="tooltip-top" title="Solictar acceso al grupo">
									<i class="fa fa-key"></i> Solicitar acceso
								</a> 
						{% endif %}
	
						{% if group.Visibility == 0 or group.Admin.Id == user.Id%}										
								<a href="{{ path('panel_group_join', { 'id': group.id }) }}" type="button" 
								class="btn btn-default btn-xs group-join">
									<i class="fa fa-users"></i> {{ 'Join'|trans }}
								</a> 
						{% endif %}
						{% if group.Admin.Id == user.Id %}
								<a href="{{ path('panel_group') }}{{ group.id }}/edit" type="button" 
								class="btn btn-default btn-xs group-edit" rel="tooltip-top" title="Editar información">
									<i class="fa fa-pencil"></i> Editar
								</a> 
						{% endif %}
	            	 	{% if group.Visibility == 0 %}
							<span type="button"   groupVisibility="0" changeVisibility="{{ path('panel_group_changeVisibility', { 'id': group.id, 'visibility': "replace" }) }}";
							id="nomember-{{ group.id }}"
							class="btn btn-success btn-xs group-visibility" rel="tooltip-top" title="Grupo público">
								<i class="fa fa-unlock"></i> {{ 'Groups.visibility.public'|trans }}
							</span>
						{% endif %}
	            	 	{% if group.Visibility == 1 %}
							<span href="#" type="button" groupVisibility="1" changeVisibility="{{ path('panel_group_changeVisibility', { 'id': group.id, 'visibility': "replace" }) }}";
							id="nomember-{{ group.id }}"
							class="btn btn-danger btn-xs group-visibility" rel="tooltip-top" title="Grupo privado">
								<i class="fa fa-lock"></i> {{ 'Groups.visibility.private'|trans }}
							</span>
						{% endif %}
	            	 	{% if group.Visibility == 2 %}
							<span href="#" type="button" groupVisibility="2" changeVisibility="{{ path('panel_group_changeVisibility', { 'id': group.id, 'visibility': "replace" }) }}";
							id="nomember-{{ group.id }}"
							class="btn btn-warning btn-xs group-visibility" rel="tooltip-top" title="Grupo oculto">
								<i class="fa fa-eye-slash"></i> {{ 'Groups.visibility.hidden'|trans }}
							</span>	
	            	 	{% endif %}
						{% if group.Admin.Id == user.Id %}
						<script type="text/javascript">
								document.getElementById("nomember-{{ group.id }}").setAttribute("data-toggle","confirmationChange");
						</script> 
				{% endif %}
	            	</div>
				</div>
				<div id="collapse{{ group.id }}" class="panel-collapse collapse">
					<div class="panel-body">

							<table class="table">
								<tbody>
									<tr>
										<td><i class="fa fa-key"></i></td>
										<td>Administrador del grupo</td>
										<td>{{ group.admin.Nick }}</td>
									</tr>
									<tr>
										<td><i class="fa fa-location-arrow"></i></td>
										<td>Ruta asignada</td>
										<td>
										{% if group.route %}
											<a href="{{ path('panel_route') }}{{ group.route.id }}">{{ group.route.name }}</a>
										{% else %}
											Ninguna ruta asignada										
										{% endif %}
										</td>
									</tr>
									<tr>
										<td><i class="fa fa-user"></i></td>
										<td>Nº de niños en este grupo</td>
										<td><i class="btn btn-circle btn-warning"> {{ group.Childs|length }}</i</td>
									</tr>
									<tr>
										<td><i class="fa fa-users"></i></td>
										<td>Miembros del grupo</td>
										<td>
										{% for groupUser in group.userextendgroups %}
											<span class="label label-warning">{{ groupUser.Nick }}</span>
										{% endfor %}
										</td>
									</tr>
								</tbody>
							</table>
						{% if group.Visibility == 2 and  group.Admin.Id == user.Id %}
							<form class="col-md-3" action="{{ path('panel_group_invite') }}" method="POST">
								<input class="form-control" type="email" name="userEmail" placeholder="Correo electrónico" />
								<input type="hidden" name="group" value="{{ group.id }}"/>
								<input class="btn btn-warning" type="submit" value="Invitar">							
							</form>
						{% endif %}
					</div>
					
	
				</div>
			</div>
		{% endif %}
		{% endfor %}
		<p>&nbsp;</p>
     </div>

{% endblock %}

{% block js %} {{ parent() }} 
	<input type="hidden" id="path_home" value="{{ path('panel_dashboard') }}">

	<script type="text/javascript">
	if(localStorage.getItem('tutorial')=='groups'){
		localStorage.setItem('tutorial','none');
   		var trip = new Trip([
   	                         { 
   	                             sel : $('.panel.panel-warning'),
   	                             content : 'Aqui aparecera la información de las rutas',
   	                             position: 'n'
   	                         },
   	                         { 
   	                             sel : $(".join-admin"),
   	                             content : '???',
   	                             position: 'n'
   	                         },
   	                         { 
   	                             sel : $(".group-timeline"),
   	                             content : 'Aqui podra chatear con el resto de tutores del grupo',
   	                             position: 'n'
   	                         },
   	                         { 
   	                             sel : $(".group-disjoin"),
   	                             content : 'Aqui podra salir de un grupo',
   	                             position: 'n'
   	                         },
   	                         { 
   	                             sel : $(".group-join"),
   	                             content : 'Aqui podra unirse a un grupo',
   	                             position: 'n'
   	                         },
   	                         { 
   	                             sel : $(".group-request-join"),
   	                             content : 'Aqui podra solicitar acesso a un grupo privado',
   	                             position: 'n'
   	                         },
   	                         { 
   	                             sel : $(".group-edit"),
   	                             content : 'Aqui podra editar la información de un grupo',
   	                             position: 'n'
   	                         },  
   	                         { 
   	                             sel : $(".group-visibility"),
   	                             content : 'Aqui podra cambiar la visibilidad del grupo si es administrador del mismo',
   	                             position: 'w',
   	                             callback: function(){
   	                            	localStorage.setItem('tutorial','routes');
                             	 	var url = $('#path_home').attr('value');    
                            	 	window.location.replace(url);
   	   	                         }
   	                         }
   	                         
                      ], {
        					 delay : 2500,
        					 skipUndefinedTrip: true
    				});
		trip.start();
	}
	</script>	
{% endblock %}