{% set activeMenu = "groups" %}
{% set pageheader_title = "Groups.index.title"|trans %}
{% set pageheader_description = "Groups.index.description"|trans %}
{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

		{% block body_content %}
			
        <div class="col-lg-12 alert alert-info">
        	<div class="col-md-1">
        		<i class="fa fa-5x fa-users"></i>
        	</div>
        	<div class="col-md-11">
				<h4>Estos grupos se encuentran en tu ciudad o en la de alguno de tus niños, y podrían interesarte.</h4>
					<div class="input-group custom-search-form col-md-4">
						<input type="search" class="form-control" placeholder='{{ "Trans.search.groups"|trans }}'/>
						<span class="input-group-btn">
						<button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
						</span>				
					</div>
			</div>
        </div><!-- END col-lg-12 alert alert-info -->
        				
	{% for group in groups %}
		<div class="panel-group" id="accordion">
			<div class="panel panel-warning">
				<div class="panel-heading">
		        	<h4 class="panel-title">
		            	<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ group.id }}">{{ group.name }}<div class="pull-right"><i class="btn btn-warning btn-circle"> {{ group.userextendgroups|length }}</i> {{ "Usuarios"|trans }}</div></a>
					</h4>
				</div>
				<div id="collapse{{ group.id }}" class="panel-collapse collapse">
					<div class="panel-body">
						<ul>
							<li>
								<b>Administrador del grupo:</b> {{ group.admin.Nick }} 
							</li>
							<li>
								<b>Nº de niños en este grupo:</b> {{ group.children.count }} 
							</li>
							<li>
							<b>Ruta asignada:</b> {{ group.routes.Name }}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
		
		{% endblock %}