{% set activeMenu = "groups" %}
{% set pageheader_title = "Groups.index.title"|trans %}
{% set pageheader_description = "Groups.index.description"|trans %}
{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

		{% block body_content %}
			
        <div class="col-lg-12 alert alert-info">
        	<div class="col-md-1">
        		<i class="fa fa-5x fa-users"></i>
        	</div>
        	<div class="col-md-11">
				<h4>Estos grupos se encuentran en tu ciudad o en la de alguno de tus niños, y podrían interesarte.</h4>
					<div class="input-group custom-search-form col-md-4">
						<input type="search" class="form-control" placeholder='{{ "Trans.search.groups"|trans }}'/>
						<span class="input-group-btn">
						<button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
						</span>				
					</div>
			</div>
        </div><!-- END col-lg-12 alert alert-info -->

        <p>&nbsp;</p>
        <div class="alert alert-info">
        	<h4><i class="fa fa-list-ul"></i> Grupos de los que formo parte</h4>
        </div>
        
        <div class="panel-group" id="accordion1">
		{% for userGroup in userGroups %}
		
			<div class="panel panel-warning">
				<div class="panel-heading">
		        	<h4 class="panel-title">
		            	<a data-toggle="collapse" data-parent="#accordion1" href="#collapse{{ userGroup.id }}">{{ userGroup.name }}</a>
		            	<div class="pull-right">
			<a href="{{ path('panel_group_disjoin', { 'id': userGroup.id }) }}"" type="button" class="btn btn-danger btn-circle">
									<i class="fa fa-times"></i>
								</a>
								Desvincularme del grupo
		            		<i class="btn btn-warning btn-circle"> {{ userGroup.userextendgroups|length }}</i>
		            	 	{{ "Usuarios"|trans }}
		            	 </div>
					</h4>
				</div>
				<div id="collapse{{ userGroup.id }}" class="panel-collapse collapse {% if loop.index == 1 %}in{% endif %}">
					<div class="panel-body">
						<ul>
							<li>
							<i class="fa fa-key"></i>
								<b>Administrador del grupo:</b> {{ userGroup.admin.Nick }} 
							</li>
							<li>
							<i class="fa fa-user"></i>
							<b>Miembros del grupo:</b>
								<ul>
									{% for userGroupsUser in userGroup.userextendgroups %}
										<li><b>Nombre:</b> {{ userGroupsUser.Nick }}</li>
									{% endfor %}
								</ul>
							</li>
							<li>
							<i class="fa fa-tasks"></i>
								<b>Nº de niños en este grupo:</b> {{ userGroup.childs.count }} 
							</li>
							<li>
							<b><i class="fa fa-location-arrow"></i> Ruta asignada:</b> {{ userGroup.route.name }}
							</li>
						</ul>
					</div>
				</div>
			</div>
		
		{% endfor %}
        </div>
        
        <div class="alert alert-info">
        	<h4><i class="fa fa-list"></i> Todos los Grupos</h4>
        </div>
        
        <div class="panel-group" id="accordion2">
		{% for group in groups %}
		
			<div class="panel panel-warning">
				<div class="panel-heading">
		        	<h4 class="panel-title">
		            	<a data-toggle="collapse" data-parent="#accordion2" href="#collapse{{ group.id }}">{{ group.name }}</a>
		            	<div class="pull-right">
								<a href="{{ path('panel_group_join', { 'id': group.id }) }}" type="button" class="btn btn-success btn-circle">
									<i class="fa fa-check"></i>
								</a>
								Unirme al grupo
		            	<i class="btn btn-warning btn-circle"> {{ group.userextendgroups|length }}</i> {{ "Usuarios"|trans }}</div>
					</h4>
				</div>
				<div id="collapse{{ group.id }}" class="panel-collapse collapse {% if loop.index == 1 %}in{% endif %}">
					<div class="panel-body">
						<ul>
							<li>
							<i class="fa fa-key"></i>
								<b>Administrador del grupo:</b> {{ group.admin.Nick }} 
							</li>
							<li>
							<i class="fa fa-user"></i>
							<b>Miembros del grupo:</b>
								<ul>
									{% for groupsUser in group.userextendgroups %}
										<li><b>Nombre:</b> {{ groupsUser.Nick }}</li>
									{% endfor %}
								</ul>
							</li>
							<li>
							<i class="fa fa-tasks"></i>
								<b>Nº de niños en este grupo:</b> {{ group.childs.count }} 
							</li>
							<li>
							<b><i class="fa fa-location-arrow"></i> Ruta asignada:</b> {{ group.route.Name }}
							</li>
						</ul>
					</div>
				</div>
			</div>
		
		{% endfor %}
		</div>
		
		{% endblock %}