{% set activeMenu = "groups" %}
{% set pageheader_title = "Groups.index.title"|trans %}
{% set pageheader_description = "Groups.index.description"|trans %}
{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

{% block body_content %}
	
       <div class="alert">
			<a href="{{ path('panel_child') }}">
				<button type="button" class="btn btn-default">
					<i class="fa fa-list-ul"></i> <i class="fa fa-user"></i> Listado de niños									
				</button>
			</a>
			<a href="{{ path('panel_route') }}">
				<button type="button" class="btn btn-default">
					<i class="fa fa-list-ul"></i> <i class="fa fa-location-arrow"></i> Listado de rutas									
				</button>
			</a>
			<div class="pull-right">
			</a>
			<a href="{{ path('panel_group_new') }}">
				<button type="button" class="btn btn-success btn-outline">
					<i class="fa fa-plus-circle"></i> <i class="fa fa-users"></i> Añadir grupo									
				</button>
			</a>
			<a href="{{ path('panel_child_new') }}">
				<button type="button" class="btn btn-success btn-outline">
					<i class="fa fa-plus-circle"></i> <i class="fa fa-user"></i> Añadir hijo a Trazeo									
				</button>
			</a>
			<a href="{{ path('panel_route_new') }}">
				<button type="button" class="btn btn-success btn-outline">
					<i class="fa fa-plus-circle"></i> <i class="fa fa-location-arrow"></i> Añadir ruta									
				</button>
			</a>
			</div>
       </div><!-- END col-lg-12 alert alert-info --> 
        {% for userAdmin in userAdmin %}
	        {% for allGroupsAccess in allGroupsAccess %}
				{% if userAdmin.Id == allGroupsAccess.Group.Id  %}
				<div class="alert alert-default">
	        		<p><b>{{ allGroupsAccess.Userextend }}</b> pide acceso para unirse al grupo <b>{{ allGroupsAccess.Group }}</b> del que eres administrador
						&nbsp;<a href="{{ path('panel_group_let_join', { 'id': allGroupsAccess.Userextend.Id, 'group':allGroupsAccess.Group.Id }) }}" type="button" class="label label-success">
							<i class="fa fa-check"></i> Aceptar
						</a>&nbsp;
						<a href="{{ path('panel_group_deny_join', { 'id': allGroupsAccess.Userextend.Id , 'group': allGroupsAccess.Group.Id }) }}" type="button" class="label label-danger">
							<i class="fa fa-times"></i> Denegar
						</a>
	        		 </p>
				</div>
	        	{% endif %}
	        {% endfor %}
        {% endfor %}
	        {% for allGroupInvite in allGroupsInvite %}
				{% if user.Id == allGroupInvite.Userextend.Id  %}
				<div class="alert alert-default">
	        		<p>Tienes una invitación para unirte al grupo oculto <b>{{ allGroupInvite.Group }}</b>
						&nbsp;<a href="{{ path('panel_group_invite_accept', { 'id': allGroupInvite.Userextend.Id, 'group':allGroupInvite.Group.Id }) }}" type="button" class="label label-success">
							<i class="fa fa-check"></i> Aceptar
						</a>&nbsp;
						<a href="{{ path('panel_group_invite_deny', { 'id': allGroupInvite.Userextend.Id }) }}" type="button" class="label label-danger">
							<i class="fa fa-times"></i> Cancelar
						</a>
	        		 </p>
	        	</div>
	        	{% endif %}
	        {% endfor %}
   		
	<div class="panel-group" id="accordion1">
          <div class="alert alert-success">
          	<i class="fa fa-2x fa-check"></i>&nbsp;
        	<p class="label label-success">Formas parte de los siguientes grupos
        	<span class="btn btn-default btn-circle">{{ userGroups|length }}</span>
        	</p>
        </div>      
		{% for userGroup in userGroups %}
				<div class="panel panel-warning">
					<div class="panel-heading">
			        	<h4 class="panel-title">
							{% if userGroup.Admin.Id == user.Id %}
								<i class="fa fa-user" rel="tooltip-top" title="Eres administrador de este grupo"></i>
							{% endif %}	
			            	<a data-toggle="collapse" data-parent="#accordion1" href="#collapse{{ userGroup.id }}">
			            	{{ userGroup.name }}
			            	</a>
			            	<div class="pull-right" style="margin-top:-3px;">
			            	 	{% if userGroup.Visibility == 0 %}
									<span type="button" 
									class="btn btn-success btn-xs" rel="tooltip-top" title="Grupo público">
										<i class="fa fa-unlock"></i> Público
									</span>
								{% endif %}
			            	 	{% if userGroup.Visibility == 1 %}
									<span href="#" type="button" 
									class="btn btn-danger btn-xs" rel="tooltip-top" title="Grupo privado">
										<i class="fa fa-lock"></i> Privado
									</span>
								{% endif %}
			            	 	{% if userGroup.Visibility == 2 %}
									<span href="#" type="button" 
									class="btn btn-warning btn-xs" rel="tooltip-top" title="Grupo oculto">
										<i class="fa fa-eye-slash"></i> Oculto
									</span>	
			            	 	{% endif %}
								<a href="{{ path('panel_group_timeline',{'id': userGroup.id}) }}" type="button" 
								class="btn btn-default btn-xs" rel="tooltip-top" title="Chat del grupo">
									<i class="fa fa-comments-o"></i> Timeline
								</a>
								<a href="{{ path('panel_group_disjoin', { 'id': userGroup.id }) }}" type="button" 
								class="btn btn-default btn-xs" rel="tooltip-top" title="Salir de este grupo">
									<i class="fa fa-sign-out"></i> Salir
								</a>
							{% if userGroup.Admin.Id == user.Id %}
									<a href="{{ path('panel_group') }}{{ userGroup.id }}/edit" type="button" 
									class="btn btn-default btn-xs" rel="tooltip-top" title="Editar información">
										<i class="fa fa-pencil"></i> Editar
									</a> 
							{% endif %}
			            	 </div>
						</h4>
					</div>
					<div id="collapse{{ userGroup.id }}" class="panel-collapse collapse {% if loop.index == 1 %}in{% endif %}">
						<div class="panel-body">
							<table class="table">
								<tbody>
									<tr>
										<td><i class="fa fa-key"></i></td>
										<td>Administrador del grupo</td>
										<td>{{ userGroup.admin.Nick }}</td>
									</tr>
									<tr>
										<td><i class="fa fa-location-arrow"></i></td>
										<td>Ruta asignada</td>
										<td>{{ userGroup.route.name }}</td>
									</tr>
									<tr>
										<td><i class="fa fa-user"></i></td>
										<td>Nº de niños en este grupo</td>
										<td><i class="btn btn-circle btn-warning"> {{ userGroup.Childs|length }}</i</td>
									</tr>
									<tr>
										<td><i class="fa fa-users"></i></td>
										<td>Miembros del grupo</td>
										<td>
										{% for userGroupsUser in userGroup.userextendgroups %}
											<span class="label label-warning">{{ userGroupsUser.Nick }}</span>
										{% endfor %}
										</td>
									</tr>
								</tbody>
							</table>
						{% if userGroup.Visibility == 2 and  userGroup.Admin.Id == user.Id %}
							<form class="col-md-3" action="{{ path('panel_group_invite') }}" method="POST">
								<input class="form-control" type="email" name="userEmail" placeholder="Correo electrónico" />
								<input type="hidden" name="group" value="{{ userGroup.id }}"/>
								<input class="btn btn-success" type="submit" value="Invitar">							
							</form>
						{% endif %}
						</div>
					</div>
				</div>

		{% endfor %}
		</div>
	<div class="panel-group" id="accordion2">
          <div class="alert alert-success">
          	<i class="fa fa-2x fa-warning"></i>
          	&nbsp;
        	<p class="label label-success">Otros grupos que hay en tu ciudad
        	<span class="btn btn-default btn-circle ">{{ groups|length }}</span>
        	</p>
        </div>    
        {# Grupos en los que el usuario logueado no está inscrito, aunque sea admin de dicho grupo #}
		{% for group in groups %}

		{% if group.Visibility != 2 or group.Admin.Id == user.Id %}
			<div class="panel panel-warning">
				<div class="panel-heading">
		        	<h4 class="panel-title">
						{% if group.Admin.Id == user.Id %}
								<i class="fa fa-user" rel="tooltip-top" title="Eres administrador de este grupo"></i>
						{% endif %}
		            	<a data-toggle="collapse" data-parent="#accordion2" href="#collapse{{ group.id }}">{{ group.name }}</a>
		            	<div class="pull-right">
			            	 	{% if group.Visibility == 0 %}
									<span type="button" 
									class="btn btn-success btn-xs" rel="tooltip-top" title="Grupo público">
										<i class="fa fa-unlock"></i> Público
									</span>
								{% endif %}
			            	 	{% if group.Visibility == 1 %}
									<span href="#" type="button" 
									class="btn btn-danger btn-xs" rel="tooltip-top" title="Grupo privado">
										<i class="fa fa-lock"></i> Privado
									</span>
								{% endif %}
			            	 	{% if group.Visibility == 2 %}
									<span href="#" type="button" 
									class="btn btn-warning btn-xs" rel="tooltip-top" title="Grupo oculto">
										<i class="fa fa-eye-slash"></i> Oculto
									</span>	
			            	 	{% endif %}
		            	{% if group.Visibility == 1 and group.Admin.Id != user.Id %}
								<a href="{{ path('panel_group_requestJoin', { 'id': group.id }) }}" type="button" 
								class="btn btn-default btn-xs" rel="tooltip-top" title="Solictar acceso al grupo">
									<i class="fa fa-key"></i> Solicitar acceso
								</a> 
						{% endif %}

						{% if group.Visibility == 0 or group.Admin.Id == user.Id%}										
								<a href="{{ path('panel_group_join', { 'id': group.id }) }}" type="button" 
								class="btn btn-default btn-xs" rel="tooltip-top" title="Unirme a este grupo">
									<i class="fa fa-users"></i> Unirme
								</a> 
						{% endif %}
						{% if group.Admin.Id == user.Id %}
								<a href="{{ path('panel_group') }}{{ group.id }}/edit" type="button" 
								class="btn btn-default btn-xs" rel="tooltip-top" title="Editar información">
									<i class="fa fa-pencil"></i> Editar
								</a> 
						{% endif %}
		            	</div>
		            	</h4>
				</div>
				<div id="collapse{{ group.id }}" class="panel-collapse collapse">
					<div class="panel-body">
						<ul>
							<li>
							<i class="fa fa-key"></i>
								<b>Administrador del grupo:</b> {{ group.admin.Nick }} 
							</li>
							<li>
							<b><i class="badge"> {{ group.userextendgroups|length }}</i> Miembros en este grupo:</b>
								<ul>
									{% for groupsUser in group.userextendgroups %}
										<li><b>Nombre:</b> {{ groupsUser.Nick }}</li>
									{% endfor %}
								</ul>
							</li>
							<li>
							<i class="fa fa-tasks"></i>
								<b>Nº de niños en este grupo:</b> {{ group.childs.count }} 
							</li>
							<li>
							<b><i class="fa fa-location-arrow"></i> Ruta asignada:</b> {{ group.route.Name }}
							</li>
						</ul>
						{% if group.Visibility == 2 and  group.Admin.Id == user.Id %}
							<form class="col-md-3" action="{{ path('panel_group_invite') }}" method="POST">
								<input class="form-control" type="email" name="userEmail" placeholder="Correo electrónico" />
								<input type="hidden" name="group" value="{{ group.id }}"/>
								<input class="btn btn-success" type="submit" value="Invitar">							
							</form>
						{% endif %}
					</div>
				</div>
			</div>
		{% endif %}
		{% endfor %}
		<p>&nbsp;</p>
     </div>

{% endblock %}
