{% set activeMenu = "groups" %}
{% set pageheader_title = "Groups.new.title"|trans %}
{% set pageheader_description = "Groups.new.description"|trans %}
{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

		{% block body_content %}
			<div class="row">
                <div class="col-lg-12">
                	<h4 class="alert alert-success"><i class="fa fa-users"></i>&nbsp; {{ "Groups.new.new"|trans }}</h4>
                </div>

                <div class="col-lg-12 alert alert-warning">
                    <div class="form-group">
                        <div id="prefetch">
                            {{"Group.new.locality"|trans}}: <input name="city" class="typeahead form-control" type="text" placeholder="Localidad" value="{% if app.user.userextend.city.nameUtf8 is defined %}{{ app.user.userextend.city.nameUtf8 }}{% endif %}">
                        </div>
                    </div>
                    {{ form(form) }}
                </div>

                {% include 'TrazeoFrontBundle:PanelGroups:_modal_newGroup.html.twig'%}
		{% endblock %}
        {% block js %}
         {{ parent() }} 
            <script> 
                $( "form" ).submit(function(event) {
                    $("#newRouteModal").modal('show');
                    event.preventDefault();
                    $("#trazeo_basebundle_group").parent().off();
                });
                $( "#now" ).click(function(event) {
                    $("#trazeo_basebundle_group_hasRide").val(1);
                    $( "form").unbind();
                    $(".typeahead.form-control.tt-input").detach().appendTo('#trazeo_basebundle_group');
                    $( "form" ).submit();
                });  
                $( "#later" ).click(function(event) {
                    $("#trazeo_basebundle_group_hasRide").val(0);
                    $( "form").unbind();
                    $(".typeahead.form-control.tt-input").detach().appendTo('#trazeo_basebundle_group');
                    $( "form" ).submit();
                });                  
            var countries = new Bloodhound({
              datumTokenizer: Bloodhound.tokenizers.obj.whitespace('nameUtf8'),
              queryTokenizer: Bloodhound.tokenizers.whitespace,
            limit: 10,
            remote: '{{ base_url }}/api/geo/city/list?q=%QUERY',
            });
         
            // kicks off the loading/processing of `local` and `prefetch`
            countries.initialize();
         
            // passing in `null` for the `options` arguments will result in the default
         // options being used
            $('#prefetch .typeahead').typeahead(null, {
            name: 'cities',
            displayKey: 'nameUtf8',
            // `ttAdapter` wraps the suggestion engine in an adapter that
            // is compatible with the typeahead jQuery plugin
            source: countries.ttAdapter()
            });

        </script>
      {% endblock %}