{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

{% block body_content %}

	<div class="row">
		<div class="col-lg-8">
		<h3 class="alert alert-success"><i class="fa fa-comments-o"></i> &nbsp;Chat del grupo <b>{{ group.Name }}</b></h3>
			{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': group.id} %}
		</div>
		<div class="col-lg-offset-1 col-lg-3 alert">
			<div class="row">
				<h4 class="alert alert-success"><i class="fa fa-user"></i> Tus niños en este grupo</h4>
				
				{% if childs|length <= 0 %}
					<p class="alert alert-warning">Ninguno de tus niños está en este grupo</p>
				{% endif %}
				<ul>
					{% for child in childs %}
						<li class="alert-warning">
							{% if child.Gender == "boy" %}
							<i class="fa fa-male fa-2x"></i>&nbsp;
							{% elseif child.Gender == "girl" %}
							<i class="fa fa-female fa-2x"></i>&nbsp;
							{% endif %}
							{{ child.Nick }}
						</li>
						<br />
					{% endfor %}
				</ul>
				<a class="label label-warning" data-toggle="collapse" data-parent="#accordion1" href="#collapseAddChild">Vincular alguno de mis niños con este grupo &nbsp;<i class="fa fa-chevron-down"></i></a>
				<div id="collapseAddChild" class="panel-collapse collapse">
				<br />
				{% if childsNoGroup|length <= 0 %}
				<p class="alert alert-warning">Sin resultados <a href="{{ path('panel_child_new') }}" class="btn btn-warning btn-xs pull-right"><i class="fa fa-plus-circle"></i> Registrar niño </a></p>
				
				{% endif %}
					<ul>
						{% for child in childsNoGroup %}
							<li class="alert-warning">
							{% if child.Gender == "boy" %}
							<i class="fa fa-male fa-2x"></i>&nbsp;
							{% elseif child.Gender == "girl" %}
							<i class="fa fa-female fa-2x"></i>&nbsp;
							{% endif %}
							<a href="{{ path('panel_group_joinChild', {'group': group.id, 'child': child.id}) }}">{{ child.nick }}</a>
							</li>
							<br />
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="row">
			<br />
				<h4 class="alert alert-success"><i class="fa fa-list-ul"></i> &nbsp;Otros padres</h4>
				<ul>
					{% for userextend in group.userextendgroups %}
						<li class="alert-warning"><i class="fa fa-user"></i> &nbsp;{{ userextend.nick }}</li>
					{% endfor %}
				</ul>
			</div>
			
			<br />
			<div class="row">
				<h4 class="alert alert-success"><i class="fa fa-envelope"></i>&nbsp; Invitar al grupo</h4>
					<p class="alert alert-warning">Envía una notificación a otros padres para que puedan unirse a este grupo.</p>	
					<form class="input-group custom-search-form" action="{{ path('panel_group_invite') }}" method="POST">
						<input required type="email" name="userEmail" class="form-control" placeholder='{{ "Email"|trans }}'/>
						<input type="hidden" name="group" value="{{ group.id }}"/>
						<span class="input-group-btn">
						<button class="btn btn-warning" type="submit"><i class="fa fa-check"></i></button>
						</span>				
					</form>
					
					
			</div>
			
		</div>
	</div>

{% endblock %}